[2010-10-14 14:20] atd opened #1 "User support"
Basic user support with devise.

Find how to manage with devise options

[2010-10-14 14:21] atd opened #2 "Group support"
Group actor support

[2010-10-14 14:21] atd opened #3 "Post and Comment support"
Include post and comment as activity objects

[2010-10-20 15:59] atd commented on #1
Done!

[2010-10-20 15:59] #1 closed, assigned to nobody

[2010-10-21 14:07] atd commented on #3
Comments - closed by fedac7ec6c07b0943f8c31d5a2fd30820463b9ed

[2010-10-21 14:07] #3 closed, assigned to nobody

[2010-11-08 16:45] atd commented on #2
done

[2010-11-08 16:45] #2 closed, assigned to nobody

[2010-11-13 20:14] atd opened #4 "Delete public/index.html in generator"

[2010-11-13 20:16] atd opened #5 "Optimize current_user query including the actor"

[2010-11-19 01:25] diegocarrera opened #6 "CMS about social stream"
update content of a website about social stream, with documentation about this core.

[2010-11-19 01:25] diegocarrera opened #7 "enhance create new groups"
create a seccion for admin  new groups

[2010-11-19 01:33] diegocarrera opened #8 "fix css on sign in, sign up"
create a css for register, login, lost password, and all the screens before login

[2010-11-19 01:34] diegocarrera opened #9 "create a comunity about social stream"
ideas for create a comunity

[2010-11-19 01:38] diegocarrera commented on #6
we get a domain & hosting for this web
http://social_stream.dit.upm.es/

[2010-11-19 01:39] diegocarrera commented on #6
we are going to use refinerycms for CMS 's social stream,
http://refinerycms.com/

[2010-11-19 02:00] diegocarrera opened #10 "user's profile"

[2010-11-19 02:01] diegocarrera opened #11 "browse section by users & groups"

[2010-11-19 08:39] atd commented on #9
what do you mean by community? a real deploy of a website, beyond the demo site?

[2010-11-19 08:41] atd commented on #7
I was missing it too!

[2010-11-19 08:42] atd commented on #6
refinery is already deployed in the site

[2010-11-19 08:42] atd commented on #10
I do not understand this one: "administrar para perfil"

[2010-11-19 08:44] atd commented on #11
Is not this already created? Do you mean fixing it?

[2010-11-19 11:02] diegocarrera commented on #6
so, we have to complete the content of the web site

[2010-11-19 11:03] diegocarrera commented on #10
is a place where people can edit your profile on social stream

[2010-11-19 11:04] diegocarrera commented on #11
yeap.. fix css and more interaction

[2010-11-23 09:27] atd opened #12 "search"
provide search functionality for users and groups

[2010-11-23 09:30] atd opened #13 "account section"
Diego, what does it consist on?

[2010-11-23 09:31] atd opened #14 "messages between agents"
sent, receive, draft?

[2010-11-23 09:32] atd opened #15 "mailing lists"

[2010-11-23 09:34] atd opened #16 "create new group"

[2010-11-23 09:34] atd opened #17 "group membership request"

[2010-11-23 09:37] atd opened #18 "group walls"
There are several types of walls for a group:
- Internal discussion among the members of the group
- Public discussion from the group
- Recopilation of posts from the followers of the group

[2010-11-23 09:38] atd opened #19 "group partners"
New relation between groups: partners

[2010-11-23 09:38] atd opened #20 "group's profile"
Edit group data

[2010-11-23 09:43] atd opened #21 "Fix emails in social_stream/demo"

[2010-11-23 11:38] diegocarrera commented on #13
this part is the configuration, about defult tie for share activities, and administration for your ties (contacts)

[2010-11-23 11:39] diegocarrera commented on #14
i did the sent part, so there is a receive part that is  lack to complete

[2010-11-23 11:53] atd commented on #13
ok about defaults, I was discussing with Alicia that yesterday, about the difference between account and profile. In global2, account are the personal settings of users regarding the application, while profile are personal data from real life.

What do you mean with "administration for you ties (contacts)" Can you be more explicit?

[2010-11-24 11:25] atd commented on #16
This is duplicated with #7. Closing

[2010-11-24 11:25] #16 closed, assigned to nobody

[2010-11-24 14:37] atd commented on #4
Remove public/index.html in generator, closed by 852867e0c73432ea94c8d36d6e7cac7e1d2ef5e1

[2010-11-24 14:37] #4 closed, assigned to nobody

[2010-11-24 14:44] atd opened #22 "Authorization filters"
We must protect every controller with cancan

[2010-11-25 12:09] atd commented on #6
The first version of the content is done. Please, review it.
CSS is missing

[2010-11-25 12:11] atd opened #23 "Installation script"
Create a install script for easy download of a social stream application

An option is using Rails templates:

http://m.onkey.org/rails-templates

[2010-12-02 17:16] diegocarrera opened #24 "css re-estructure"
new css estructure and optimize

[2010-12-02 17:17] diegocarrera opened #25 "Edit and delete spheres (was: Edit privacy settings)"
Allow users and groups to define their own relations

[2010-12-15 15:27] dleatham opened #26 "Tool for private groups?"
I'm looking to implement a site that requires users to be part of at least one group.  All groups must keep activities completely private from other groups.  There cannot be any sharing of information between groups, but a member needs to be able to be a member of multiple groups.

In looking at the schema for social_stream it doesn't look I can implement these requirements without substantial mod

[2010-12-15 15:27] dleatham opened #27 "Tool for private groups?"
I'm looking to implement a site that requires users to be part of at least one group.  All groups must keep activities completely private from other groups.  There cannot be any sharing of information between groups, but a member needs to be able to be a member of multiple groups.

In looking at the schema for social_stream it doesn't look I can implement these requirements without substantial mod

[2010-12-15 15:56] atd commented on #27
Duplicate of #26

[2010-12-15 15:56] #27 closed, assigned to nobody

[2010-12-15 15:58] atd commented on #26
Hi dleatham. Why do you think your use case cannot be implemented using Social Stream?

[2010-12-15 22:36] dleatham commented on #26
I looked at my earlier post I realized I left out one key requirement - the groups need to be self organizing (organic.)  A user needs to be able to create their own group and invite other users into the group.

In looking through the social_stream schema:

I don't see a group object having a specific actor(s) identified as group creator/owner/moderator.  Membership in a private group needs to be

[2010-12-16 02:46] Arcolye opened #28 "Installing... OpenSSL::SSL::SSLError"
C:/ruby/Ruby192/lib/ruby/1.9.1/net/http.rb:677:in `connect': SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed (OpenSSL::SSL::SSLError)

[2010-12-16 06:11] Arcolye commented on #28
Temporary fix:

add this in application.rb
OpenSSL::SSL::VERIFY_PEER = OpenSSL::SSL::VERIFY_NONE

so your file looks like this:
1. require File.expand_path('../boot', FILE)
2. OpenSSL::SSL::VERIFY_PEER = OpenSSL::SSL::VERIFY_NONE
3. require 'rails/all'

EDIT: As soon as you install jquery you can (and should) remove that line.

[2010-12-16 06:36] #26 closed, assigned to nobody

[2010-12-16 08:49] atd commented on #26
administrators, moderators and members are **relations**. When _Alice_ is _administrator_ of group _Work_, there would be a tie with:
- sender: Work
- receiver: Alice
- relation: administrator

Ties posted by _Alice_ will be attached to that tie. This way, they will only be accessed by users that have ties with _Work_. The privacy is handled through the tie. The tie has the information of user-gro

[2010-12-16 09:03] atd commented on #28
Won't fix. It seems a OS/Ruby/SSL bug beyond our scope.

http://support.github.com/discussions/repos/4714-jquery-github-ssl

[2010-12-16 09:03] #28 closed, assigned to nobody

[2010-12-20 15:17] atd commented on #6
Added CSS

[2010-12-20 15:17] #6 closed, assigned to diegocarrera

[2010-12-20 15:19] atd commented on #9
No answers. Closing

[2010-12-20 15:19] #9 closed, assigned to diegocarrera

[2011-01-20 09:53] #19 closed, assigned to nobody

[2011-02-02 10:41] atd commented on #5
It must do the query anyway

[2011-02-02 10:41] #5 closed, assigned to nobody

[2011-02-02 10:43] atd commented on #17
This issue depends on private messages #14

[2011-02-24 23:48] VSBDev commented on #11
Created and tested, ajax pagination, search by initial or plain search ready for users and groups

[2011-02-24 23:48] #11 closed, assigned to nobody

[2011-02-24 23:50] VSBDev commented on #12
Simple search for users and groups ready.

[2011-02-24 23:50] #12 closed, assigned to nobody

[2011-02-24 23:53] VSBDev opened #29 "Heroku deployment"
Docs and an install script.

[2011-02-24 23:56] VSBDev opened #30 "Oauth integration"
To prepare either an application API or social-stream node to node communication

[2011-02-25 09:12] atd commented on #21
No emails for social_stream/demo yet

[2011-02-25 09:12] #21 closed, assigned to atd

[2011-03-03 11:25] adiezbal commented on #10
I think it's finished

[2011-03-03 11:25] #10 closed, assigned to adiezbal

[2011-03-03 13:56] atd opened #31 "Document permissions"
Create a wiki page with all the permissions available in the application

[2011-03-03 13:57] atd opened #32 "CSS cheatsheet"
Create a guide with the basic CSS available

[2011-03-03 14:26] VSBDev opened #33 "Fix users & groups paginations css"

[2011-03-04 01:00] Roendal commented on #14
Working on basic messaging gem and testing basic functionality

[2011-03-04 01:00] Roendal commented on #14
Accidentally closed, can't reopen

[2011-03-04 08:50] atd commented on #14
Neither do I!
We'll have to open another issue.

[2011-03-04 08:52] #14 closed, assigned to Roendal

[2011-03-04 14:36] Roendal opened #34 "Messaging system"
Create and integrate a messaging system for social stream. Basic versión should include conversation, message anidation and multiple recipients.

[2011-03-04 14:38] Roendal commented on #34
Gem created for basic functionality. Now I am working on rspec tests.

[2011-03-08 06:42] VSBDev commented on #33
As talked in our last meeting now the css for browsing users and groups fits with the provided screenshots.

[2011-03-08 06:42] #33 closed, assigned to VSBDev

[2011-03-08 06:44] VSBDev commented on #8
Screenshots needed with facebook and linkedin logos included

[2011-03-08 09:31] VSBDev commented on #29
Added new wiki page: How to deploy social stream to heroku

[2011-03-08 09:36] VSBDev commented on #29
Added bin/social_stream_heroku script

[2011-03-08 09:36] #29 closed, assigned to VSBDev

[2011-03-08 14:59] atd opened #35 "Add support for popular and active groups"

[2011-03-09 13:04] atd commented on #31
Permissions documentation, closed by 1f71d117460376c1c811a36361ca1e0de3f85828

[2011-03-09 13:04] #31 closed, assigned to atd

[2011-03-09 13:27] atd opened #36 "Broken links in sign_up"
Links to external authentication services are broken in the sign_up view, when the application is deployed within a directory.

It can be reproduced at http://social-stream.dit.upm.es/demo/

It is solved using users_path like routes.

[2011-03-09 13:46] VSBDev commented on #36
Antonio, this issue seems to be inherited from devise 1.2.rc

Those links are automatically rendered with:
<%= render :partial => "devise/shared/links" %>

I can fix it by creating that links by myself and avoid that render, would that be ok?

[2011-03-09 13:51] atd commented on #36
Ok! I think we should report it to devise if it is not already done.

If they took too much time in releasing a fix, then we should replace them.

[2011-03-09 14:08] VSBDev commented on #36
I can't see any reference to this in their issues and after checking our: routes.rb that included:

devise_for :users, :controllers => { :omniauth_callbacks => "users/omniauth_callbacks" }

(as devise guide indicate at: https://github.com/plataformatec/devise/wiki/OmniAuth%3A-Overview)

and the devise repository, the error seems to be in the omniauth url helpers.

This issue is now added by me rig

[2011-03-09 14:20] VSBDev commented on #36
I got an answer from devise, this wasn't on the issues list because it was a pending pull.

As soon as they approve this pull:
https://github.com/vinibaggio/omniauth/commit/bf1c9caa04b459a606aed6c995dca584260b81ab

Our issue will be solved.

Regards

[2011-03-09 15:41] atd commented on #36
Great Víctor! Good job!

[2011-03-09 21:51] #36 closed, assigned to VSBDev

[2011-03-09 22:49] Roendal commented on #34
Basic gem tested. Working on integration with social stream.

[2011-03-10 08:52] atd commented on #36
The pull request was already merged in omniauth

[2011-03-10 08:55] atd commented on #34
The messages gem is https://github.com/ging/mailboxer

[2011-03-10 09:01] VSBDev commented on #36
I'm looking to our .gemspec and it seems that we have the last omniauth version 0.2.0.beta5, which version do we have at the official site demo??

[2011-03-10 09:38] atd commented on #36
It is the same, 0.2.0.beta5, which was published 9 days ago.
We have to wait for a new release.

[2011-03-10 09:49] VSBDev commented on #36
I'll check it out often in order to change it as soon as the new version is released

[2011-03-10 13:59] ehaselwanter opened #37 "migrations"
I would suggest to do migrations the rails way to have a upgrade path. or is there a helper that extracts the migration modifications if i update from version to version of the gem?

[2011-03-10 14:34] atd commented on #37
Hi ehaselwanter,
Social Stream is not currently mature enough for a production environment. Besides, the database schema is still constantly (although decreasingly) changing, so it is currently a burden for us to maintain migrations.

Of course, we will support them when the schema becomes stable.

[2011-03-10 14:37] ehaselwanter commented on #37
I see. Just wanted to let you know. Another question. Why is the e-mail in the Actor rather than the User? I think it is ok to have it in the Actor but can't see the advantage. I think it would be better to have the user as the hub for his actors. and the user should have the e-mail for password reset, etc ...

[2011-03-10 14:38] ehaselwanter commented on #37
and i would suggest to use haml, sass and compass. much easier to maintain than erb (IMHO)

[2011-03-10 14:39] ehaselwanter commented on #37
what do you think about the friending and message/post part of social_stream. is this mature enough for production use. I would like to have something like that in one of my apps ..

[2011-03-10 15:09] atd commented on #37
Hi ehaselwanter,

Email is in Actor because we think Actors (users, groups, institutions, departments, etc) usually have an email. So it is a common attribute for every actor type (subject).

The friending part has only one feature left to be stable, customizing relations and permissions (issue #25)

The message part is going to be released as a separate gem (#34), though it will be fully integrat

[2011-03-10 17:16] ehaselwanter opened #38 "jquery.form missing"
ActionController::RoutingError (No route matches "/javascripts/jquery.form"):

[2011-03-10 17:26] atd commented on #38
We are cleaning layouts right now. Diego just committed changes that fix this issue.

[2011-03-10 17:59] ehaselwanter commented on #38
just wanted to let you know.

[2011-03-10 18:07] atd commented on #38
Thank you!

[2011-03-10 22:34] #37 closed, assigned to nobody

[2011-03-11 01:26] #38 closed, assigned to nobody

[2011-03-11 02:19] Roendal commented on #34
Basic integration example commited.

[2011-03-11 10:34] ehaselwanter opened #39 "devise customization"
To be able to further customize devise with application controllers the

  devise_for :users, :controllers => {:omniauth_callbacks => 'omniauth_callbacks'}

should not be placed in the engines routes.rb

[2011-03-11 15:37] diegocarrera commented on #37
This is based on Wasserman book,
Check it.
http://books.google.com/books?id=CAm2DpIqRUIC&printsec=frontcover&dq=social+networks+wasserman&hl=en&ei=kEF6TdqxCo3fsgbM5M3sBw&sa=X&oi=book_result&ct=result&resnum=1&ved=0CCsQ6AEwAA#v=onepage&q=social%20networks%20wasserman&f=false

[2011-03-11 15:39] diegocarrera commented on #38
sorry.. I made a reestructure that have to check on next days

[2011-03-11 16:35] ehaselwanter commented on #37
yes. it looks great and feels right. I try to include the friending (for user) and messaging into a small application of mine. at the moment just this parts. if this is running fine i'll try to extend on using groups

[2011-03-11 16:37] ehaselwanter commented on #38
yes. feels like restructuring. btw. there are again files missing. but you sure are aware of that (at boxy js and css at the moment)

[2011-03-11 16:38] ehaselwanter opened #40 "destroy on logout"
just updated to the latest version. You might run into it yourself. I got this message on logout:

  ActiveRecord::StatementInvalid (Mysql2::Error: Unknown column 'base_id' in 'where clause':   DELETE FROM `mailboxer_mails` WHERE ((base_id = 5757))):
    app/controllers/sessions_controller.rb:19:in `destroy'

[2011-03-11 17:04] Roendal commented on #40
I will take a look at it as soon as I can

[2011-03-14 10:30] Roendal commented on #40
A new version of mailboxer (0.0.4), has been released. Please, try to update the gem and tell me if the error persists.

[2011-03-14 10:47] Roendal commented on #40
If the error persits open a new issue.

[2011-03-14 11:58] ehaselwanter commented on #40
this seems to fix the problem. logout works again :-)

[2011-03-14 16:48] atd commented on #39
Allow configuration of devise routes at the application level, closed by a7b6f91c3fc582af46feb071b1253441552d3ed8

[2011-03-14 16:48] #39 closed, assigned to atd

[2011-03-14 17:47] #40 closed, assigned to Roendal

[2011-03-16 08:02] atd opened #41 "Logo support"
Upload subject's logos and crop them using jQuery

[2011-03-19 21:47] diegocarrera commented on #24
it s almost done, now you can create your own css and theme

[2011-03-22 12:03] diegocarrera commented on #24
it s complete first draft.

https://github.com/ging/social_stream/wiki/CSS-theme

[2011-03-22 12:03] #24 closed, assigned to diegocarrera

[2011-03-22 12:05] diegocarrera commented on #32
it's complete,
More info at
http://github.com/ging/social_stream/wiki/CSS-theme

[2011-03-22 12:05] #32 closed, assigned to diegocarrera

[2011-03-22 12:07] diegocarrera opened #42 "Re-structure menu options on areas"
organize menu options at home user, profile user, home group

[2011-03-22 12:12] diegocarrera commented on #8
now logos are included

[2011-03-22 12:14] diegocarrera opened #43 "create a server for production"
create a domain an install socialstream alpha for DIT user

[2011-03-22 12:38] diegocarrera commented on #18
Discussion is finished, now Ali start to implement

[2011-03-22 17:49] atd commented on #17
Mailboxer now provides support for this

[2011-03-23 11:03] VSBDev commented on #8
Links for facebook and linkedin ready.

Link for twitter needs to wait till we have a production server. Right now it can't work locally due to callbacks issues on the other end.

[2011-03-23 11:03] #8 closed, assigned to diegocarrera

[2011-03-23 11:05] VSBDev commented on #30
Waiting for an estable version of oauth_plugin for rails 3.0.5 , I contacted the author and we can expect changes in that direction in the next few weeks / next month.

[2011-03-23 11:05] #30 closed, assigned to VSBDev

[2011-03-23 11:07] VSBDev opened #44 "Pubsubhubbub compliant"
Working on setting social stream compliant with this protocol

[2011-03-24 14:20] atd commented on #7
done

[2011-03-24 14:20] #7 closed, assigned to adiezbal

[2011-03-24 15:43] atd commented on #17
Message support implemented

[2011-03-24 15:43] #17 closed, assigned to nobody

[2011-03-25 17:32] diegocarrera commented on #42
it is finished with structure & accordion effect, now Tapi has to apply security on menu-options-ties at Profile's menu.

[2011-03-29 11:32] diegocarrera opened #45 "Fix Pending requests"
fix that appear only 2 pending requests on lateral div, and create a pending request index page to show all pending requests.

[2011-03-29 11:50] jaime1988 opened #46 "Avatars"
Create an avatar system for social_stream.

[2011-03-29 11:52] Roendal commented on #34
Complete basic messaging system should be working corretly.

[2011-03-29 12:06] Roendal opened #47 "Location helper"
Whe should change the location in each view form a partial (<%= render :partial => 'location' %>)  to a helper (<%= location(level1,level2,level3,...) %>).

[2011-03-29 12:15] Roendal commented on #47
First draft commited.

Should work with something like

<%= location(link_to(...),ink_to(...),ink_to(...),..) %>

[2011-03-29 12:30] atd commented on #46
Jaime, is not this bug a duplication of #41 ?

[2011-03-29 12:31] atd commented on #34
Well done!

If there are bugs, we can open other issues

[2011-03-29 12:31] #34 closed, assigned to Roendal

[2011-03-31 12:52] atd commented on #46
,

[2011-03-31 12:52] #46 closed, assigned to jaime1988

[2011-03-31 13:12] atd commented on #41
Now it is awesome!

[2011-03-31 13:12] #41 closed, assigned to jaime1988

[2011-03-31 13:13] atd opened #48 "Avatars manager style"
Improve the style of the avatar support

[2011-03-31 13:17] atd commented on #20
Done!

[2011-03-31 13:17] #20 closed, assigned to adiezbal

[2011-03-31 13:20] atd commented on #18
Done!

[2011-03-31 13:20] #18 closed, assigned to atd

[2011-03-31 16:24] diegocarrera opened #49 "Most popular field"
We need a new field on schema to set ranking on acitivities or actors

[2011-03-31 16:25] diegocarrera opened #50 "Notifications about a new activity"
We have to notify after create a new activity by email or message

[2011-03-31 17:48] diegocarrera opened #51 "Enhance contacts options in home menu"
reestructure menu options with screenshoots of contacts & ties

[2011-03-31 19:40] Roendal commented on #47
Documentation added to wiki. Link must be verified.

[2011-04-02 01:45] diegocarrera opened #52 "Review about same format on all pages"
- Location
- Content
  - Title (font-size:13px) <-- Is it neccesary ?
  - Subcontent

[2011-04-02 01:51] diegocarrera opened #53 "Improve section conversations/show"
css on this section have to improve

[2011-04-02 12:00] Roendal commented on #42
Working on expanding the accordion submenu of the current view.

[2011-04-02 15:51] diegocarrera opened #54 "Activity title improve css"
helper about title, must to include span tag, it is depending of kind of action, activity, object. It is to improve  Human–computer interaction (HCI)

[2011-04-02 18:29] diegocarrera commented on #53
Improve to close issue:
1. "Back" title <-- delete, because new updgrade on menu.
2. Upgrade on combination of colors with message headers.
3. Add "Participants:" text on "participants" divs
4. Change color text at #6C6D6F on text referent of time.ago  field. (Inbox and message show screenshots)
5. Change color text to  #6C6D6F at Briefing div
6. Inbox title  <-- the H2 tag delete the left line, p

[2011-04-04 20:39] Roendal commented on #47
Location Helper seems to be working with no bugs. If any, please report on a new issue.

[2011-04-04 20:39] #47 closed, assigned to Roendal

[2011-04-04 20:41] adiezbal commented on #53
These problems are solved. If new ones appear, please open another issue.

[2011-04-04 20:41] #53 closed, assigned to Roendal

[2011-04-05 12:53] adiezbal commented on #52
I think now every view has its location

[2011-04-05 12:53] #52 closed, assigned to adiezbal

[2011-04-05 13:03] adiezbal commented on #48
Closed

[2011-04-05 13:03] #48 closed, assigned to jaime1988

[2011-04-05 13:32] atd commented on #50
We need to have a deep talk about notifications

[2011-04-05 13:36] atd commented on #44
Moved to https://github.com/ging/social2social

[2011-04-05 13:36] #44 closed, assigned to VSBDev

[2011-04-05 13:40] atd commented on #51
What screenshots do you refer to?

[2011-04-05 14:05] atd opened #55 "Fix AvatarsController#index"
Fix several issues related with the current state of AvatarsController#index
- Use Inherited resources to fetch only avatars belonging to current_subject. The method that provides support for this is begin_of_association_chain (https://github.com/josevalim/inherited_resources)
- Fix the form to be more Rails-ist. A generated scaffold can be used as example
- Remove @avatar from the controller. Tho

[2011-04-05 22:54] Roendal commented on #55
Issue solved in commit https://github.com/ging/social_stream/commit/0475bfbc21ed2630c214457625fef2b01fd74bcb

[2011-04-05 22:54] #55 closed, assigned to jaime1988

[2011-04-06 08:48] atd commented on #42
Done!

[2011-04-06 08:48] #42 closed, assigned to diegocarrera

[2011-04-06 15:46] atd commented on #51
They are current contact options on home menu

[2011-04-06 19:23] diegocarrera opened #56 "Group tag cloud"
We need the implementation of Group tag cloud feature on  browse/groups.

[2011-04-08 09:31] diegocarrera opened #57 "Dinamic url title"
We need to change title, descripcion, and keywords on header html of each url or funcionality.

[2011-04-08 09:35] diegocarrera commented on #13
Yesterday, we define the new features of this option.
Screenshots at
https://github.com/ging/social_stream/wiki/Future-features

[2011-04-08 09:39] atd opened #58 "New and edit contact screen"
Design the screen for adding and editing the contact relations with a subject, supporting several contexts and relation at a time

[2011-04-08 09:43] diegocarrera commented on #57
Example:
< title >SocialStream :: A core for building social network websites  - Social Stream< / title >
<  meta name="keywords" content="SNA, social, stream, activity" / >
< meta name="description" content="SocialStream :: A core for building social network websites  - Social Stream" / >

[2011-04-08 09:45] atd commented on #49
We are implementing this later, along with the optimization

[2011-04-11 07:41] jaime1988 opened #59 "Migrate avatars management to a separate gem"
Migrate all the avatars management to a new public gem.

[2011-04-11 07:42] jaime1988 opened #60 "Include ajax on avatars management"

[2011-04-11 07:43] jaime1988 opened #61 "Review avatars security"

[2011-04-12 10:10] Roendal commented on #50
Basic notification support has been added to Mailboxer in 0.0.15

[2011-04-14 12:46] #56 closed, assigned to VSBDev

[2011-04-14 13:15] atd commented on #60
done!

[2011-04-14 13:15] #60 closed, assigned to jaime1988

[2011-04-14 13:16] atd commented on #61
done!

[2011-04-14 13:16] #61 closed, assigned to jaime1988

[2011-04-14 13:46] atd opened #62 "Test the application with several browsers"
Test the application in Internet Explorer and others

[2011-04-18 10:06] atd opened #63 "Rearrange flash and location"
Current flash does not appear in the fronpage layout. So, it should be in a partial and be rendered from both, application and frontpage layout.

Also, it should appear below location div, so the location should use a content_for(:location)

[2011-04-19 07:25] atd opened #64 "XHTML and CSS are not valid"
Take a look at:
http://validator.w3.org/check?uri=http%3A%2F%2Fdemo-social-stream.dit.upm.es%2F;accept=text%2Fhtml%2Capplication%2Fxhtml%2Bxml%2Capplication%2Fxml%3Bq%3D0.9%2C*%2F*%3Bq%3D0.8;accept-language=en-us%2Cen%3Bq%3D0.5;accept-charset=ISO-8859-1%2Cutf-8%3Bq%3D0.7%2C*%3Bq%3D0.7

http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fdemo-social-stream.dit.upm.es%2F

We must fix it or

[2011-04-19 15:07] diegocarrera opened #65 "Error on swith representation from group to Owner-user"
CanCan::AccessDenied in RepresentationsController#create
You are not authorized to access this page.

[2011-04-19 15:07] diegocarrera commented on #64
ok.. let's change to html5 validators

[2011-04-19 16:28] #65 closed, assigned to atd

[2011-04-25 12:37] atd commented on #64
Diego, does your last commit close this issue?

[2011-04-28 14:22] diegocarrera commented on #64
We have to wait until rail 3.1 realease, because a bug on rails 3.0, it doesn't parse a link_to tag with a special character.

[2011-04-28 17:24] #35 closed, assigned to atd

[2011-04-28 18:32] Roendal commented on #50
Notification support with email sending option added on Mailboxer 0.1.0 and improved on Mailboxer 0.1.1.

We should start working with classifying activities and its asocciated Notification types on social_stream.

[2011-04-29 09:48] diegocarrera commented on #50
it is checked on excel google docs

[2011-05-03 06:31] atd opened #66 "Organize walls per relations"
Wall tabs should show activities per audiences

[2011-05-03 06:32] atd opened #67 "Activity filter for relation level"
Inside each context wall, there must be a filter per relation level

[2011-05-03 07:08] jaime1988 commented on #59
Done

[2011-05-03 07:08] #59 closed, assigned to jaime1988

[2011-05-03 07:08] jaime1988 opened #68 "Change generator for avatars_for_rails"

[2011-05-03 09:12] #63 closed, assigned to adiezbal

[2011-05-03 09:50] atd commented on #49
Done

[2011-05-03 09:50] #49 closed, assigned to nobody

[2011-05-04 09:34] #57 closed, assigned to adiezbal

[2011-05-05 07:18] atd opened #69 "translation missing: en.profile.tags.default"

[2011-05-05 07:19] atd opened #70 "flash without style in frontpage layout"
The flash fragment should be in a partial and be rendered from both layouts (application and frontpage)

[2011-05-05 07:26] atd commented on #70
It seems it is already done. However:
- The frontpage after the logout is broken
- The partial should be called from the layout (DRY)

[2011-05-05 10:59] #69 closed, assigned to adiezbal

[2011-05-05 10:59] #70 closed, assigned to adiezbal

[2011-05-08 21:15] acts-human commented on #68
Not sure if this is the same issue, but the current generator seems to be missing the config/initializers/avatars_for_rails.rb file (the one in spec/dummy seems to work ok).

[2011-05-08 21:22] jaime1988 commented on #68
Yes, we are working on that now. You can copy that for now. We created a gem (avatars_for_rails) for the avatars managment and we are still working in the integration with social_stream generator. Probably it will be fixed this week. Sorry for the inconvenience.

[2011-05-12 11:00] Roendal commented on #50
Issue completed. Activities now have notifications and, activated by default, emails.

[2011-05-12 11:00] #50 closed, assigned to Roendal

[2011-05-12 16:22] febyartandi opened #71 "uninitialized constant OmniAuth::Strategies::LinkedIn::MulitXml"
Hello,

I got this issues when integrate the linkedin sign_in

[2011-05-12 16:27] atd commented on #71
We should upgrade to a more recent version of devise

[2011-05-12 17:37] febyartandi commented on #71
This is bug on oa-auth gem
https://github.com/intridea/omniauth/issues/315

[2011-05-13 06:50] atd commented on #71
Ok, we will update social_stream dependencies with the new version when it is released.

Thank you!

[2011-05-13 09:07] VSBDev commented on #71
I just changed our gemspec to meet the last version of omniauth stay in touch for our next version bump.

Thanks so much for your collaboration, we really appreciate it!

[2011-05-13 09:25] atd commented on #71
I'm not sure that the current version of omniauth contains the bugfix. It was released after the commit febyartandi referers to.

[2011-05-13 09:45] VSBDev commented on #71
You are right,  I just checked the file in my local installation of v0.2.5. and the typo is still there. I'm reopening the issue, I'll track the omniauth version waiting for this upgrade.

Regards

[2011-05-13 13:35] febyartandi commented on #71
Hello,

Thank you for quick response.
Yes, omnioauth patch to fix the problem is still not release as a gem.

For solved this problem, now I unpack the social_stream, unpack device, and unpack oa-oauth
then fixed typo by hand.

But after it, login with linkedin is always failed and says "Invalid Response".
I am trying to debug this problem and will report you if I find another issues.

Thanks agai

[2011-05-13 13:40] VSBDev commented on #71
You're welcome, it's great start having some community around. I'm sure that together we can make social stream an even more awesome project :D

Regarding your error, have you registered in linkedin developers? Are you using a local server for testing? What is your callback address?

With these answers maybe I can further help you getting your social stream ready.

In the mean time take a look at:

[2011-05-13 14:24] febyartandi commented on #71
Hello Victor,

I've registered on linkedin developers and update config/initializers/devise.erb
changed :
config.omniauth :linked_in, "1UDBJ6FcJ6BphRulc5_Y_n1TETgt9cFNfTj9SB1IKWy4_xoIg3BFhN16VE_B7vTH", "VhWvRGiRHychZ_vCwh7UjlVH2DbSVOqm5dT-olBbw2Bgx2uoh568GMeiTN0NOla8"

I am using localserver for testing, and set oauth redirect url to: http://localhost:3300.
Did you mean with 'callback address' is

[2011-05-13 15:43] febyartandi commented on #71
Hello,

Linkedin login has working on mine ! It's really cool
I updated oa-oauth and changed MultiXml with Nokogiri, from this tutorial that also says about typo MulitXml
https://github.com/intridea/omniauth/issues/315

Dont know why MultiXml doesnt work for me.

Thank you for your help guys,

[2011-05-13 16:21] VSBDev commented on #71
I am glad you got it to work and even more glad that you think is cool.

You're very welcome, when you put it to work in your project let us know ;)

[2011-05-28 09:11] lezardbreton opened #72 "undefined method `task' for #<SocialStream::Application:0x000001009ef588>"
Hello,

I have this error while doing a fresh install of social_stream (rails 3.0.7).

rake db:migrate --trace
rake aborted!
undefined method `task' for #<SocialStream::Application:0x000001009ef588>
/Users/alexis/Development/social_stream/social_stream/ruby/1.9.1/gems/railties-3.0.7/lib/rails/application.rb:215:in`initialize_tasks'
/Users/alexis/Development/social_stream/social_stream/ruby/1.9.1/g

[2011-05-28 15:29] atd commented on #72
Hi lezardbreton,

This is a Rails/Rake related issue:

http://stackoverflow.com/questions/5287121/undefined-method-task-using-rake-0-9-0-beta-4#answer-6095523

It should be fixed in Rails 3.0.8. In the meanwhile, you can freeze rake in your Gemfile:

gem rake, '0.8.7'

[2011-05-28 21:52] lezardbreton commented on #72
Yes, that works! Thanks!

[2011-05-28 21:52] #72 closed, assigned to nobody

[2011-05-30 19:42] ates opened #73 "PGError: ERROR: operator does not exist: character varying = integer"
Hello.
Set gem 'social_stream' according to the instructions http://rubydoc.info/gems/social_stream/frames.
Database postgresql.
Migration was successful.
After the registration is an error:
/ app / views / activities / _new.html.erb where line # 1 raised:
PGError: ERROR: operator does not exist: character varying = integer
LINE 1: ... ations.id = relations_as.id OR relations.ancestry = relation .

[2011-05-31 10:07] #73 closed, assigned to nobody

[2011-05-31 19:48] ates commented on #73
Thank you

[2011-06-01 07:19] atd commented on #68
This was fixed in 132750b179b89ff75955

[2011-06-01 07:19] #68 closed, assigned to jaime1988

[2011-06-01 09:07] atd commented on #25
Edit and delete are missing, but basic functionality is ready

[2011-06-01 09:09] atd commented on #58
Basic functionality is working, but the design is still missing

[2011-06-01 10:33] #22 closed, assigned to atd

[2011-06-01 10:33] #71 closed, assigned to VSBDev

[2011-06-04 11:05] panbhag opened #74 "Adding a friend doesnot require approval?"
Adding a friend doesnot require approval? Is it the way it works? If we need the other user to accept the request, then is there any configuration I can change. I can see only one way relationships defined.

[2011-06-05 08:38] atd commented on #74
Hi sumeruonrails,

Social Stream works with unidirectional ties. This is required because relations (the tie type) are defined by users, and there is not a way to match "equivalent" relations defined by two different users in two different spheres.

Anyway, you can get easily which ties are reciprocated and which are not. If you can tell us your use case, we can go into it in more depth

[2011-06-05 09:44] panbhag commented on #74
thanks for your reply.
I am looking for friends feature similar to facebook. User can add other user as a friend and the other user needs to approve the same. Are you looking for adding bidirectional ties in future, as the would be useful in many places, like if I want to join a group which needs approval from an administrator.

[2011-06-05 11:05] atd commented on #74
If you think about bidirectional ties in the case of a group's administration, that means that one group can be a user's administrator, which probably does not make sense. It is the group the one that establishes the tie of type "administrator" to the user, but this is not bidirectional

[2011-06-05 11:15] panbhag commented on #74
Let me explain it like this.
How are the following usecases taken care of by unidirectional ties

1) A group has an administrator. Any user who wants to become a member of
the group, needs to be approved by this administrator.
2) A user can become a friend of another friend. One user sends a request
and the other approves it.

Or is there a better way to implement the same by unidirctional ties?

[2011-06-05 11:32] atd commented on #74
Social Stream already supports _pending ties_, which appear at the sidebar on the right. A pending tie is a tie that somebody sent to you, but you did not returned. So the user cases will be:

1) The user establishes a tie to the group, with a message "Please add me!". The pending tie appears in the "pending ties" section in the sidebar, as well as a notification reaches to the notification's inbo

[2011-06-10 06:40] ehaselwanter opened #75 "Widget Concept and some more ideas"
Hi,

Just came across http://nicksda.apotomo.de/2011/06/apotomo-screencasts-of-glory-episode-3/
This looks very interesting for decoupling social stream features and using them in custom social stream rails apps.

another thing is scss in 3.1, any plans on that? and would be great to build something like they did with forem:
http://ryanbigg.com/2011/06/a-potential-use-for-asset-pipelining/

and on

[2011-06-10 07:41] atd commented on #75
Hi ehaselwanter, thank you for the ideas.

Regarding Apotomo, it seems like a packaged way to display and interact with some views. What advantage can it give us beyond Rails default view management through engines?

The assets pipeline is very powerful and definitely a way to go. We are working on it in the rails-3.1 branch of social_stream-base. Regarding scss, there are not plans of supporting

[2011-06-10 07:43] atd commented on #74
Hi sumeruonrails,

Did that worked for you? Could we close the issue or there are still more concerns about it?

[2011-06-11 06:30] modjoe23 opened #76 "Homepage doesn't render nicely in IE8. Works perfectly in firefox"
http://localhost:3000/home

[2011-06-13 08:17] atd commented on #76
Hi Joey,

Unfortunately, we are not able to allocate resources for fixing those issues right now.
However, we willingly accept patches.

[2011-06-13 08:25] atd commented on #76
Related: #62

[2011-06-15 11:18] ehaselwanter commented on #75
apotomo uses the concept of widgets. would be easy to use this widgets in the custom part of the rails app. like 'friends' 'usertimeline'

scss is backwards compatible. would be easy to just add the filter to the filename and use the standard(rails 3.1) asset pipeline. so adding custom (s)css stuff would be enabled from the beginning.

i think apotomo is another solution to the toolbar stuff. just

[2011-06-15 11:18] #75 closed, assigned to nobody

[2011-06-17 13:36] atd commented on #74
Closing

[2011-06-17 13:36] #74 closed, assigned to nobody

[2011-06-17 13:37] atd commented on #64
SocialStream now depends on Rails 3.1

[2011-06-17 13:37] #64 closed, assigned to diegocarrera

[2011-06-17 13:37] atd commented on #58
Design done

[2011-06-17 13:37] #58 closed, assigned to diegocarrera

[2011-06-17 13:39] atd commented on #15
May be considered in a future

[2011-06-17 13:39] #15 closed, assigned to nobody

[2011-06-17 13:40] atd commented on #23
It was done

[2011-06-17 13:40] #23 closed, assigned to nobody

[2011-06-28 02:43] Marisayem opened #77 "HTML"
I am trying to change the HTML on the frontpage such as "Your contacts and relations," but can't find where it is located?

Can you help please? thanks!

[2011-06-28 05:03] VSBDev commented on #77
Hi,

You have two options to edit the frontpage

1.) If you just want to change the text, but not the style neither the images:
    --> overwrite the config/locales/en.yml with your own. Here you have the fields you need:
         https://github.com/ging/social_stream-base/blob/master/config/locales/en.yml#L129

2.) If you want to redesign everything in the frontpage:
     --> overwrite config/loc

[2011-06-28 05:03] #77 closed, assigned to nobody

[2011-06-28 06:29] Marisayem commented on #77
Hi Victor thanks!
The problem is that when i open my config/locales/en.yml file, it only says:

# Sample localization file for English. Add more files in this directory for other locales.

# See http://github.com/svenfuchs/rails-i18n/tree/master/rails%2Flocale for starting points.

en:
  hello: "Hello world"

[2011-06-28 06:31] atd commented on #77
You have more information about it at https://github.com/ging/social_stream/wiki/How-to-change-controllers,-models-and-views

[2011-06-28 06:41] Marisayem commented on #77
great thanks! works now

[2011-06-28 09:39] leenasn commented on #76
I think the issue happens because of HTML 5 tags which is not being supported in IE. For eg:, in the application.html.erb, which is the layout file, the tag <nav> is used which is not identified by IE. You can fix it by using some JS libraries like [Modernizer](http://www.modernizr.com/) or [Selectivizr](http://selectivizr.com/).

Let me know whether I need to submit a patch for the same.

Thanks,

[2011-06-28 14:30] VSBDev commented on #76
Hello Leenasn!

You're completely right. Modernizr would probably be used in modules like social_stream-documents to detect which video formats the browser allows.

Your case of use and needs are also completely legit, but the fact is that as social_stream grows is difficult to address all needs, so we will be glad to have our first patch from you.

Thanks so much for your interest and happy codin

[2011-06-29 07:56] leenasn commented on #76
I've submitted the pull request, and this is the link:

https://github.com/ging/social_stream-base/pull/1

Thanks,
Leena

[2011-06-29 08:14] atd commented on #76
Merged.

Thank you, Leena!

[2011-06-29 08:14] #76 closed, assigned to nobody

[2011-07-04 15:46] rancesvinto opened #78 "inflections"
In changed in my applications the inflections.rb but social_stream doesn't work with that

Where should I change the social_stream inflections for all his methods?

thanks!

[2011-07-05 06:04] atd commented on #78
Application level inflections should have nothing to do with social stream

Can you provide us with an example? What are you changing and what do you expect?

[2011-07-05 09:32] atd commented on #43
http://demo-social-stream.dit.upm.es/ is in production now

[2011-07-05 09:32] #43 closed, assigned to atd

[2011-07-05 16:11] rancesvinto commented on #78
In my inflections.rb I do:

inflect.plural /([rlnd])([A-Z]|_|$)/, '\1es\2'

so when I execute rails generate social_stream:install

I find the next error:
usr/local/lib/ruby/gems/1.9.1/gems/social_stream-0.0.5/lib/social_stream/models/supertype.rb:16:in `subtypes': undefined method`actores' for SocialStream:Module (NoMethodError)

Really thanks for your help!

[2011-07-06 06:13] atd commented on #78
Ok, I am afraid you cannot change those inflections. The problem seems to be that you are changing the pluralization of _actor_ to _actores_. You would need to change all the code in social stream for that.

If you are trying to translate things, you should look take a look at internationalization instead http://guides.rubyonrails.org/i18n.html

[2011-07-06 06:13] #78 closed, assigned to nobody

[2011-07-06 17:07] VSBDev opened #79 "The word representing is not aligned in the header in any browser"

[2011-07-06 21:44] rancesvinto commented on #78
Ok, Thanks a lot, I supposed there wasn't solution :S

Anyway, I use i18n to internationalize my application, but for the code the place to do it is in the inflections.rb

Other plugins I use as devise authentication or many others, takes this parameter to build table, views or helpers without problem.

[2011-07-07 06:13] atd commented on #78
Devise has not any model, so it is not affected by inflections.

Anyway, you can use inflections to set an exception on Actor and you will probably get what you want.

[2011-07-07 06:32] rancesvinto commented on #78
Ok, I didn't know I could do that expceptions in inflections.

I'll try it!

Thanks!!

[2011-07-07 06:56] VSBDev commented on #79
Moved to base

[2011-07-07 06:56] #79 closed, assigned to nobody

[2011-07-07 11:29] atd opened #80 "Revise browse screen to add more item types"
Video, conferences, audios, pictures, documents, etc.

[2011-07-11 13:38] eibol opened #81 "Audio applet not working"
Can´t play an audio mp3 file uploaded, in any web browser:
http://demo-social-stream.dit.upm.es/users/abel

[2011-07-13 10:53] Roendal commented on #45
Contacts toolbar menu changed and only 2 random pending requests are shown.

Working on pendings page.

[2011-07-18 09:12] Roendal commented on #45
Pending requests page done.

[2011-07-18 09:12] #45 closed, assigned to Roendal

[2011-07-18 11:50] atd commented on #51
done

[2011-07-18 11:50] #51 closed, assigned to nobody

[2011-07-22 10:04] atd commented on #67
The security model has been simplified. Now context walls are relation walls

[2011-07-22 10:04] #67 closed, assigned to diegocarrera

[2011-07-22 14:17] atd commented on #54
done

[2011-07-22 14:17] #54 closed, assigned to adiezbal

[2011-07-26 18:18] ghost opened #82 "social_stream-base migrations are not copied with social_stream:install generator"
Using the generator and rake cause this error multiple times

1) class_inheritable_attribute is deprecated, please use class_attribute method instead
- Error at config/application.rb:8

Also, running the rails server (also with the error above) causes a "could not find table 'users' " error.  It's definitely not in the schema after rake:db migrate.   This is why:

[code]

Copied migration 20110726

[2011-07-26 21:03] ghost commented on #82
Had to copy the migrate files from the social_stream-base/db/migrate folder into the rails app I created.  I raked again, and it worked.

[2011-07-27 06:24] atd commented on #82
Hi Lior, regarding the first issue, they are not errors but warnings. Besides they are not our but from other gems. They will probably fixed with rails 3.1.0 final release.

About the migrations, they should be copied with the _rails generate social_stream:install_ command but they are not. It seems it has been broken with the last rails release.

[2011-07-27 09:30] atd commented on #82
Fixed in social_stream-base 0.7.8

https://github.com/ging/social_stream-base/commit/facb7007c801d7e8602cb35066e5a3b1123f9b5a

[2011-07-27 09:30] #82 closed, assigned to atd

[2011-07-27 13:10] #25 closed, assigned to atd

[2011-08-03 09:23] ebarra commented on #81
Fixed.
Now the audio files are converted to webma and used with jplayer.

[2011-08-03 09:23] #81 closed, assigned to ebarra

[2011-08-03 11:05] eibol commented on #81
¡Bravo!

[2011-09-14 14:17] atd commented on #13
https://github.com/ging/social_stream-base/issues/48

[2011-09-14 14:17] #13 closed, assigned to diegocarrera

[2011-09-14 14:17] #80 closed, assigned to nobody

[2011-09-14 14:18] atd commented on #66
https://github.com/ging/social_stream-base/issues/70

[2011-09-14 14:18] #66 closed, assigned to diegocarrera

[2011-09-16 07:01] atd opened #83 "when you upload a video it breaks the wall view"
submitted by @ebarra

[2011-09-16 07:02] atd opened #84 "Profile's document view"

[2011-09-16 07:02] atd opened #85 "Cannot close image in wall"
When clicking on an image in the wall, it appears a window in the botton-down side of the screen. There is not a way to close that window.

[2011-09-16 07:03] atd opened #86 "Finish video processing queuing"
Use resque to queue video processing

[2011-09-16 07:06] atd opened #87 "The number of "I like" votes should be visible from the group or user walls, as well as in the posts or comments"
Submitted by @adiezbal

[2011-09-16 07:06] atd opened #88 "Fix CSS in sign_in, sign_up and password recovery"
This one includes a green button in those screens

[2011-09-16 07:08] atd opened #89 "There is no notification when someone posts a comment to "A added you as contact""
Submitted by  @adiezbal

@Roendal commented:
- The Actor A adds Actor B as a contact. A new post is created: A added B as contact.
- Then Actor C comments this post.
- A notification is sent to A about this post being commented, but B is ignored.

Is this a good behaviour? Should B be also notified?

More feedback is needed as there are many use cases. Imagine B being a famous character with hundr

[2011-09-16 07:18] atd opened #90 "Show hint about reprocal status of a contact"
Currently, the application shows wheter you have added some subject, and in which spheres is included. Moreover, Social Stream could also tell you if the subject has added you as contact, without revealing the other one's spheres

[2011-09-16 07:19] atd opened #91 "Simplify top bar"
Merge representation and account options. Remove home. Remove icons

[2011-09-16 07:19] atd opened #92 "Move group creation from left toolbar to activity form"

[2011-09-16 07:20] atd opened #93 "Change "Add contact" meaning when replying"
Reflect that the user is replying the contact request, instead of sending a new contact request

[2011-09-16 07:21] atd opened #94 "Users may not select an sphere when adding a contact"

[2011-09-16 07:22] atd opened #95 "Posting has rebound effect"
AJAX request are sent multiple times

Fixed by 9212ebe but reopened by @Roendal

[2011-09-16 07:25] atd opened #96 "Make theme customization easier by adding SCSS"
Use SCSS to define the colors and make customization easier

[2011-09-16 07:26] atd opened #97 "Change notifications to github style"
Just a number near the subject name in the top bar. Change read and delete icons for application standards

[2011-09-16 07:27] atd opened #98 "Cite users and groups by slug"
Like in Github or Twitter

[2011-09-16 07:28] atd opened #99 "Invite and find registered user should be merged"
Users expect to add contacts in the "Invitations" screen, and not only invite to unregistered people

[2011-09-16 07:28] atd opened #100 "Extended search"
Search results with subjects and activity objects.
Should replace current user and group browse

[2011-09-16 07:29] atd opened #101 "Add question when the user cancels his account"
In order to find why

[2011-09-16 07:29] atd opened #102 "Cannot validate Account Settings with jQuery plugin"
$(".user_edit").validate(); is ignored

Submitted by  @adiezbal

[2011-09-16 07:31] atd opened #103 "User is able to add himself as contact"
In "/users" I can see an "+Add contact" link under my name. And this link seems to work :S

Submitted by  @adiezbal

[2011-09-16 07:31] atd opened #104 "Replace frontpage's search box with the new one"

[2011-09-16 07:32] atd opened #105 "Add subject's avatar besides new comment box"
Like in Github ↓

[2011-09-16 07:32] atd opened #106 "Filter wall activities per by relation (sphere)"

[2011-09-16 11:30] Roendal commented on #104
Searchbox is already changed

[2011-09-16 11:30] #104 closed, assigned to Roendal

[2011-09-16 11:34] Roendal commented on #95
Accidental rebound effect suppressed.

[2011-09-16 11:34] #95 closed, assigned to Roendal

[2011-09-19 11:16] #88 closed, assigned to adiezbal

[2011-09-20 07:03] #92 closed, assigned to atd

[2011-09-20 13:36] #93 closed, assigned to nobody

[2011-09-20 13:37] #97 closed, assigned to adiezbal

[2011-09-20 14:04] #94 closed, assigned to nobody

[2011-09-20 14:19] #103 closed, assigned to nobody

[2011-09-20 22:46] Roendal commented on #100
Extended search functionality is already done and with several UX augmentations ONLY for subjects.

Things to DO or DISCUSS:
- Difference when logged in and not logged in
- How to integrate or replace old groups and users browse views
- Stress the system to look for asyncronous problems when loading
- How to apply it to activity objects and wich ones are interesting

[2011-09-21 08:34] #100 closed, assigned to Roendal

[2011-09-21 10:23] luca opened #107 "thinking-sphinx 2.0.7 has issues finding the models to index"
Thinking sphinx rel 2.0.7 has issues finding the models to index if they are inside rails engines and it is unable to generate the correct sphinx.conf file. In social stream the file generated by ts:config or ts:rebuild does not contain indexes for the group and post models resulting in errors while searching.

To reproduce:
- using rvm, create a new gemset (empty)
- create a rails project,
- add

[2011-09-21 10:39] Roendal commented on #107
Hi Luca!

You are totally right about the issue thinking-sphinx has with loading rails3 engine models. The commit you point was done from within SocialStream developing group to solve this. No new version has been relesead yet with this change, and the only workaround to make it work properly is to require rails3 branch in Gemfile (exactly what you have done).

I will add the line to the wiki, I j

[2011-09-21 13:55] Roendal commented on #107
Hi again!

I've been told that may be interesting maintaining the issue open untill everything is fully functional (when next thinking-sphinx version is released and required by SocialStream) and I fully agree.

So I will reopen it just to close it when no Gemfile workaround is needed.

[2011-09-21 14:13] luca commented on #107
yup, sounds good!

[2011-09-22 14:58] Roendal opened #109 "Make arrows useful when searching on header box"
Several things must be fixed:
- On header search make keyboard arrows useful
- Fix crash when not logged (DONE)
- Ajax fix to focus search buttons (search_query param is not updated) (DONE)

[2011-09-23 19:24] andrewroth opened #110 "Trace/BPT trap"
I installed a test socialstream app using the latest rails (Rails 3.1.0) and ruby (ruby 1.9.3dev (2011-07-31 revision 32789) [x86_64-darwin10.7.0]).

After I signed up for an account, I get a Trace/BPT trap crash:

=> Booting WEBrick
=> Rails 3.1.0 application starting in development on http://0.0.0.0:3000
=> Call with -d to detach
=> Ctrl-C to shutdown server
[2011-09-23 15:22:19] INFO  WEBrick 1

[2011-09-23 21:38] andrewroth commented on #110
Same thing on ruby 1.9.2

[2011-09-26 13:09] bradphelan opened #111 "Installer fails injecting CSS into application.css when it is named application.css.sass"
[code]

[2011-09-26 14:28] atd commented on #111
Hi @bradphelan, could you provide us with a patch?

[2011-09-26 14:30] bradphelan commented on #111
sorry but I was just browsing social networking plugins. Failed at this point so I gave up today. Thought that I would at least let you know of the problem.

[2011-09-26 14:37] atd commented on #110
No idea of what can be wrong. A search on the web did not help. Any Mac OS X developer can provide more feedback?

[2011-09-26 14:42] atd commented on #111
Ok, thank you! The rails's installation default is application.css, so we will eventually come back to this issue again when we have more time.

[2011-09-26 15:57] andrewroth commented on #110
It should be easy to test - I'm literally following the installation instructions on a new rails app.

[2011-09-27 07:07] VSBDev commented on #110
Hello Andrew,

I've tried to emulate your error and I can't do it in any version of rails/ruby on my macosx lion.

What DB adapter are you using? the development sqllite3? mysql? postgre?

I found some people having troubles after updating to macosx lion they needed to re-compile mysql gem and postgre to fix it.

Can you try it and let us know if that fixes your issue?

Thanks for using social str

[2011-09-27 09:51] Roendal commented on #85
Fixed in: https://github.com/ging/social_stream/commit/0e0c7b62b3a7598231edebaa6b227cc8a93faef2

[2011-09-27 09:51] #85 closed, assigned to Roendal

[2011-09-27 09:59] #83 closed, assigned to nobody

[2011-09-27 13:53] atd commented on #106
Will be implemented in the future

[2011-09-27 13:53] #106 closed, assigned to atd

[2011-09-27 16:01] atd opened #112 "Export contacts as json"

[2011-09-28 07:19] atd opened #113 "Clean event's code so it can be released with the other gems"

[2011-09-28 07:28] atd commented on #110
Hi Andrew,

Everything points to be a bug related to Mac OS X and ruby 1.9.2, and not SocialStream's

http://www.google.com/search?q=Trace%2FBPT+trap+ruby

I'm closing it. Please, do not hesitate to reopen if there is more information related to SocialStream.

[2011-09-28 07:28] #110 closed, assigned to nobody

[2011-09-28 11:53] Roendal commented on #109
Ajax fix to focus search buttons (search_query param is not updated) done in https://github.com/ging/social_stream/commit/f4371d7f36b7eff909369ba5053bb8a2bc781e2d

[2011-09-28 13:49] atd opened #114 "Regenerate API key in main settings is broken"
After confirming "Are you sure?" nothing happens

[2011-09-28 13:51] atd commented on #62
We will respond to concrete issues

[2011-09-28 13:51] #62 closed, assigned to nobody

[2011-09-28 14:00] Roendal commented on #114
It seems to work on Chrome but fails in Firefox

[2011-09-28 15:02] #112 closed, assigned to atd

[2011-09-28 17:28] andrewroth commented on #110
I'm using mysql2 on leopard 10.6.7.  I tried mysql2 0.3.7 and 0.2.7 and they both crash.  Yeah, somehow it seems to be my system, it works also for a friend on OS X. :(

[2011-09-29 07:52] atd opened #115 "resque's obsolete tasks?"
base/lib/tasks/resque.rake and base/lib/tasks/workers.rake are somehow duplicated and not used in demo. Do we fix them or clear them up?

[2011-09-29 08:14] #86 closed, assigned to Roendal

[2011-09-29 09:14] Roendal commented on #115
I've deleted the totally unused resque.rake (https://github.com/ging/social_stream/commit/5907ddc27c2991cbd43dacfa346db6b27ea83b0f). The workers.rake file is an auxiliar task that allows to launch several workers with some customization and simple management. Althought it might be included in resque itself, it is not, and is really helpful.

For now we should mantain this task to allow simple use

[2011-09-29 09:14] #115 closed, assigned to Roendal

[2011-09-29 12:30] #113 closed, assigned to diegocarrera

[2011-09-30 09:12] #91 closed, assigned to Roendal

[2011-09-30 10:58] agordillo opened #116 "Add db query to get bidirectional contacts"
At this moment get bidirectional contacts is only possible with two db querys (sent contacts and received contacts) and array processing

[2011-09-30 12:24] #116 closed, assigned to atd

[2011-10-03 22:33] diegocarrera opened #117 "Permission on create a group and change session"
1. UserA get session  and suppose that userA have privilegious to change session to groupA,
2. The user change session to groupA, and create a new groupB, so the session change automatically to groupB,
3. The groupB return to session of userA so the issue appear.

The issue is that userA lost the permissions of groupB on this escenary.

[2011-10-03 22:42] diegocarrera opened #118 "Search without session crash"
Escenary:

Step 1. User make a simple search without session
Step 2. Fill search field with hola, and submit,

Result:  Search crash

Example:
http://demo-social-stream.dit.upm.es/search?search_query=hola

[2011-10-03 22:43] diegocarrera opened #119 "Create a new session with conference manager"

[2011-10-03 22:46] Roendal commented on #118
This issue is already taken into account: https://github.com/ging/social_stream/issues/109

[2011-10-03 22:46] #118 closed, assigned to nobody

[2011-10-04 09:22] Roendal commented on #109
Not logged crash fixed in
https://github.com/ging/social_stream/compare/75cad79666...fb61badf27

[2011-10-04 09:35] #114 closed, assigned to Roendal

[2011-10-04 13:52] atd opened #120 "Move messages entry from home menu to its own menu"
And display messages menu only on their views

[2011-10-04 13:56] atd commented on #84
Diego is making the mockups

[2011-10-04 15:38] #120 closed, assigned to Roendal

[2011-10-06 16:58] Roendal opened #121 "Merge Edit user and Settings"
Edit user options should appear on settings page only if `current_user` and `current_subject` are the same.

[2011-10-07 12:15] #96 closed, assigned to adiezbal

[2011-10-07 12:49] atd opened #122 "Profile toolbar should appear when the user is not authenticated"
See http://demo-social-stream.dit.upm.es/users/eduardo-casanova after sign out.

[2011-10-07 14:06] Roendal commented on #122
This should do the trick.

Close the issue if you like or tell me what to fix.

[2011-10-08 10:20] atd opened #123 "Finding the way to avatar change is harder now"
The link to change avatar does not appear in home toolbars anymore, so it is harder to find it now

[2011-10-08 14:28] Roendal commented on #123
It does appear in profile toolbar, when you are supposed to go if you want to change some info about you. Changing avatar is not an everyday activity, so I can't see the need of having it always accessible.

I can make the little home avatar like the profile one (in terms of having a hover effect with edit option). Do you like this option? Or do you prefer going back to the great avatar?

[2011-10-09 17:06] atd commented on #123
Ok, you are right. Let's wait to user feedback.

[2011-10-09 17:06] #123 closed, assigned to Roendal

[2011-10-09 17:08] atd opened #124 "New activity privacy box should appear also when the user cannot set it"

[2011-10-10 07:38] atd opened #125 "Frontpage's "Register now" button is an image in english"
It cannot be localized

[2011-10-10 08:45] atd opened #126 "Showing a big image in the wall overflows"

[2011-10-10 08:46] atd opened #127 "Filter search results by authorization"

[2011-10-10 08:50] atd opened #128 "Notification messages are not localized"

[2011-10-10 10:01] Roendal opened #129 "Fix frontpage and application layouts use"

[2011-10-10 11:06] #125 closed, assigned to adiezbal

[2011-10-10 11:17] adiezbal opened #130 "CSS for jQuery validations is broken"

[2011-10-10 11:35] #129 closed, assigned to Roendal

[2011-10-10 11:36] Roendal commented on #122
Fixed in https://github.com/ging/social_stream/commit/4d7b5377cbc0ad88267fc1d517fabf6730216c44

[2011-10-10 11:36] #122 closed, assigned to Roendal

[2011-10-10 11:46] #107 closed, assigned to Roendal

[2011-10-10 11:48] Roendal opened #131 "Create focus search partial specially for post"

[2011-10-10 15:59] #130 closed, assigned to adiezbal

[2011-10-11 07:42] #124 closed, assigned to atd

[2011-10-11 11:19] #131 closed, assigned to Roendal

[2011-10-11 11:24] atd commented on #127
if can? :read, object

[2011-10-11 17:34] #128 closed, assigned to adiezbal

[2011-10-11 17:34] francescoagati opened #132 "jruby"
there is support for jruby in social stream?

[2011-10-11 20:17] JamesStern opened #133 "Error installing social_stream"
Unfortunately, the gem social_stream-base (0.6.7) has an invalid gemspec. As a result, Bundler cannot install this Gemfile.

[2011-10-12 10:07] atd commented on #133
Hi, James, why don't you use the last version (0.9.18)?

http://rubygems.org/gems/social_stream-base

[2011-10-12 13:44] JamesStern commented on #133
Got this error:

gem install social_stream-base
Temporarily enhancing PATH to include DevKit...
Building native extensions.  This could take a while...
ERROR:  Error installing social_stream-base:
        ERROR: Failed to build gem native extension.

[code]

checking for Ruby version >= 1.8.5... yes
checking for stdint.h... **\* extconf.rb failed ***
Could not create Makefile due to some reason, p

[2011-10-13 01:08] #133 closed, assigned to nobody

[2011-10-13 07:11] atd opened #134 "Mailboxer spanish translations"
The translation of the following strings is still missing:
- messages/new -> "Send Message" button
- after sending the message, flash[:success]: "Your message was sent"
- "Reply" button
- messages list -> "Delete" button tip
- Delete confirmation warning: "Do you want to move ... to trash?

[2011-10-13 09:10] #127 closed, assigned to Roendal

[2011-10-13 10:06] atd commented on #132
Hi Francesco,
we do not use jruby, but you can check it if you run the specs. Jjust clone the repository and run `bundle` and `rake`

If all specs are ok, it likely works.

Please, tell us if you find any error.

[2011-10-13 10:06] #132 closed, assigned to nobody

[2011-10-13 10:10] #134 closed, assigned to Roendal

[2011-10-13 11:12] Roendal opened #135 "Fix Public behaviour on privacy select for new activity"
Public needs a special behaviour excluding and being excluded by any other privacy setting when creating a new activity.

[2011-10-13 11:13] Roendal opened #136 "Fix new activity css for object selector in form"

[2011-10-13 15:31] #121 closed, assigned to Roendal

[2011-10-13 16:34] #126 closed, assigned to Roendal

[2011-10-13 17:14] luca opened #137 "The contacts delete link doesn't work"
the link generated in the base/app/views/contacts/_link.html.erb partial misses the :delete method

[2011-10-13 17:18] luca commented on #137
this luca@68490ac873f5efa9002b2a881fd584e4b4439510 (plus the previous luca@1b96059ee7d71c9443f5bf8fdf9f0af8700827ec ) should fix it

[2011-10-13 17:19] luca opened #138 "The pagination on the contacts page doesn't work"
all the relative links (including those with the letter filter) point to the api urls ("/api/...")

[2011-10-13 17:20] luca commented on #138
I have fixed this here luca@4c89405a9d29ff371ff290767637da9d94889e37 by moving the API routes to the bottom of the routes.rb file (thus being the lowest priority)

[2011-10-13 17:22] luca opened #139 "Mismatch on the contacts count vs contacts shown on the page"
In the index action of the contacts controller we have this to find the contacts:

[code]

that is we find the current page of all the contacts sent by the current_subject (filtered)

on the page to set the number of records found we have this:

[code]

which calls Actor.contact_actors which by default filters only the actors having Relation::Custom  or Relation::Public ties.

The method used in t

[2011-10-13 17:24] luca commented on #139
Here: luca@c4a78de737f6688d03475023032efaad8db54fe0 I have fixed it by refactoring a bit the code:
- added a not_rejected scope to Contact which skips all the reject relations,
- extracted the global contacts scope in an @unfiltered_contacts variable (also excluding the rejected contacts),
- used @unfiltered_contacts both on the page (to get its count) and in the controller (applying the filters t

[2011-10-14 08:34] #137 closed, assigned to nobody

[2011-10-14 08:34] #138 closed, assigned to nobody

[2011-10-14 08:35] atd commented on #139
Hi Luca, you are right. The rejected contacts should not be shown in that screen.

I like your approach of the `not_rejected` scope. I have modified it a bit to a `positive` scope, in the case that more "negative" relations show up in a future.

In the other hand, I think that the count should came from all positive contacts as well.

Please, tell us if commit ddd1cc3  fit your needs.

Thank you v

[2011-10-14 10:20] luca commented on #139
I like your version a lot, and it makes a lot more sense: imagine an 'its a spam' relation :)

I'm missing a couple of things, related to the count on the page, which now is:

[code]
- doing a count overwrites the `select("DISTINCT contacts.*")` that is part of the `positive` scope, in my case it shows the wrong count as I have contacts with multiple ties (e.g. both a friend and an acquaintance).

[2011-10-14 14:09] atd commented on #139
Absolutely right, I fixed both issues in 53406c2466c7104eab6dd21569975e9442c6802a

Please, close the issue if you feel it Is ok?

[2011-10-14 15:33] agordillo opened #140 "Implement new methods for tie model"
- Check if a tie is "bidirecctional" with positive relation
- Check if a tie is "positive"

[2011-10-14 15:51] luca commented on #139
cool, I'm closing it

[2011-10-14 15:51] #139 closed, assigned to nobody

[2011-10-14 20:55] Roendal opened #141 "Delete Admin contacts from Settings"

[2011-10-17 09:28] #140 closed, assigned to nobody

[2011-10-17 09:33] atd opened #142 "Missing translation in notifications"
All the notifications include a string that is not translated:

"Visit http://test.com/notifications and check all your notifications."

[2011-10-17 09:34] atd opened #143 "Text version of new contact notification is missing the link"
The link is present in the html version:

http://test.com/contacts/34/edit?s?demo

[2011-10-17 09:36] atd opened #144 "String not translated in new message mail"
"mengano has sent a new message to you"

[2011-10-17 10:39] atd opened #145 "Add tips in contacts list"
Should show the name of the contact in the profile

[2011-10-17 10:40] atd opened #146 "Restricted list is duplicated"
When the activity is shared with several relations

[2011-10-17 10:42] #146 closed, assigned to atd

[2011-10-17 10:58] #145 closed, assigned to nobody

[2011-10-18 09:19] atd opened #147 "Message's content overflows"
The body of a message overflows in the conversation view if it contains a long word.

[2011-10-18 13:40] #135 closed, assigned to Roendal

[2011-10-18 15:26] #141 closed, assigned to Roendal

[2011-10-18 16:22] #147 closed, assigned to Roendal

[2011-10-24 06:15] atd opened #148 "Partial translation of wall post notification"
"Fulanito añadió comment en tu muro"

[2011-10-24 15:53] atd commented on #105
Avatar is still missing besides 2nd comment in a post

[2011-10-26 12:36] atd opened #149 "Public link for activity objects"
Provide a link with a hash for activity objects so that they can be accessed by other users

[2011-10-28 09:22] Roendal opened #150 "Issues with the player for audio and video"
The player fails in playing the song twice or more and can't move the cursor over the timeline.

[2011-11-04 09:28] #105 closed, assigned to adiezbal

[2011-11-04 17:39] #136 closed, assigned to adiezbal

[2011-11-05 13:29] francescoagati opened #151 "jruby - problem installation"
with jruby 1.6.5 i have a problem of native extension with rmagick

should use the check of rmagick4j for jruby

gem PLATFORM == 'java' ? 'rmagick4j' : 'rmagick'

Installing rmagick (2.13.1) with native extensions
Gem::Installer::ExtensionBuildError: ERROR: Failed to build gem native extension.

[code]

WARNING: JRuby does not support native extensions or the `mkmf' library very well.
Check http:/

[2011-11-05 13:43] francescoagati commented on #151
the problem should be in avatars-for-rails.

i have open an issue here https://github.com/ging/avatars_for_rails/issues/10

[2011-11-07 10:05] #151 closed, assigned to nobody

[2011-11-08 05:10] shimms commented on #133
Still getting this error (1.9.3-p0, bundler 1.1-rc1, rails 3.1)

Tried "social_steam-base", and from git:

Same error:

Is this an issue with the gem or with my setup?

Cheers

[2011-11-08 05:28] shimms commented on #133
Also trying:

Results in:

oa-oauth, oauth2 and faraday are each installed already.

[2011-11-08 07:27] atd commented on #133
Can you try with `bundle update`?

[2011-11-08 10:59] omeryavuz opened #152 "First Time Running Problem, After First Signup"
I installed project on server, I migrated db on sql lite
I started on server and i created new user, after signup operation,
I had this error,
NoMethodError in Home#index

Showing /usr/lib/ruby/gems/1.8/gems/social_stream-0.0.5/app/views/home/_groups.html.erb where line #1 raised:

undefined method `where' for []:Array

ActionView::Template::Error (undefined method `where' for []:Array):
   <% if

[2011-11-08 12:53] atd opened #153 "Hide wall activities"
Implement the abitlity to remove from wall certain activities

[2011-11-08 12:55] atd opened #154 "Group similar activities"
Walls are flooded by activities from contacts. It would be better if they could be grouped

[2011-11-08 12:57] atd opened #155 "Show more than 2 suggestions at one time"
Some page with more than 2 suggestions at once

[2011-11-08 16:49] atd commented on #152
Hi, omeryavuz. It seems you are running social_stream version 0.0.5

Current social stream version is 0.12.3

Please, run `bundle update`

[2011-11-08 16:49] #152 closed, assigned to nobody

[2011-11-10 10:58] #84 closed, assigned to Roendal

[2011-11-10 11:56] #144 closed, assigned to Roendal

[2011-11-10 18:06] francescoagati commented on #151
with the new version of avatar for rails social_stream run on jruby and java. And the crop of image avatars function correctly with rmagick4j

gem 'avatars_for_rails', :git => 'git://github.com/ging/avatars_for_rails.git'
gem 'foreigner', '~> 0.9.1'
gem 'social_stream', :git => 'git://github.com/ging/social_stream.git'

[2011-11-11 00:07] oliverriechert opened #156 "Graphic ERROR"
http://imageshack.us/photo/my-images/88/bugfjh.png/

[2011-11-11 00:39] oliverriechert opened #157 "-"
----------

[2011-11-14 08:48] atd commented on #157
Hi kultus, could you explain the issue in more detail? To the best of our knowledge, we can see the pages rendering correctly

[2011-11-14 13:57] atd commented on #157
Ok, catched it. It is a Google Analytics issue (which is used in http://demo-social-stream.dit.upm.es), but not an issue of Social Stream. See https://github.com/rack/rack/issues/225

[2011-11-14 14:13] atd commented on #151
Awesome!

[2011-11-16 09:13] #142 closed, assigned to adiezbal

[2011-11-16 09:13] #143 closed, assigned to adiezbal

[2011-11-16 09:13] #148 closed, assigned to adiezbal

[2011-11-16 09:56] atd opened #158 "Create thumbnail for pictures#show"

[2011-11-16 17:38] diegocarrera commented on #156
ok it's fixed

[2011-11-16 17:38] #156 closed, assigned to diegocarrera

[2011-11-16 18:07] oliverriechert opened #159 "Reply message refresh"
Send a new message

push reply

after the reply  refresh the browser.

message is generated again and again....

[2011-11-17 10:16] #159 closed, assigned to Roendal

[2011-11-18 13:53] atd opened #160 "Cannot set group's email"
Cannot find the option in the profile

[2011-11-24 09:30] atd opened #162 "Wall owner should be able to edit documents"

[2011-11-28 10:21] atd opened #163 "Add group tags in group's new form"

[2011-11-28 13:57] atd opened #164 "Recursive loopback in Actor#mailboxer_email"
When a group creates other group, a recursive loopback is created:

[code]

[2011-12-02 11:15] #164 closed, assigned to Roendal

[2011-12-04 07:51] openasc opened #165 "Unable to render site when deployed to Heroku"
on a fresh install and migration, on deployment to heroku the following error occurs:

 ActionView::Template::Error (Invalid CSS after "...ition:relative}": expected selector or at-rule, was "<!DOCTYPE html>"
(in /
6:     <title><%= yield(:title).empty? ? t('site.name') : yield(:title)%></title>
7:     <meta name="keywords" content="<%= yield(:keywords).empty? ? t('profile.tags.default') : yield(:

[2011-12-05 11:45] atd opened #166 "Fix notification's CSS"
When the notification's body is too long, the notification index breaks down

[2011-12-05 16:49] atd commented on #165
What versions are you using? (Rails, social_stream, etc..)

[2011-12-05 17:20] openasc commented on #165
rails 3.1.3
social_stream 0.13.3
ruby 1.9.3

[2011-12-05 17:33] openasc commented on #165
I changed my gemfile: gem 'social_stream', '>= 0.14.0' and getting (when deploying to heroku)
       Fetching gem metadata from http://rubygems.org/.
       Unfortunately, the gem social_stream-base (0.6.7) has an invalid gemspec. As a result, Bundler cannot install this
       Gemfile. Please ask the gem author to yank the bad version to fix this issue. For more information,
       see http://bit

[2011-12-05 18:01] openasc commented on #133
ruby 1.9.3, bundler 1.0.21, rails 3.1.3, social_stream 0.14.1

unable to deploy to heroku:

[code]

I've tried to gem uninstall all gems and reinstalled; I've gem update --system; bundle update; heroku still sees social_strea-base 0.6.7

[2011-12-05 18:57] atd commented on #133
Please, fix the version of social_stream in your Gemfile a run bundle update

Version 0.14.1 depends on base 0.10.4, so there must be something wrong with your Gemfile.lock

[2011-12-05 19:07] openasc commented on #133
here is my gemfile:

[code]

here is my gemfile.lock (but heroku doesn't look at the lock file):

   social_stream (0.14.1)
      social_stream-base (~> 0.10.5)
      social_stream-documents (~> 0.5.0)
      social_stream-events (~> 0.1.0)
      social_stream-linkser (~> 0.0.1)
    social_stream-base (0.10.5)
      acts-as-taggable-on (~> 2.0.6)
      ancestry (~> 1.2.3)
      avatars_for_rails (~

[2011-12-06 03:10] openasc commented on #133
The problem is with bundler 1.1.rc, which is being used by Heroku.  The only solution currently is to yank social_stream-base 0.6.7

[2011-12-06 03:34] openasc commented on #165
Would you be able to yank social_stream-base 0.6.7? That is the only fix for heroku currently.

[2011-12-06 12:00] atd commented on #133
Please, can you provide a pointer to that?

Provided that your Gemfile is asking for some specific version of a gem, I am not sure that yanking old versions of that gem is a good solution.

[2011-12-07 09:12] atd commented on #165
A couple of gems yanked, please try now

[2011-12-07 09:19] atd commented on #165
http://demo-social-stream.herokuapp.com/

[2011-12-07 13:41] diegocarrera opened #167 "rake:populate:reload error with avatar"
I got an error when make command   rake db:populate:reload.
@ruby 1.9.3

rake aborted!
Validation failed: Logo You have to make precop

[2011-12-07 13:42] diegocarrera commented on #167
A solution is make command on @ruby 1.8.7

[2011-12-07 17:50] openasc commented on #165
That fixed heroku deployment.  Thank you.

[2011-12-07 17:50] #165 closed, assigned to nobody

[2011-12-07 17:57] openasc commented on #165
The site is being rendered but I am getting this error on every git push to heroku:

[code]

[2011-12-07 18:40] #166 closed, assigned to adiezbal

[2011-12-09 09:28] atd commented on #165
These errors are related to the lack of _redis_ support, which is used for audio and video postprocessing.

[2011-12-09 12:23] diegocarrera opened #168 "A way to ask other users that update their information"
I would like a way to ask "as contact (friend)"  to a contact user update information like:
- An avatar, because almost all contacts  use the default picture
- User post some activity, beacuse they forgot to use socialstream
- To label a contact in any activity

[2011-12-09 13:20] diegocarrera opened #169 "Post an activity to many groups"
What happen if i want to post an activity on many group, because socialstream core just  allow to post it on each group.

Posible solution:  add groups name on contact field (located at wall form)

[2011-12-09 17:35] #160 closed, assigned to nobody

[2011-12-09 18:55] atd commented on #133
There was a dependency problem that prevented bundler install the latest version of social_stream

Please, try now!

[2011-12-10 07:24] maxguzenski opened #170 "Many questions about social_stream..."
This topic is not a bug, but I would like to discuss them in public.

I developed a simple social network, with the below features:
- Users can have friends, and say if they are only virtual friends or if they know each other in the real world. In both cases the "receiver" must confirm that request
- A user can specify favorite friends
- Wall is divided into three streams: favorites, friends or AL

[2011-12-10 10:14] atd commented on #170
Hi Max, we are glad to hear from you!

We think both projects has many things in common, so it would be very interesting to join forces!

We have not already deployed a network of the size like yours. The database schema was definitely designed with scalability in mind but, to be honest, we haven't tested it yet.

We currently cannot group activities together, so we plan to do a couple of changes

[2011-12-10 10:35] maxguzenski commented on #170
Ok, I'll fork the project and play with it a while. I read, and read again, and again.. but the relationship between Contact, Tie, Relation and Activity are very obscure to me.

Are there any tips for "DUMMIES" to develop social_stream? I never work with a rails engine.

[2011-12-10 14:32] atd commented on #170
Great!

All we can offer are the wiki pages and the documentation at http://rubydoc.info/gems/social_stream-base
We should clarify them, starting from the relationships you mention.

Basically, for your case, you can have 3 types of Relations: friend, favorite and block. The block relation can be the already defined "Relation::Reject" class. The other ones can inherited from Relation. We support R

[2011-12-11 13:06] diegocarrera commented on #170
Hey Tapi, maybe is a good idea to create an especific & little tutorial about how to create a new relation on socialstream`s source code for advanced users

[2011-12-13 12:08] #163 closed, assigned to nobody

[2011-12-13 17:16] atd commented on #170
Hi Max, we have improved the documentation of those classes. I hope the relationships are clearer now. Diego volunteered to create the tutorial on how to create a new relation on social stream.

[2011-12-13 23:48] openasc commented on #133
Able to deploy to Heroku with fix.  Thanks.

[2011-12-14 08:27] atd opened #171 "Like email notifications are misleading"
When somebody likes one of your activities, the email that arrives says that that person is your fan.

[2011-12-14 11:06] #171 closed, assigned to adiezbal

[2011-12-14 21:23] diegocarrera opened #172 "Conference room on groups display a white screen"
I test conference room at home, and it only display a white screen at flash area, I think that port 5080 is blocked.

[2011-12-15 11:02] atd opened #173 "Menus in toolbar are not expanded"
The javascript is broken

[2011-12-15 11:18] atd commented on #172
The port should be open now

[2011-12-15 11:18] #172 closed, assigned to nobody

[2011-12-19 10:10] #173 closed, assigned to nobody

[2011-12-20 07:59] atd opened #174 "Ommit showing images that are filtered from client"
Some sites filter requests to content linked from other sites, in order to reduce bandwidth.

This issue affects linker behaviour, because the images are first fetched by linked, but afterwards they are broken in the user-agent.

I propose requesting images in the first place with a referer header.

[2011-12-20 14:08] rafaelgg commented on #167
I pushed a fix to avatars_for_rails at:
https://github.com/ging/avatars_for_rails/commit/e82899f535093e8f06f02dd0cac3114262be41b3

Please check if that fixes the issue

[2011-12-20 15:12] raquelgb opened #175 "Sign up form produces two errors if name is missing"
Steps to reproduce: go to sign-up form, enter any number of fields except "Name".

What happens:
   2 Errors Prohibited This User From Being Saved:
   Actor name can't be blank
   Name can't be blank

What is expected:
   1 Error Prohibited This User From Being Saved:
   Name can't be blank

[2011-12-20 16:13] diegocarrera commented on #167
now it's working on ruby 1.9.2, confirmed

[2011-12-20 16:23] diegocarrera commented on #167
and it 's confirmed on 1.9.3 only if you don't use ruby-debug currently.

[2011-12-21 14:08] raquelgb commented on #167
Also, notice that your Rmagick and ImageMagick versions might differ and cause the db:populate task to fail in the avatar creation step with an error akin to:

"This installation of RMagick was configured with ImageMagick 6.7.3 but ImageMagick 6.7.4-0 is in use."

To prevent this, you may include the following code at config/environment.rb:

RMAGICK_BYPASS_VERSION_TEST = true

[2011-12-21 17:18] raquelgb opened #176 "Javascript broken (by events?)"
The following error is reported by the browser's JS console in every screen:

Uncaught Error: LoadError: cannot load such file -- coffee_script
  (in /home/arch/src/social_stream/events/app/assets/javascripts/events.js.coffee)

Sometimes also:

Uncaught ReferenceError: $ is not defined

One or several times, so I guess JQuery is not being loaded properly. Effectively no javascript functions work.

[2011-12-21 17:49] #176 closed, assigned to nobody

[2011-12-21 19:52] diegocarrera opened #177 "How to delete a group created by same owner"
Now it is imposible to delele a created group by the same person. And there is no new activity on that group.

[2011-12-22 09:31] atd opened #178 "Pending notification count should appear in Change session menu"
When you are managing several groups, you get lost about things pending to do in them.

Adding a counter for pending notifications could encourage users to change sessions and manage those notifications.

[2011-12-22 09:42] #170 closed, assigned to nobody

[2011-12-22 10:07] diegocarrera commented on #177
Only if you change session like admin's group, then, you have to clic on groups setting's, and then you have option of  "to delete group".   It is an interaction problem. Could be a better solution?

[2011-12-22 10:12] diegocarrera opened #179 "It is not automatic add to contacts a new group"
When you create a new group, It add you like admin contact, but You have to confirm to add to a sphere too.

[2011-12-22 10:12] rafaelgg commented on #174
Fixed by linkser commit c1e85f6

[2011-12-22 10:13] diegocarrera commented on #179
A good solution is to add a field at new group's form, that allow add this new group to a personal sphere

[2011-12-22 10:20] atd commented on #177
IMO, deleting a group is a serious thing. Unless you have created it by error and you want to delete it at the moment, deleting a group means that all the information attached to that group is also to be destroyed. That is the reason it is "hidden".

[2011-12-22 10:20] atd commented on #177
BTW, it is similar than Github's repositories

[2011-12-22 17:04] atd commented on #178
Sorry, I was not clear enough describing the bug. I meant **unread notifications**, which should include notifications about pending contacts

[2011-12-22 19:41] rafaelgg commented on #178
My bad, not my finest afternoon either... just to clarify: should we include **only** unread notifications? or also pending contacts? Either way it should be an easy fix.

[2011-12-23 07:39] atd commented on #178
IMO, unread notifications would be enough. A new notification is sent every time someone wants to contact you, so pending contacts are already included in notifications

[2011-12-23 09:05] rafaelgg commented on #178
Commit 09656fc should fix this. Please check and close the bug. Thanks in advance

[2011-12-23 09:50] atd opened #180 "What about more explicit notifications?"
After some experience with social stream, I have realized that notification emails could be more straightforward. When somebody posts a new link to a wall, for example, a get an email with this subject

_Somebody added a link in your wall._

The only information interesting for me is "Somebody". I do not really care so much about the object type (link), and I suppose it is posted to my wall, but I

[2011-12-23 10:07] atd commented on #178
Thank you Rafa.

I only miss the notification's background instead of the message's one. I think this could mislead users. What do you think about it?

[2011-12-23 13:10] atd opened #181 "Missing SCSS variables in CSS"
There are still hard-coded colors in `base/app/assets/stylesheets/header.css.scss` that should be transformed to SCSS variables

[2011-12-23 15:02] rafaelgg commented on #178
Commit e955642 should do the trick

[2011-12-23 15:14] #181 closed, assigned to nobody

[2011-12-23 16:25] rafaelgg commented on #180
It took me a while to figure out where everything was. FYI header is generated in notification_subject() at base/app/models/activity.rb; bodies at base/app/views/notifications/activities/*

I'm probably not the best writer around, but we can definitely work this over a bit.

[2011-12-23 17:01] #175 closed, assigned to nobody

[2011-12-23 17:02] rafaelgg commented on #175
This is a bit of a kludge... but I'm having some trouble picturing a cleaner solution atm

[2011-12-26 10:46] rafaelgg commented on #178
Will close this for now, feel free to reopen if needed

[2011-12-26 10:46] #178 closed, assigned to nobody

[2011-12-27 16:59] atd commented on #180
Great Rafael! Maybe it could be documented somewhere?

[2011-12-28 11:19] rafaelgg commented on #162
Changeset 091d34c lays out the baseline to start addressing this issue

[2012-01-02 09:35] atd opened #182 "Linkser's images are not working any more"
What worked at http://demo-social-stream.dit.upm.es/links/8 does not now: http://demo-social-stream.dit.upm.es/links/51

[2012-01-02 10:06] atd opened #183 "Video visualization does not work on Firefox"
Try http://demo-social-stream.dit.upm.es/videos/180

[2012-01-02 10:12] atd opened #184 "Post and link mix"
When posting a sentence with a link, for instance: "Watch this! http://example.com", Social Stream creates a link with the sentence as href. See:

http://demo-social-stream.dit.upm.es/links/53

[2012-01-02 10:28] atd commented on #178
One last thing (hopefully ;-))

Would it be possible to link only the notification count right to the notifications' page?

[2012-01-02 11:07] raquelgb commented on #182
This is likely a side effect of linkser commit c1e85f6, which does not return images that can't be hotlinked from an arbitrary domain (www.linkser.com) via referrers. Can images at demo-social-stream.dit.upm.es be hotlinked?

[2012-01-02 11:08] Roendal commented on #184
The regex must be improved.

This string "http://bartaz.github.com/impress.js/" should be understood as a new link.

This one "Hola probando http://bartaz.github.com/impress.js/" should be understood as a new post.

[2012-01-02 11:26] atd commented on #182
Lets see:

![Social Stream](http://demo-social-stream.dit.upm.es/system/logos/25/original/stream20110721-24174-1yce2fm.png)

[2012-01-02 11:27] atd commented on #182
It works...

[2012-01-02 13:38] rafaelgg commented on #178
Commit 76ee61c implements this

[2012-01-02 17:31] rafaelgg commented on #182
Linkser commit 6831bb0 fixes this in my system. As Raquel said, the bug was introduced by linkser's c1e85f6 (fix for social_stream's issue #174) and was indeed in the method that checks for hotlinking, which did not work as expected. It does now, but you'd have to release linkser, maybe correct version in social_stream spec (Edu?).

Please check this works so we can close this bug.

[2012-01-02 22:56] Roendal commented on #182
Linkser 0.0.10 released and social_stream-linkser dependecy updated.

[2012-01-03 08:58] atd commented on #182
Hi Rafa, please do not be afraid to close bugs. We believe the work is correctly done and the bug is fixed. If it is not, do not  doubt that somebody will come back and reopen it.

I have added you as owner of linkser. You are now able to release future versions

[2012-01-03 08:58] #182 closed, assigned to rafaelgg

[2012-01-03 09:00] atd commented on #184
Maybe using /^ ?

[2012-01-03 09:13] rafaelgg commented on #182
Duly noted. Let's squash some more bugs!

[2012-01-03 14:14] rafaelgg commented on #184
Anchoring the regexp to line start/end with ^ and $ makes it work this way:

"http://bartaz.github.com/impress.js/" is identified as a _link_
"Check this out!! http://bartaz.github.com/impress.js/" is identified as a post
"http://bartaz.github.com/impress.js/ is the worst URL ever" is also identified as a post

I assume this works for you, so I'll go ahead and close the issue :)

[2012-01-03 14:16] #184 closed, assigned to nobody

[2012-01-03 14:33] Roendal commented on #184
Perfect Rafael, thanks :)

[2012-01-04 04:30] modjoe23 opened #185 "Asset missing"
Started GET "/groups/assets/loading.gif" for 127.0.0.1 at 2012-01-03 23:29:11 -0500

ActionController::RoutingError (No route matches [GET] "/groups/assets/loading.gif"):

when on the "New Group" page.

[2012-01-04 11:18] #185 closed, assigned to nobody

[2012-01-04 11:21] Roendal commented on #185
It was a stupid problem. It was asking for "assets/loading.gif" instead of "/assets/loading.gif".

Thanks modjoe23.

[2012-01-04 12:01] atd commented on #185
Edu, note that path may be different. Assets can even be deployed to its own server. It is better using asset_path

http://guides.rubyonrails.org/asset_pipeline.html#javascript-coffeescript-and-erb

[2012-01-04 12:28] Roendal commented on #185
Fixed :)

[2012-01-05 09:36] raquelgb opened #186 "Preferred language not updated"
When changing the user preferred language under _Settings_, the form submits, but the language is not updated. This is a mistake at my own commit 5d97114

[2012-01-05 09:38] rafaelgg opened #187 "Rails locale missing"
Ever since commit 5d97114 social_stream detects my account or browser language preferences. However, if set up in Spanish (the only other language now shipped with social_stream), rails-i18n translations are missing. For example "Two days ago" gets translated as "hace translation missing: es.datetime.distance_in_words.x_days"

Of course you can grab your locale file from https://github.com/svenfuc

[2012-01-05 11:41] atd commented on #187
Very accurate @rafaelgg , it seems there is a rails-i18n gem:

http://rubygems.org/gems/rails-i18n

However it includes all the locales available. See:

https://github.com/svenfuchs/rails-i18n/pull/164#issuecomment-3368651

[2012-01-06 11:45] rafaelgg commented on #180
I added a [tiny article](https://github.com/ging/social_stream/wiki/How-to-customize-notifications) to the wiki, which could clearly be improved.

We'll work on the notification texts after the weekend.

[2012-01-08 09:50] atd opened #188 "Notify migration"
New notify permission allows selecting which group's relations manage notification messages. However, current relations in already deploy applicacions have not this permission, so existing groups will stop being notified.

A migration can be used to fix this issue. The migration does not have to touch the database schema. However, it would add the notify permission to group's first custom relation

[2012-01-08 12:50] #183 closed, assigned to nobody

[2012-01-09 11:55] lolziac opened #189 "Missing host to link to!"
Social Steam team =) I will use the opportunity to say to you all that: SS looks promising and you did a good job.

I'll jump to to my issue:

I installed SS through RVM - Ruby 1.9.2 , Rails 3, Sphinx and Passenger with Nginx.

With no hassle I managed to run SS, the only issue that I found till now is when I try to add friends, I get an error message.
(With WEBrick I get the same issue).

Here yo

[2012-01-09 13:20] rafaelgg commented on #188
Commit e2ba584 fixes this. I've tested it with a dummy install and it works, but some issues may arise in an existing installation. I'll close for now, feel free to reopen.

[2012-01-09 13:20] #188 closed, assigned to rafaelgg

[2012-01-09 14:20] rafaelgg commented on #188
Commit 6021a6e should fix the PostgreSQL build. Let's see if Travis agrees.

I was using an illegal GROUP BY query (according to the SQL standard anyways) which is incorrectly implemented by MySQL. Most likely on purpose, because it was really convenient.

[2012-01-09 14:46] rafaelgg commented on #189
Hi,

Thanks a lot for your support.

Regarding your issue, our test application set the default url host option at `config/environments/development.rb` as:

[code]

Of course, replace `localhost:3000` with your host or domain name if you intend to deploy the application. Please note that this is required (i.e. you can't use the other options suggested by the trace) as `ActionMailer::Base.default_u

[2012-01-10 12:57] #186 closed, assigned to nobody

[2012-01-10 20:05] lolziac commented on #189
rafaelgg,

I checked the development config and there was no parameters set regarding config.action_mailer so added the parameter as you have written and it worked =)

config.action_mailer.default_url_options = { :host => 'localhost' }

Guys I don't know, should that code be in that file by default or maybe note it somewhere in the tutorial for others.

Thank you
rafaelgg

[2012-01-10 20:05] #189 closed, assigned to nobody

[2012-01-10 21:10] d3chapma opened #190 "Can't install social_stream using bundle. Gemspec seems to be too specific."
Just curious if the gemspec is supposed to be as specific as it is because even trying to add it to a basic project with just devise installed I get the following errors:

[code]

Trying a bundle install seems to just lead to my console hanging on:

[code]

A company that I am working for is interested in using this gem for the social aspects of their site, but it seems to be in early stages of de

[2012-01-10 23:09] diegocarrera commented on #190
Im not sure, but.. try this line before installation

sudo apt-get install libxml2-dev libxslt-dev libmagickcore-dev libmagickwand-dev libmysqlclient-dev libsqlite3-dev imagemagick

[code]

[2012-01-11 08:35] atd commented on #190
Hi David,

the reason behind these constrains is just stability. We follow the ruby gems' mayor.minor.patch scheme, keeping our dependencies out of minor and major upgrades that could bring unwanted surprises.

You can check the upgrade policy at https://github.com/ging/social_stream/wiki/About-upgrading-social-stream
This policy, along with our test battery (http://travis-ci.org/#!/ging/social_st

[2012-01-11 08:37] #119 closed, assigned to diegocarrera

[2012-01-11 08:45] atd commented on #189
Hi lolziac,

This is a Devise issue. When you install Devise, it warns you about it (see https://github.com/plataformatec/devise/tree/master/lib/generators/templates ) However, this message is burried in other Social Stream's install information.

We are sorry for the inconvenience. We will add this to the README ASAP

[2012-01-11 18:54] d3chapma commented on #190
the gemspec for social_stream-base says that it is frozen to Rails 3.0.7 until a mailboxer bug is fixed. So I guess that was rolled back.

Thanks for the comprehensive answer though.

[2012-01-11 18:54] #190 closed, assigned to nobody

[2012-01-12 08:46] atd opened #191 "First top lines in chat's offline message hides the conversation"

[2012-01-12 11:58] rafaelgg commented on #190
David,

The versions you are referring to seemed a bit too dated, so I checked rubygems. You are pulling social-stream ~0.5.0. Why is this happening? Dependency hell, as usual.

For instance, If you create a new rails app with rails 3.2.0rc1 and add 'social_stream' as a dep, it will require at least that version of the rails gem, which conflicts with the newest versions of social_stream... a rathe

[2012-01-13 12:15] rafaelgg opened #192 "Search with Sphinx does not show posts in population"
Posts are matched by SphinxSearch, but not shown in the view(s).

Steps to reproduce:
- Setup sphinx, populate some posts, index sphinx, search for some part of your post content

What happens?
- Posts are found (e.g. the 'Posts' result tab is highlighted), but 0 posts are shown

What should happen?
- Posts should be shown

[2012-01-13 12:27] Roendal commented on #192
I can reproduce the error neither locally nor in [demo](http://demo-social-stream.dit.upm.es/search?focus=posts&search_query=tengo)

Anyone else is having this issue in a different machine?

[2012-01-13 13:42] rafaelgg commented on #192
This **does** work if I input a post by and, but not with the test posts from the `rake db:populate` task, which got me thinking whether this is a bug at all or just a matter of timestamp difference.

I'll try a couple more things and let you know.

[2012-01-13 13:54] rafaelgg commented on #192
Ok, I repopulated, re-indexed and the behavior is still the same.... it works with posts I type in manually (only **after** reindexing, of course), but never with example posts from `rake db:populate`.

I'll tag this low-priority and we can think it out a bit, maybe close as "won't fix".

Thanks for your help.

[2012-01-13 15:00] Roendal commented on #192
![WTF?](http://images.t-nation.com/forum_images/3/8/385ed_ORIG-DA_FUCK.jpg)

Maybe the Post population is outdated. It's the only thing that makes sense to me ...

I will take a look at it later. Any ideas @atd ?

[2012-01-13 15:28] atd commented on #192
NPI

:-/

[2012-01-13 15:58] Roendal commented on #192
Ummm ... I think I found something.

This is the button disabler line in [social_stream / base / app / views / search / _form.html.erb](https://github.com/ging/social_stream/blob/master/base/app/views/search/_form.html.erb#L13)

[code]

It seems correct but Evil is near. If you take a look at https://github.com/ging/social_stream/blob/master/base/app/controllers/search_controller.rb#L33 you will s

[2012-01-13 16:18] rafaelgg commented on #192
So, if I understood correctly the results are being "killed" by the authorization filter. This is why they don't appear in the result list, even though I can find them manually.

And also the authorization filter is not being applied to the count that disables the "Posts" tab in the search results view.

As I see it, there are two things to fix here:
- Apply the filter when checking whether to ena

[2012-01-13 16:36] Roendal commented on #192
I can't see why you say the filter is killing results. The problem is the button gets enabled because it finds the posts in the DB matching your query but you can't see them (they should be filtered), so you can access but see nothing.

A fast example:
- A, B and C are users. You are A. B and C are friends, and no other relation is present.
- B posts "Hi friends!" to all his friends, just C.
- A d

[2012-01-14 00:37] Roendal opened #193 "SocialStream views need some fixes to scale corretly"
As a picture is worth a thousand words I won't type anymore, just enjoy the sight.

http://dl.dropbox.com/u/11950726/social-stream-massive-population.jpg

(It will be in my dropbox for now, I will take it to demo as soon as it is alive again)

[2012-01-15 11:57] atd opened #194 "Population fails"
[code]

[2012-01-15 12:04] #194 closed, assigned to nobody

[2012-01-15 12:04] Roendal commented on #194
It should be fine now. Check it please :)

[2012-01-16 09:23] atd commented on #192
Object's permissions are a mess, because we need to go through post activities. I would like to refactor that to simplify queries and perform those counts more easily. That would help to solve the problem that Edu mentions.

[2012-01-16 09:25] Roendal commented on #192
You have my blessings to refactor this :)

[2012-01-16 11:47] rafaelgg commented on #180
Late commits should fix this issue for now, feel free to reopen. Kudos to @raquelgb and @Roendal for the feedback on the subject line.

[2012-01-16 11:47] #180 closed, assigned to nobody

[2012-01-19 09:18] atd opened #195 "Notifications are delivered in the language of the author"
Because language is set at the begining of the request, notifications are sent in the locale of the user that performs the action, but it should customized to the receiver's locale

[2012-01-19 14:13] btrepp opened #196 "0_devise_sign.css never compiled in production"
Hello.

Been trying out social stream, and I've noticed that in production mode it will crash complaining that 0_devise_sign.css is never pre-compiled.

I ran a pre-compile via rake using

RAILS_ENV=production bundle exec rake assets:precompile

and noticed that the file was never created. Adding this line to production.rb fixes it

config.assets.precompile += %w( 0_devise_sign.css )

Of course th

[2012-01-19 16:09] #196 closed, assigned to nobody

[2012-01-19 16:16] atd commented on #196
Hi, thank you for your report.

We should use a different layout there. Anyway, we have moved the style to a partial, removing the separate stylesheet. We could not use a dependency because it is only used in 3 views.

[2012-01-19 16:50] rafaelgg commented on #195
This should be fixed by commit 640df85, so I'm closing this. Feel free to reopen if it keeps failing when you test it in a production environment.

Notifications and messages are now sent with the helper text in the recipient's preferred language (i.e. we do not translate the message content).

However, _most accounts won't have a preferred language_ (since adding a language field to the user crea

[2012-01-19 16:50] #195 closed, assigned to nobody

[2012-01-20 05:25] btrepp opened #197 "RemoveSpheres migration fails on heroku"
I think this is more related to heroku and how locked down the databases are, but I'll report this to you guys so anyone else with this problem can see what's going on.

Running rake db:migrate on heroku fails at the removeSpheres migration, specifically drop_table :spheres. This does not error out locally. I'm thinking it's a permissions thing, heroku is not letting the migration drop a table, ev

[2012-01-20 08:16] atd commented on #197
Yes, that is a relic from older code. Old migrations should be cleaned up

[2012-01-20 09:43] rafaelgg opened #198 "Sidebar calendar should be fully rendered at the client"
Our own social_stream-events' sidebar calendar renders 28 days, with a different CSS class for today, days past and the days in a different month. However, it does so based on the server's timezone, so when the server changes days, but the client still hasn't (or the other way around) this information is incorrect.

This was far more obvious regarding scheduled events (solved in commit 7ab6f46), b

[2012-01-20 11:24] raquelgb opened #199 "Text in assets/ gets translated to the default language rather than client's preferred"
@rafaelgg and I noticed this while hunting for non-translating strings in the activities front. This should have been obvious: assets may be precompiled when deploying to production, but even in development they are somehow cached, so rails I18n code should **definitely not** be used in assets. Culprits follow:

[code]

These text will appear in whatever your `I18n.default_locale` is; keep in mind

[2012-01-20 11:48] atd commented on #199
Nice catch guys! This is a bug that we were seeking after in the Piluka's deploy

I think i18n-js in the most convenient solution. YAD :-(

Including the translation in the views makes the javascript dependent on that views, which is very messy...

[2012-01-20 11:53] atd opened #200 "Wall's javascript is not preserved with AJAX calls"
There are a number of $(document).ready() code (hide up to 3 comments, video thumbnails, etc.) that is broken with AJAX calls (pagination for example)

This code should be reorganized, so calls to those javascript functions are not repeated.

Should we use callbacks, maybe?

[2012-01-20 12:41] rafaelgg commented on #198
Commit 1d5c30d fixes the main issue. There is a minor glitch regarding when the calendar starts, so I'll probably commit something else later.

[2012-01-20 17:11] #199 closed, assigned to nobody

[2012-01-20 17:26] rafaelgg commented on #199
This was trickier than expected: [I18n-js](https://github.com/fnando/i18n-js) works great, but there is a glitch if you don't have a config file at you app's `config/i18n-js.yml`. The file can actually be empty, it just needs to be there; e.g. create it with:

[code]

This is not worth including in the documentation, because [it is already fixed](https://github.com/fnando/i18n-js/commit/888e9c59df

[2012-01-23 09:22] raquelgb commented on #158
This was fixed in commit 0e43cb5, closing

[2012-01-23 09:22] #158 closed, assigned to nobody

[2012-01-24 07:54] atd opened #201 "Comment to a link without title fails"
When linking to an image, linkser does not fill the title field. Notifications fail to truncate the title, which is nil

[2012-01-24 07:58] atd opened #202 "Show remote linked objects"
Linkser works for HTML, but it sould show other objects also, like images or flash. It could maybe use an iframe for that.

[2012-01-24 08:50] rafaelgg commented on #201
I assigned this bug to myself since my notification code is to blame

[2012-01-24 09:23] raquelgb commented on #202
That's a great idea; many times you just want to post a link to an image, not the webpage containing it (which may have ads, other unwanted content, etc.). Also, the thumbnail selection algorythm linkser uses might fail and choose the wrong image for you (although it usually works flawlessly).

As a related topic, HTML5 has an [<article> tag](http://www.w3schools.com/html5/tag_article.asp), which

[2012-01-24 11:54] Roendal commented on #202
Linkser can retrieve as many images as you want. Right now it just take one to simplify the javascript (as you don't have to select images from a set) but as @raquelgb says, it only gets good images when taking them from OGP. Changing a parameter solves this, takes more than one image and with a js selector you let the user choose.

Sharing images is really useful without any doubt. Sharing flash

[2012-01-24 11:58] Roendal commented on #201
Evil monkey blames @rafaelgg code!
![Evil monkey](http://scrapetv.com/News/News%20Pages/Science/Images/Evil-Monkey-family-guy.jpg)

[2012-01-24 14:21] atd commented on #202
One of the examples for excursions in the ViSH was a flash object. But I do agree that (fortunately) flash is becoming less and less important in the web

[2012-01-24 16:14] #201 closed, assigned to rafaelgg

[2012-01-24 16:28] rafaelgg commented on #201
I moved a lot of common code to the helper, but barely rewrite anything. Just a couple of `nil?` checks and add `url` as a last resort to determine title.

This is not, however, the best solution for the problem at hand: as discussed yesterday, we should probably write wrapper `title` and `description` methods for models that don't have those fields and just use that.

[2012-01-26 20:20] Roendal opened #203 "Populate fails because of Avatar population"
I get this log when doing the populate

[code]

Seems heavily related to avatars_for_rails and rails 3.2 compatibility (as is the only major change affecting this). The validation in avatar_for_rails

[code]

[2012-01-26 20:24] Roendal commented on #203
![Avatars for rails](http://www.schuppco.com/blog/wp-content/uploads/2009/10/Monster1.jpg)
@jaime1988! Your little creature is crying for you!

[2012-01-26 20:33] Roendal commented on #203
A simple workaround to avoid the validations until this is fixed is changing this [line](https://github.com/ging/social_stream/blob/master/base/lib/tasks/db/populate.rake#L58) in the populate task and write:

[code]

[2012-01-31 16:48] #179 closed, assigned to nobody

[2012-01-31 16:50] atd commented on #117
Fixed in 48efd438f4

[2012-01-31 16:50] #117 closed, assigned to atd

[2012-02-01 06:47] atd opened #204 "Missing icon 48/doc.png"
The following icon is missing: 48/doc.png

[2012-02-01 07:01] atd opened #205 "Events in timeline are in server's timezone"
When an event is published, its time is showed in the timeline at server timeline and not in local time

[2012-02-01 10:10] #205 closed, assigned to nobody

[2012-02-01 11:29] atd commented on #203
This is fixed in paperclip > 2.5.0. Waiting for this to upgrade: https://github.com/jstorimer/delayed_paperclip/pull/58

[2012-02-01 11:58] rafaelgg opened #206 "Reject relation gets reported as pending"
When you reject a contact (e.g. it is suggested to you and you press "X"), said contact finds you as pending. Likely culprits are the `pending_*` methods at [the actor model](https://github.com/ging/social_stream/blob/master/base/app/models/actor.rb).

This is actually quite bad (when you reject a contact you'd rather not have him/her see it), so I'm tagging for priority.

[2012-02-01 14:57] jhandel opened #207 "Asset_sync isn't compatible"
there is at least one (document.js.erb) asset that can not be pre-compiled for use with asset sync. A strategy for "dynamic" assets should probably be defined so that static assets can be pre-compiled and published to a CDN instead of hosted inside the rails app.

[2012-02-01 15:29] atd commented on #207
Hi Josh, we definitely want to support static pre-complied assets for obvious reasons.

Could you provide us with the error? Currently we do not have any problems pre-compiling assets in our deployments

[2012-02-01 15:40] jhandel commented on #207
looking at the error there is probably a way for me to opt out of this particular asset but given its in the engine I "shouldn't" mess with it unless I have to right??  (FYI: I am semi new to  Rails 3 so the asset_sync stuff is a learning experience for me)

rake aborted!
This asset host cannot be computed without a request in scope. Remove the second argument to your asset_host Proc if you do not

[2012-02-02 08:00] atd commented on #207
You probably want to include documents.js or the javascript in Social Stream's repository won't work

Anyway, this is not a Social Stream's bug, but a problem regarding the configuration of asset_sync. See: http://stackoverflow.com/questions/7324292/rails-3-1-cant-compile-assets-on-prod-due-to-asset-host-config

[2012-02-02 08:00] #207 closed, assigned to nobody

[2012-02-02 13:53] rafaelgg commented on #204
If we take a look at the assets provided by `social_stream-documents`:

[code]

Office documents are wrong. Somehow at 48px they are called "word", "excel", etc. whereas at 16px they are "doc", "xls"... I guess we just have to change that. As an alternative this can be changed in [the code](https://github.com/ging/social_stream/blob/master/documents/app/models/document.rb) to show the proper icon.

[2012-02-02 19:06] rafaelgg commented on #202
After debating it earlier today, @atd @raquelgb and myself will look into extending linkser within the scope of the [ViSH](https://github.com/ging/vish) project. The ViSH excursion viewer needs a simple way to embed remote content by URL, within parameters yet to define and that way may well be Linkser.

This is not imminent, but said extension would probably fix this issue. We'll keep you posted.

[2012-02-03 13:41] agordillo commented on #191
Fixed

[2012-02-03 13:41] #191 closed, assigned to agordillo

[2012-02-03 13:59] #198 closed, assigned to nobody

[2012-02-03 14:05] #204 closed, assigned to nobody

[2012-02-03 14:33] lolziac opened #208 "Deploying SS - Devise - ActiveSupport::Dependencies:Module (NoMethodError)"
Hi guys,

I'm trying to install the Social Stream on another machine through RVM (Ruby 1.9.2 or Ruby 1.9.3)...but either way when I come to:
# rails generate social_stream:install

I get this:
http://pastebin.com/UaQ8nH4V

Do you have any idea why this is happening.

P.S: If you need more info please let me know =)

Regards

[2012-02-03 15:28] atd commented on #208
Hi lolziac, your version of Social Stream is very old (0.0.5) while current version is 0.19.2

Please try running `bundle update social_stream` or set the version number in the Gemfile

[2012-02-03 15:28] #208 closed, assigned to nobody

[2012-02-03 15:28] rafaelgg commented on #208
Hi!

Your paste rings a bell. I'm not 100% sure, but your error is from devise 1.1.9, when we are running ~>1.5.3 in current social_stream, so you are probably using a very old version. Care to share your Gemfile.lock?

The issue really goes further: when you don't force the version of social_stream, it has the rather disgusting tendency to fall back to the less-restrictive 0.5.0 version, which ac

[2012-02-03 15:43] rafaelgg commented on #198
That ought to do it. There's probably a glitch once per week for as many hours as the time zone difference between you and the server; which shouldn't be much anyways, so we can probably live with it:
- If you are ahead of your server's TZ, your calendar will place "today" at the third week on very early Mondays.
- If you are behind, your "today" will be in the first week during very late Sundays.

[2012-02-03 15:49] rafaelgg commented on #208
Heads up: I updated the README to require a "modern" version of social_stream (`>- 0.19.0`) in new installs.

[2012-02-03 17:20] raquelgb commented on #187
Commit 80b20f8d61 bundles rails Spanish translation with social stream and fixes this bug for now. If we ever add more supported locales, depending on rails-i18n seems like the way to go. Closing.

[2012-02-03 17:20] #187 closed, assigned to nobody

[2012-02-03 17:57] lolziac commented on #208
rafaelgg here you go with Gemfile.lock
http://pastebin.com/upkNdEpz

It is interesting because before a month I already installed it at my laptop and made an tutorial about the procedure I followed that time and now following the same procedure errors are appearing.

Only difference is Kubuntu Desktop vs Ubuntu Server =)

I started from beginning and removed rvm (rm -rf .rvm .rvmrc) and installed

[2012-02-04 11:38] rafaelgg commented on #208
Well, jquery-rails is definitely the problem. social_stream-base depends on `jquery-rails ~> 1.0.9`. Upstream [was released as 2.0 last december 20th](https://rubygems.org/gems/jquery-rails), according to rubygems at least.

We will try and lift the dependency, but in the meantime you should avoid requesting jquery-rails 2.0.0. It is likely that you were getting the old social_stream version befor

[2012-02-06 14:16] atd opened #209 "Missing image: available.png"
In the chat window, available.png is missing:

http://demo-social-stream.dit.upm.es/users/assets/status/available.png

[2012-02-06 15:10] #203 closed, assigned to atd

[2012-02-06 15:10] #206 closed, assigned to atd

[2012-02-07 15:18] #209 closed, assigned to agordillo

[2012-02-07 17:07] atd commented on #200
Our guru @VictorSB proposes two solutions:
- Triggering document ready event again, which may not work because of the AJAX call
- Building an array of functions in SocialStream.UI.callbacks and calling them

[2012-02-08 13:18] atd opened #210 "Activity participants should be notified on new comments"
When there is an activity and people start commenting on it, all participants should be notified on new comments. Just like Github's issues

[2012-02-08 13:20] atd opened #211 "Mark notifications as read when following links in notifications list"
In notification links, when user clicks on a link, the related notification should be marked as read. This is Github's behaviour as well

[2012-02-10 13:24] raquelgb opened #212 "social_stream-{documents,events} knowledge used in base gem"
Just stumbled upon [this file](https://github.com/ging/social_stream/blob/master/base/app/views/activities/_filter.html.erb)... why is this form regarding many different content types in base at all? Is this code ever invoked? If so, is there a simple way to move it to its corresponding gems?, maybe provide a way to hook your own entries to this form?

Best regards from the Software Coupling Polic

[2012-02-13 19:07] #210 closed, assigned to nobody

[2012-02-15 11:28] atd commented on #177
I am closing this until there is a proposal to do it in a better way

[2012-02-15 11:28] #177 closed, assigned to nobody

[2012-02-15 11:29] #212 closed, assigned to nobody

[2012-02-15 11:56] atd commented on #200
780d509079 fixes things in base, but there is still work to be done in documents with video thumbnails and jPlayer

[2012-02-15 11:58] atd commented on #200
Sorry, the right commit is 8b0fa0fae5

[2012-02-15 14:16] atd opened #213 "Comments are not properly deleted"
When deleting an activity object, all their activities are deleted. However, the comments to those activities are not deleted

[2012-02-16 21:28] kpitn opened #214 "Add new / Change Avatar"
Add an avatar or change an existing avatar doesn't send json as response.

Last version of social_stream (0.21.3)

[2012-02-17 09:11] atd opened #215 "Missing status/chat.png"
This error has appear with the last presence releases

[2012-02-17 13:27] #211 closed, assigned to nobody

[2012-02-17 13:32] raquelgb commented on #214
[Avatars for rails](https://github.com/ging/avatars_for_rails) uses a deprecated version of [a certain jQuery file upload plugin](https://github.com/blueimp/jQuery-File-Upload), which has stopped working. I'll compare a few such plugins, choose one and fix this.

[2012-02-19 19:06] atd opened #216 "Call SocialStream.Timeline.setup() in pictures#show"
..and probably other show timelines

[2012-02-20 09:41] atd opened #217 "Search index definitions must be redefined"
As result of the title and description migration, search indexes in post, documents, links, etc.. must be redefined

[2012-02-20 10:53] #213 closed, assigned to nobody

[2012-02-20 11:02] rafaelgg commented on #217
Also we should consider indexing comments (or maybe posts though the content of their comments), since they are likely to include useful information => e.g. post a link using linkser, explain why you posted it in the first comment.

[2012-02-20 13:47] atd commented on #215
This seems to be an obsolete value in users.status field. Changing those fields to "available" should fix it:

`User.where(:status => 'chat').all.each{ |u| u.update_attribute :status, 'available')`

[2012-02-20 13:47] #215 closed, assigned to agordillo

[2012-02-20 15:17] #217 closed, assigned to nobody

[2012-02-20 15:23] rafaelgg commented on #217
Calling `rake ts:rebuild` is in order after this update.

Existing setups **must** add `:comment` to `config.extended_search_models` and/or `config.quick_search_models` at `config/initializers/social_stream.rb` if you actually want to find those comments.

[2012-02-21 14:10] atd commented on #192
Won't fix

[2012-02-21 14:10] #192 closed, assigned to Roendal

[2012-02-21 14:50] atd opened #218 "Move social stream's configuration to the database"

[2012-02-21 14:51] atd opened #219 "Admins group"
A special group of admins is able to configure the site and manage spam

[2012-02-21 14:56] rafaelgg commented on #214
[Mea culpa](https://github.com/ging/avatars_for_rails/commit/e82899f535093e8f06f02dd0cac3114262be41b3).

[2012-02-21 14:58] atd opened #220 "Report spam/abuse"

[2012-02-21 14:59] atd opened #221 "Basic suggestion algorithm"

[2012-02-21 17:04] rafaelgg commented on #214
We released [Avatars for Rails v0.2.4](https://rubygems.org/gems/avatars_for_rails/versions/0.2.4), which fixes this issue. This blatantly reopens the less important #167

My apologies to @raquelgb, who battled against countless vendor javascripts to solve a problem which shouldn't have been there in the first place.

[2012-02-21 17:04] #214 closed, assigned to raquelgb

[2012-02-21 17:06] rafaelgg commented on #167
I clearly did not understand avatars_for_rails correctly in the first place. I reverted the fix for this bug in the recently released [Avatars for Rails v0.2.4](https://rubygems.org/gems/avatars_for_rails/versions/0.2.4), so you will see the bug again.

I'll try to fix it, but in the meantime please stick to ruby 1.8.7 if you want avatars in your test populations.

[2012-02-21 18:48] ivoreis opened #222 "ExecJS::RuntimeError"
Hi there,

I i've installed the social_stream from git and followed the initial installation instructions presented in the first page.

When running the app locally i've got this error ExecJS::RuntimeError in the source:
<code>
7:     <meta name="keywords" content="<%= yield(:keywords).empty? ? t('profile.tags.default') : yield(:keywords) %>" >
8:     <meta name="description" content= "<%= yield(:

[2012-02-21 19:24] Roendal commented on #222
Do you have any ExecJS runtime installed?

If not, try with node.js:

[code]

[2012-02-21 20:36] ivoreis commented on #222
Hi @Roendal, it seems that the runtime wasn't installed. It fixed with nodejs installation as you said!
Thank you ;)
Cheers

[2012-02-21 20:36] #222 closed, assigned to nobody

[2012-02-21 20:37] Roendal commented on #222
My pleasure :)

[2012-02-22 11:49] cowboymathu opened #223 "image thumbnail preview and lightbox preview not showing"
When a image is posted as document in a status update, it is not showing in the thubnail preview and lightbox preview in PRODUCTION mode only. I feel that the picture is not downloaded to browser in the production mode. I am using rails 3.1.3 and ruby 1.8.7.

[2012-02-22 13:51] raquelgb commented on #223
Hi,

I'm unable to reproduce the issue at http://demo-social-stream.dit.upm.es , which runs the latest code in a production environment.

Can you provide some more info about this issue? Do you have ImageMagick installed? Does IM's version match RMagick's?

[2012-02-22 13:56] atd commented on #223
Hi, we are not experiencing any problems in our deployments, for instance http://demo-social-stream.dit.upm.es/

Please, take a look at the logs. I am closing the issue until we have some information for debugging.

[2012-02-22 13:56] #223 closed, assigned to nobody

[2012-02-24 19:40] ivoreis opened #224 "NameError with user_session_path"
I've installed the forum engine Forem, devise based,  to be used with the social stream gem. I've kept the base configuration of Forem like User database table and current_user helper. But now when i try to access the social network using the forum route, "/forum" i got an error <code>NameError in Forem/forums#index</code> with <code>undefined local variable or method `user_session_path'</code> in

[2012-02-25 14:24] kpitn opened #225 "desactive object (Event)"
This is my social_stream initializer

[code]

Without :event object, i got this error :

[code]

How can i remove events object ?

[2012-02-27 08:22] atd commented on #224
Probably the devise configuration from Forem and from Social Stream mismatch. What do you have in your `config/routes.rb`?

Social Stream uses:
`devise_for :users, :controllers => {:omniauth_callbacks => 'omniauth_callbacks'}`

[2012-02-27 08:41] atd commented on #225
Current method for removing events is not installing de social_stream-events gem

You can find information in https://github.com/ging/social_stream, below <b>Social Stream Components</b>

[2012-02-27 08:41] #225 closed, assigned to nobody

[2012-02-27 14:21] ivoreis commented on #224
hi there @atd, in config/routes.rb i have the default configuration plus the forem engine mount <code>  mount Forem::Engine, :at => "/forums"
  devise_for :users, :controllers => {:omniauth_callbacks => 'omniauth_callbacks'}</code>

[2012-02-27 14:33] atd commented on #224
And what about the output of `rake routes`?

[2012-02-27 14:35] ivoreis commented on #224
<code>
root        /                                                  forem/forums#index
subscribe_forum_topic GET    /forums/:forum_id/topics/:id/subscribe(.:format)   forem/topics#subscribe
unsubscribe_forum_topic GET    /forums/:forum_id/topics/:id/unsubscribe(.:format) forem/topics#unsubscribe
forum_topics GET    /forums/:forum_id/topics(.:format)                 forem/topics#index

[2012-02-27 14:37] ivoreis commented on #224
When i call the controller forums the main_app view is called but somehow the main_app members are unknown...

[2012-02-27 15:09] atd commented on #224
There are missing all the social stream routes there. Maybe you didn't add the gem to your Gemfile?

[2012-02-27 15:10] ivoreis commented on #224
i only pass the routes of the forem,
all the content :
<code>

forem        /forums                                            Forem::Engine
        new_user_session GET    /users/sign_in(.:format)                           devise/sessions#new
            user_session POST   /users/sign_in(.:format)                           devise/sessions#create
    destroy_user_session DELETE /users/sign_out(.:

[2012-02-27 15:20] ivoreis commented on #224
its seams for some reason  to run social_stream with an engine like forem the helpers in the views must be updated with the main_app prefix .

[2012-02-27 15:28] atd commented on #224
It seems to me that the devise route is not available inside the Forem engine

[2012-02-27 15:29] atd commented on #224
Anyway, it seems more a Rails issue that social stream's

[2012-02-27 15:40] ivoreis commented on #224
ok, thank you

[2012-02-27 15:40] #224 closed, assigned to nobody

[2012-02-28 14:38] ivoreis commented on #224
Find out that the problem is that is necessary to use main_app inside the views to call the correct methods. Otherwise the social_stream gem will not work with engines.

[2012-02-28 16:33] rafaelgg commented on #192
While testing ViSH search, we noticed calling `rake ts:rebuild` does index the posts coming from the populate task.

[2012-02-28 17:35] atd commented on #224
What do you mean with using main_app? Could you give us an example?

[2012-02-29 07:33] atd commented on #174
This is happening with this link: http://demo-social-stream.dit.upm.es/links/92

[2012-02-29 09:28] rafaelgg commented on #174
This is weird. Most of the time my browser does not load the image, but sometimes....

![Hotlinking working?](http://i42.tinypic.com/102sb29.jpg)

This also happens if I type the image URL at the browser (i.e. fetch without a referrer): Most of the time I get a 403, but sometimes I just get to see it.

OTOH if I try hotlinking the image:

[code]

It works! Please notice that this is similar to wha

[2012-02-29 16:36] holacarol opened #226 "'I like' button missing in document's view"
There should be an 'I like' button when you see a document.

[2012-02-29 17:15] rafaelgg commented on #174
My bad, hotlinking this pic does not work from any of my sites either (yet sometimes I see it in social_stream demo).

I still don't see why linkser reports it. We'll probably have to debug. Do you have examples from any other domain?

[2012-02-29 20:42] ivoreis commented on #224
Sure, to use the correct routes with an engine i needed to add, ex: main_app.search_path and now the path was recognized. This was edited inside the views.

[2012-03-01 01:30] agordillo opened #227 "Bug in strophe.muc.js"
I am currently developing MUC (Multi User Chat) support for Social Stream Presence chat.
I have used strophe.muc.js , a strophe plugin to add MUC support to stophe library.
But there seems to be a bug in the join function, I fixed this bug and reported it:
https://github.com/metajack/strophejs-plugins/issues/66
I hope they fix this bug in the next version, otherwise after updating the plugin will

[2012-03-01 07:53] atd commented on #227
It would be great sending them a pull request. With GitHub, you can even do it from the web. This should speed up things

It seems they are very active, so I think they will fix it soon. I would not rename the file yet, but would keep an eye on it, just in case.

[2012-03-01 07:58] atd commented on #174
Not so far. Things working properly in the rest of cases. Maybe it is their fault, because I also can see it sometimes. We can close this until we have more examples.

[2012-03-01 08:08] atd commented on #224
Ok, thank you! For the record, it is documented in the Rails API:

http://api.rubyonrails.org/classes/Rails/Engine.html#label-Using+Engine%27s+routes+outside+Engine

[2012-03-01 14:07] holacarol opened #228 "Bug: "I don't like anymore" is not decrementing the like count"

[2012-03-01 14:18] holacarol opened #229 "Bug: You can like something you already like and it counts like 2 fans."
When you like the activity of "an actor is fan of something", it makes you directly a fan of that thing too. Don't know if that is correct. E.g: I maybe like you like playing football, but I don't like playing football myself.

If we accept the like of a like makes you a fan too, there's a bug when I like something, the activity shown in my wall allows me to like it again, so I can be a double fan

[2012-03-04 13:58] Roendal opened #230 "Finishing Social Cheesecake integration: Adding and editing sectors/subsectors"
I've been working with the [SocialCheesecake](https://github.com/ging/SocialCheesecake) but it's not finished. I will be completing this issue to create a roadmap of what is still missing to fullfil this task.

SocialCheesecake can be found in the path /cheesecake of social_stream

UI is almost complete, with a dynamic form and serveral graphic improvements to make it attractive. What is missing i

[2012-03-05 08:04] atd opened #231 "mailboxer 0.6.1 breaks specs"
There are a lot of errors related with the notifications table.

http://travis-ci.org/#!/ging/social_stream/jobs/791931

[2012-03-05 09:41] atd opened #232 "Group chat rooms fails should raise warnings instead of errors"
When populating the database, the following error is raised in groups:

[code]

This is breaking database population for developers that should not have to install a ejabberd server. On the other hand, in a production environment, if the ejabberd server is down, group creation will be broken as well.

[2012-03-05 11:29] agordillo commented on #232
If Social Stream Presence is disabled (SocialStream::Presence.enable=false) this should not happen, i take a look at it.

[2012-03-05 11:32] atd commented on #232
But that is not the issue explained above

[2012-03-05 13:51] #231 closed, assigned to Roendal

[2012-03-05 19:52] agordillo commented on #232
Fixed

[2012-03-05 20:41] #227 closed, assigned to agordillo

[2012-03-08 07:53] #174 closed, assigned to nobody

[2012-03-08 15:37] #200 closed, assigned to nobody

[2012-03-08 15:37] #216 closed, assigned to atd

[2012-03-08 16:44] atd commented on #232
It is still failing for me. I get the same error

[2012-03-08 16:52] atd commented on #232
Sorry, it was my fault. I clashed with Github's SSH key audit

[2012-03-08 16:52] #232 closed, assigned to agordillo

[2012-03-09 07:11] atd opened #233 "Duplicated messages in conversations"
When sending a message to several people or groups, if a user manages the messages from several of these groups, she will get one message per group. Instead, she should receive one message only.

[2012-03-09 09:56] atd commented on #233
Related to Mailboxer: https://github.com/ging/mailboxer/issues/34

[2012-03-13 14:43] atd opened #234 "Leaving and entering in group pages creates multiple users in chat rooms"

[2012-03-15 13:32] #167 closed, assigned to nobody

[2012-03-15 13:33] rafaelgg commented on #167
This should be it. Die now damn bug.

[2012-03-15 17:50] itbakery opened #236 "ActionView::Template::Error (undefined method `email' for #<User:0x7f221f293ce8>):"
I run social_stream in Rails 3.2.2.
in social_stream-base-0.17.3/app/views/layouts/_header_signed_out.erb

ActionView::Template::Error (undefined method `email' for #User:0x7f221f293ce8):
    9:       <div id="login_data">
    10:         <div class="login_data_block">
    11:           <span><%= f.label :email %></span>
    12:           <%= f.email_field :email, :class => "input_username" %>

[2012-03-16 06:46] atd commented on #236
Everything suggest that your database have not those fields. Did you run the migrations?

[2012-03-16 06:46] #236 closed, assigned to nobody

[2012-03-18 10:35] itbakery commented on #236
I see, but  it work in Rails Console when try to test "User.email",
Any suggestiopn please?

[2012-03-18 12:09] atd commented on #236
Migrations are also needed in the rails console.

Try:

[code]

[2012-03-18 14:02] itbakery commented on #236
I try  already but error still remain. sir

Error:

NoMethodError in Frontpage#index

Showing /home/lookmee/.rvm/gems/ruby-1.8.7-p357@astvplus/gems/social_stream-base-0.17.3/app/views/layouts/_header_signed_out.erb where line #11 raised:

undefined method `email' for #User:0x7feb0c1b1440

Extracted source (around line #11):

8:       <%= form_for User.new, :as => :user, :url => user_session_path d

[2012-03-20 12:55] cowboymathu commented on #223
Yes. It happened because of a production configuration which is config.action_dispatch.x_sendfile_header = "X-Sendfile"

It is not an issue with social_stream

[2012-03-20 13:39] atd commented on #223
Thank you for sharing the causes of the issue. It can help others in the future.

[2012-03-20 15:00] atd commented on #236
Could you run the following command and paste the output?

[code]

[2012-03-20 15:50] itbakery commented on #236
$ rails r 'puts Actor.inspect'
Actor(id: integer, name: string, email: string, slug: string, subject_type: string, notify_by_email: boolean, created_at: datetime, updated_at: datetime, activity_object_id: integer, follower_count: integer)

[2012-03-20 17:14] atd commented on #236
Maybe you have your own User model in your application, overwriting social stream's one?

[2012-03-21 06:11] itbakery commented on #236
User model come from devise sir.
$ rails  g devise user
before
$rails  g social_stream:install

$ rails r "puts User.inspect"
User(id: integer, encrypted_password: string, password_salt: string, reset_password_token: string, reset_password_sent_at: datetime, remember_created_at: datetime, sign_in_count: integer, current_sign_in_at: datetime, last_sign_in_at: datetime, current_sign_in_ip: string, l

[2012-03-21 07:48] atd commented on #236
Social Stream defines user and conflicts with devise's user generator.

You must not run "rails g devise user" before "rails g social_stream:install"

[2012-03-21 13:33] itbakery commented on #236
I create new rails (3.2.2)  only  gem social_stream  and run rails g social_stream:install.  I got Multiple migration. How to fix it?

/home/lookmee/.rvm/gems/ruby-1.8.7-p357@astvplus/gems/activerecord-3.2.2/lib/active_record/migration.rb:620:in `migrations': Multiple migrations have the version number 20120321133028 (ActiveRecord::DuplicateMigrationVersionError)

[2012-03-21 13:37] itbakery commented on #236
[code]

how to prevent to generate multiple migrations
Thank for greate support.

[2012-03-21 13:52] atd commented on #236
Which is the other migration with version number 20120321133028?

Could you post the output of `ls db/migrate/20120321133028*`

[2012-03-21 13:54] itbakery commented on #236
$ cat 20120321133028_add_notified_object.rb
class AddNotifiedObject < ActiveRecord::Migration
  def self.up
    change_table :notifications do |t|
      t.references :notified_object, :polymorphic => true
      t.remove :object_id
      t.remove :object_type
    end
  end

  def self.down
    change_table :notifications do |t|
      t.remove :notified_object_id
      t.remove :notified_object_type

[2012-03-21 13:57] atd commented on #236
ls please

[2012-03-21 14:00] itbakery commented on #236
$ ls
20120321133027_create_mailboxer.rb
20120321133028_acts_as_taggable_on_migration.rb
20120321133028_add_notified_object.rb
20120321133029_add_notification_code.rb
20120321133030_add_attachments.rb

[2012-03-21 14:03] itbakery commented on #236
$ ls db/migrate/20120321133028*
db/migrate/20120321133028_acts_as_taggable_on_migration.rb
db/migrate/20120321133028_add_notified_object.rb

[2012-03-21 14:06] atd commented on #236
Ok, this is a mailboxer issue. See: https://github.com/ging/mailboxer/issues/35

[2012-03-21 14:13] itbakery commented on #236
Thank you.  what is the stable way to run "rails g"?

[2012-03-21 14:29] itbakery commented on #236
i run rails destroy  social:install. and i found conflict  on 20120321133028*.

[code]

[2012-03-21 15:03] atd commented on #236
What do you mean by "stable"?

[2012-03-21 15:07] itbakery commented on #236
Sorry. I mean step-by-step of  rails g  and can i skip social_stream:install?

SocialStream:
  social_stream:base:install
  social_stream:documents:install
  social_stream:events:install

  social_stream:linkser:install
  social_stream:presence:install

[2012-03-22 12:22] atd commented on #236
This is fixed in maiboxer 0.6.5

[2012-03-23 11:48] jfrux opened #237 "Anyone mind helping me install this on Windows 7 64bit?"
I'm having trouble... I'm new to rails...
I get my rails site setup and running but...
Installed ImageMagick and rmagick, installed Devise... but still not sure where to go from here...?

When just following the instructions on the readme, it doesn't include information about how to get the "base" files into the site?

Am I missing something?

Sorry for being such a n00b!

[2012-03-23 11:49] jfrux commented on #237
FYI, running Ruby1.9

[2012-03-23 14:03] rafaelgg commented on #237
Social Stream is a library. You have to create a new rails app (using command line `rails new` should do) and then follow the instructions on our README. Instaling ImageMagick was good, but ruby gems should be installed by bundler as needed.

BTW, deploying to Windows (7 or otherwise) is unprecedented AFAIK, so please get back to us with any doubts and we'll try to help. Also, let's try to documen

[2012-03-23 14:03] #237 closed, assigned to nobody

[2012-03-23 17:03] jfrux commented on #237
Mainly I just want to load it up for local development since my dev machine is running windows 7.

My doubts as of right now are centered around versions...
Are there any particular version caveats I should be aware of...
Say for instance, ImageMagick version requirements? Devise requirements? etc?

The main error I kept getting was NoMethodFound for oauth_user_stuff?

I'm aware I should use ruby

[2012-03-23 18:26] jfrux opened #238 "This is the issue I'm getting... n00b issue I'm sure!"
RAILS S
C:/Ruby193/lib/ruby/gems/1.9.1/gems/activesupport-3.2.2/lib/active_support/dependencies.rb:251:in `require': cannot load such file -- devise (LoadError)

[2012-03-24 10:17] rafaelgg commented on #237
We use [bundler](http://gembundler.com/) to handle dependencies. Take a look at the docs for more info, but basically you can:
- `bundle update` to upgrade the dependencies using [RubyGems](https://rubygems.org/).
- `bundle install` to re-install dependencies without upgrading (tip: you have to do bundle update at least once first!).
- `bundle exec <cmd>` to launch a (ruby) command using the bundl

[2012-03-24 10:18] #238 closed, assigned to nobody

[2012-03-26 19:45] kpitn opened #239 "CanCan::AccessDenied"
Actually SocialStream doest not handle  not authorized pages

If you try : http://demo-social-stream.dit.upm.es/users/mike-smith/edit

[code]

[code]

[2012-03-27 05:43] atd commented on #239
What do you mean by "handle"?

[2012-03-27 07:36] kpitn commented on #239
I think this line doesn't work :

[code]

rescue_from_access_denied is never call, i dont know if it is because i have a "ApplicationController" in my application.

If i try to handle exeption in my application with an application_controller file it does't work :

[code]

Another question too, do you plan to add some documentation in the wiki on how to override a controller / model ?

[2012-03-27 08:12] atd commented on #239
1. Note that Social Stream's method `rescue_from_access_denied` only rescues the exception in some cases. Your example does not match them. You can redefine `rescue_from_access_denied` in your `AplicationController`
2. https://github.com/ging/social_stream/wiki/How-to-change-controllers%2C-models%2C-views%2C-assets%2C-localizations...

[2012-03-27 19:04] kpitn commented on #239
You right, i can easily override rescue_from_access_denied to handle this case.

I let you close or let open this issue (if you wan to handle all case in the social stream gem)

Thanx for your link, but if i want to add just one method in users_controller, you must copy the users_controller and it could be very annoying if the users_controller change in another update.

To handle the model i use :

[2012-03-28 06:27] atd commented on #239
I think Social Stream should let developers handling those errors at their will, overriding `rescue_from_access_denied` as in your case.

The model decorator is a good approach.

[2012-03-28 06:27] #239 closed, assigned to nobody

[2012-03-28 19:48] degerli opened #240 "Notifications table definition is missing"
Whenever rake db:setup, system is trying to add  add_column :notifications, :attachment, :string on add_attachments, but there is no notifications table on project. Is this missing on create_social_stream.rb or typo error on migration procedures?

[2012-03-28 21:37] atd commented on #240
Can you please post the output of `ls db/migrate`?

[2012-03-29 08:19] degerli commented on #240
Whenever I tried social_stream, it works properly. But if I try vish, notifications table is missing, also after i added manual this table,

I cloned vish from your repo, I used bundle command to update and install progress and update says notifications table is missing, after I added this table to schema from social_stream based project, after I signup with an user and password,

ActiveRecord::Co

[2012-03-29 17:31] jfrux opened #241 "Class table inheritance question"
How does your subtype / supertype code compare to that of the class_table_inheritance ActiveRecord plugin https://github.com/brunofrank/class-table-inheritance

I'm trying to wrap my head around this logic...?

[2012-03-30 07:29] atd commented on #240
I think that after `bundle install` you should have run `rake db:setup`

Migrations are already in vish, you do not need to copy them from social_stream.
See: https://github.com/ging/vish/tree/master/db/migrate

[2012-03-30 07:29] #240 closed, assigned to nobody

[2012-03-30 07:35] atd commented on #241
You are right, that is pretty much the logic behind the subtype / supertype code.

[2012-03-30 14:01] atd commented on #197
Fixed in 2a17b3b6d8127e7c75cd1a5dcdc1a0f9e38751bc

[2012-03-30 14:01] #197 closed, assigned to nobody

[2012-03-30 15:24] jfrux commented on #241
Hmm, okay!
Just trying to wrap my head around this stuff...
The inherits_from() method in the class-table-inheritance is comparable to the "subtype_of" or "supertype_of" in yours?

[2012-03-30 18:26] atd commented on #241
subtype_of if I am not wrong

[2012-04-02 11:20] atd opened #242 "Do not create custom relations in follow relation model"

[2012-04-03 07:39] kpitn opened #243 "Delete Messages and Notifications"
The link to delete messages and notification are send in ajax, but the controller (and the view) don't handle it correctly.

[2012-04-03 08:02] atd commented on #243
Could you please provide with more information? Why don't they handle it correctly?

[2012-04-03 08:22] atd opened #244 "Should not be able to remove represent permission in last group relation"
If a group admin accidentally removes the represent permission from all relation customs, the group cannot be administrated by anyone anymore. This action should not be allowed

[2012-04-03 08:24] atd opened #245 "Usability issue in privacy view"
When creating a new relation custom, the permisions view should be hidden

[2012-04-03 08:27] atd opened #246 "Contact link in search results is hidden because of css"
The typical flow for adding new contacts in Social Stream is searching him and then adding him. Because the add link is not present in the search results, an extra clic is needed

[2012-04-03 08:38] atd opened #247 "Notifications should be delivered without notify_by_email"
Actor's notify_by_email method prevents users getting emails from the Social Stream application. However, internal notifications should be still delivered.

Mailboxer is involved in this issue for sure

[2012-04-03 09:03] Roendal commented on #247
According to the recent test, when notify_by_email is set to false you still receive Notifications and Messages.

I cant say Mailboxer is not involved, but deliver methods send emails AFTER saving receipts. So avoiding emails does not prevent Notifications and Messages to be sent.

[2012-04-03 09:03] rafaelgg commented on #247
I can take a look at this later today, but we might need @Roendal to get involved if deep mailboxer knowledge is needed.

[2012-04-03 09:28] kpitn commented on #243
I can't give you an exemple right now, but the link to delete contains a data-remote => true, and the controller handle only html call, not js.

So the message is delete, but you can't see the message disapear you must reload your inbox with F5.

[2012-04-03 09:46] atd commented on #247
According to our tests, this cannot be reproduced. Closing until we have more information on it

[2012-04-03 09:46] #247 closed, assigned to nobody

[2012-04-03 09:53] atd commented on #243
It works correctly in http://demo-social-stream.dit.upm.es/ The controller is handling js.

[2012-04-03 11:17] kpitn commented on #243
This is what I get : http://www.monsterup.com/upload/1333451786615.png
The message is always here after clicking on delete.

[2012-04-03 12:52] atd commented on #243
This is very weird. Even without javascript disabled, the link should go to messages/n, not to the index of conversations.

Does it work for you in http://demo-social-stream.dit.upm.es ?

[2012-04-03 12:55] rafaelgg commented on #246
The link is indeed printed at the [subject with details view](https://github.com/ging/social_stream/blob/master/base/app/views/subjects/_subject_with_details.html.erb#L14), but it does now show on screen if either the name of the followers/likes line has to wrap.

The reason is `.subject-search-results .sub-block` is forced to `height: 50px;` [here](https://github.com/ging/social_stream/blob/maste

[2012-04-03 12:56] kpitn commented on #243
No the screen comes from http://demo-social-stream.dit.upm.es

Ok the problem doesn't exist with firefox, just on chrome

[2012-04-03 13:35] #243 closed, assigned to nobody

[2012-04-03 13:36] rafaelgg commented on #243
Please notice my fix is kind of kludgy. It responds inline JS from the controller (bad) and uses window.location (badder). I wasn't able to reproduce with notifications, but feel free to reopen.

[2012-04-03 14:02] rafaelgg commented on #243
@kpitn suggested a better fix for this. I applied it with some changes (e.g. your fix only really worked when deleting from the message list). Kudos to him.

PS: Also, feel free to open a pull request with your own fixes.

[2012-04-03 19:52] kpitn commented on #243
your're welcome, I will try to contribute if i can.

[2012-04-04 09:28] #245 closed, assigned to raquelgb

[2012-04-04 13:32] #244 closed, assigned to raquelgb

[2012-04-11 02:31] johnoak23 opened #248 "Avatar Loading Problem"
When loading the latest version of social stream I am unable to set the avatar. After selecting the file from the browser nothing happens.

[2012-04-11 08:14] kpitn commented on #248
I was having problem with paperclip 3.0

to fix this :

[code]

[2012-04-11 08:46] rafaelgg commented on #248
That's a good catch, thanks!

We usually don't see this problem because social_stream-documents requires paperclip =2.4.5

If you are not using social_stream-documents then you fall back to avatars_for_rails requirement, which states paperclip >=2.3.4

We should probably check those dependencies, maybe loosen them a bit.

[2012-04-11 08:46] #248 closed, assigned to nobody

[2012-04-11 08:51] atd commented on #248
Note that delayed_paperclip is not compatible with paperclip > 2.4
https://github.com/jstorimer/delayed_paperclip/issues/54

That is the reason why social_stream-documents requires paperclip = 2.4.5

[2012-04-13 09:32] #241 closed, assigned to nobody

[2012-04-13 15:24] jarjis opened #249 "Could not find generator social_stream:install"
bundle install
Using rake (0.9.2.2)
Using i18n (0.6.0)
Using multi_json (1.2.0)
Using activesupport (3.2.3)
Using builder (3.0.0)
Using activemodel (3.2.3)
Using erubis (2.7.0)
Using journey (1.0.3)
Using rack (1.4.1)
Using rack-cache (1.2)
Using rack-test (0.6.1)
Using hike (1.2.1)
Using tilt (1.3.3)
Using sprockets (2.1.2)
Using actionpack (3.2.3)
Using mime-types (1.18)
Using polyglot (0.3.3)
U

[2012-04-13 15:49] rafaelgg commented on #249
Hi,

Did you by any chance launch `bundle install` form the social_stream/ directory? If I do this `bundle install` works of course, but I don't have access to the rails command, because I am not not in an application directory. WHAT?! Bear with me...

Social_stream is not an application, but rather it's intended to be used as a gem (pronounced "library" in certain parts of Europe) in other applic

[2012-04-13 16:32] jarjis opened #250 "Can't mass-assign protected attributes: subject_type"
ActiveModel::MassAssignmentSecurity::Error in Frontpage#index

Showing /Users/jarjis/.rvm/gems/ruby-1.9.3-p0/gems/social_stream-base-0.19.2/app/views/layouts/_header_signed_out.erb where line #8 raised:

Can't mass-assign protected attributes: subject_type
Extracted source (around line #8):

5:     </div>
6:     <% unless params[:controller].eql? 'devise/sessions' and params[:action].eql? 'new' %>

[2012-04-13 16:35] jarjis commented on #249
Thanks I followed instruction and did bundle install and it ran the generator command but its throwing some other error in the browser. I created a new issue for that.

[2012-04-13 16:35] #249 closed, assigned to nobody

[2012-04-15 18:27] atd commented on #250
Social Stream is not compatible with default mass attributes protection shipped with Rails 3.2.3
http://weblog.rubyonrails.org/2012/3/30/ann-rails-3-2-3-has-been-released/

You must set `config.active_record.whitelist_attributes = false` in `config/application.rb`

[2012-04-15 23:06] #250 closed, assigned to nobody

[2012-04-15 23:06] jarjis commented on #250
Thanks Antonio .. working now.

[2012-04-18 16:15] atd opened #251 "Using config.force_ssl = true breaks the chat"
It seems the chat is not compatible with https

[2012-04-18 17:56] agordillo commented on #251
Probably https breaks the current http bind.

ejabberd (XMPP server) supports https bind, but require few configuration changes: http_bind must use port 5281:
"Port 5281 listens for HTTP requests, using HTTPS to serve HTTP-Bind (BOSH) "
Currently ejabberd is using port 5280 to provide the http bind service.
So, proxy configuration also needs changes.

Probably Strophe (client XMPP library) can sti

[2012-04-18 19:19] jarjis commented on #251
Have you guys thought about using websocket + XMPP for chat feature.

http://www.igniterealtime.org/projects/openfire/

[2012-04-18 21:02] agordillo commented on #251
I just wrote a detailed study about how to use WebSockets in Social Stream chat, but only WebSockets isn't enough, we need WebSockets + fallback with BOSH.
Probably we will implement it in the future.

[2012-04-19 07:14] atd commented on #251
@agordillo I think is (also) related with authentication, because the xmpp client does not work either

@jarjis when we started to find a solution about a year ago, websockets where very inmature yet. As @agordillo says maybe in the future. It may come on the heels of a javascript client MVC

[2012-04-19 10:51] agordillo commented on #251
Authentication is performed by XMPP messages sent by HTTP, so, probably must be the same issue I mentioned before.

[2012-04-19 11:00] atd commented on #251
But the XMPP client does not use BOSH. It talks directly to the XMPP server.

I meant between the XMPP server and Social Stream's API for authentication, which now works over HTTPS.

[2012-04-19 11:09] agordillo commented on #251
You're right, XMPP server needs to generate HTTPS requests now.

[2012-04-19 13:16] atd opened #252 "rake db:populate:create_documents broken"
... unless you have documents in your rails root /lib/documents.

Maybe we could distribute these documents within the social_stream-documents gem, so it works everywhere

[2012-04-19 13:17] sharp opened #253 "opengraph depends on nokogiri (~> 1.4.0)"
When bundle install

[code]

[2012-04-19 15:39] atd commented on #253
Waiting for this pull request: https://github.com/intridea/opengraph/pull/5#issuecomment-5223687

Anyway, try with `gem install bundler`

[2012-04-20 01:16] sharp commented on #253
Thanks!

[2012-04-20 07:29] atd commented on #251
Confirmed. I changed the URLs in the authentication script and the chat works again, both browser and xmpp clients

[2012-04-20 11:33] agordillo commented on #251
Great!
Anyway, it would be interesting to communicate the browser-based XMPP client  and XMPP server via HTTPS in the future (when it uses BOSH).

[2012-04-20 12:32] atd commented on #251
Yeah, that is already working.

All you need is defining the proxy in the https virtual host, just as in the case of http

[2012-04-21 21:24] kpitn opened #255 "Weird Search function"
Actually the global search is like this :

[code]

This can't work because you take an array of the first result and test each result with cancan, after that

[code]

With this method my application show 11 results (because one is reject by cancan) but i have no pagination, only one page of results.

If i replace with :

[code]

I have all my pages (for my exemple more than 20 pages) and all resul

[2012-04-21 22:07] kpitn commented on #255
I think a solution could be to add relations to indexes

[code]

After that the search work with : (In this example the item is set to relations 3 only)

[code]

[2012-04-22 13:06] atd opened #256 "Event creation fails when owner has room"

[2012-04-23 07:01] #253 closed, assigned to nobody

[2012-04-23 07:11] atd commented on #255
Feel happy to find these are the changes we have planned for the search part.

Commit 4a51392dad522683fb9f78fa407d5759e222f34e goes in that way, splitting activities authentication from activity_objects', so that queries for getting relations are faster.

We expect commiting this along this week.

[2012-04-23 09:51] rafaelgg commented on #252
Rather than distributing arbitrary example files, I'd put on a message urging you to place some random files there if none are present, as per 3545fd3b7aeeae2114f302e92ecfe6a40eb038cd. What do you think about it?

Also, `rake db:populate:create_avatars` continues silently if no avatars are present.

[2012-04-23 09:59] atd commented on #252
IMO, it does not solve the issue. If you start a new project, you still need to find them and copy them or create them. Is there a reason for not distributing them?

[2012-04-23 10:10] #256 closed, assigned to atd

[2012-04-23 18:53] #252 closed, assigned to nobody

[2012-04-23 18:56] rafaelgg commented on #252
Avatars and sample docs are in the public domain.

You still need to add `gem 'forgery'` to your Gemfile and `bundle update` to make `rake db:populate:reload` work

[2012-04-25 07:43] kpitn commented on #255
Cool, your are doing a great work on this project.

[2012-04-25 09:50] #255 closed, assigned to nobody

[2012-04-25 09:51] atd commented on #255
Thank you! We really appreciate your support.

[2012-05-03 17:06] kpitn opened #258 "Comment on 2 peoples connected raise an error"
In the demo  : http://demo-social-stream.dit.upm.es/

When i write a comment under : XX and YY are now connected.
This message appears in an pop up :

[code]

In my application i have this trace :

[code]

Other comments (on post) works correctly

[2012-05-08 21:05] johnoak23 opened #259 "migrate issue"
Can't mass-assign protected attributes: permissions

This error above occurs when trying to rake the db.

[2012-05-09 09:58] atd commented on #259
Social Stream is not compatible with default mass attributes protection shipped with Rails 3.2.3
http://weblog.rubyonrails.org/2012/3/30/ann-rails-3-2-3-has-been-released/

You must set `config.active_record.whitelist_attributes = false` in `config/application.rb`

[2012-05-09 10:03] atd opened #260 "Can't mass-assign protected attributes"
Social Stream is not compatible with default mass attributes protection shipped with Rails 3.2.3
http://weblog.rubyonrails.org/2012/3/30/ann-rails-3-2-3-has-been-released/

Developers of Rails > 3.2.3 applications must set`config.active_record.whitelist_attributes = false` in `config/application.rb`

This needs to be fixed in the mid-term. However, there was some discussion whatever these restrict

[2012-05-09 10:04] atd commented on #259
Tracked in #260

[2012-05-09 10:04] #259 closed, assigned to nobody

[2012-05-09 10:04] atd commented on #250
Tracked in #260

[2012-05-11 13:21] cantonic opened #261 "There is an error when email address of user ends with dot before @"
Hi,

a user signed up with an email address like "123.@gmail.com" which caused an error when trying to add that user as a friend.
Maybe there should be some email syntax validation on sign up.

[2012-05-11 13:35] atd commented on #261
Hi @cantonic

Social Stream delegates that validation on Devise https://github.com/plataformatec/devise

See https://github.com/ging/social_stream/blob/master/base/app/models/user.rb#L27

You may want to open an issue there, but be aware that our dependency on Devise is outdated.
Feel free to reopen if it is solved in last Devise version

[2012-05-11 13:35] #261 closed, assigned to nobody

[2012-05-11 13:40] cantonic commented on #261
ok. created an issue there: https://github.com/plataformatec/devise/issues/1844

[2012-05-12 06:16] johndpope commented on #250
thanks

maybe add to readme.

[2012-05-12 07:16] atd commented on #250
Pull request welcomed

[2012-05-13 07:48] #162 closed, assigned to atd

[2012-05-14 08:20] agordillo commented on #251
So, can we close this issue?
It's probably interesting to add this issue to the documentation, but at first, change the code is not necessary.

[2012-05-14 08:41] atd commented on #251
I think the installer script should take that into account, and write the URL appropriately.

If not, the sysadmin must remember that he must change that in the scripts after updating the gem.
That is a real hell.

[2012-05-14 09:19] #234 closed, assigned to nobody

[2012-05-16 16:00] agordillo commented on #251
"I think the installer script should take that into account, and write the URL appropriately."
Done!

[2012-05-17 07:44] gaaady opened #263 "Routes should be drawn on the engine"
Routes should be drawn on the engine and not on the application
    RailsAdmin::Engine.routes.draw

[2012-05-17 08:08] atd commented on #263
Hi @gaaady

we will be happy to merge a pull request that fixes things in the right way

[2012-05-17 08:25] gaaady commented on #263
I'm just starting to figure this gem out.

Currently I'm integrating SS with a application that already uses devise.
I'm trying to understand why the edit users routes is missing...

On Thu, May 17, 2012 at 11:08 AM, Antonio Tapiador <
reply@reply.github.com

[2012-05-26 15:04] atd opened #264 "Comments too large in wall"
When large comments are posted, an excerpt should be displayed with a "Read more" link

[2012-05-30 06:01] gaaady opened #265 "stack level still too deep thrown when DB is not setup properly"
I added a object to my SS application:

[code]

but accidently added the column acitivty_object_id instead of "activity_object_id".

SS gave me stack level still too deep.
I think a better error handling should be in place.

[2012-05-30 06:18] atd commented on #265
I can guess the guilty is here:

https://github.com/ging/social_stream/blob/master/base/lib/social_stream/models/subtype.rb#L45

I'll take a look at it when I have some time

[2012-05-30 11:09] rafaelgg commented on #265
`respond_to?` in another likely culprit (i.e. in this case it was)

https://github.com/ging/social_stream/blob/master/base/lib/social_stream/models/subtype.rb#L66

[2012-05-30 21:11] atd commented on #265
Of course, it is related to `method_missing`

[2012-05-30 21:28] atd commented on #265
Ops, I cannot reproduce it

I set a different object 'SomeObject' with its own table but without the foreign key and I get the suitable error:

[code]

[2012-05-31 05:14] gaaady commented on #265
It might be because my object had associations
I will check it

On 31/05/2012, at 00:28, Antonio Tapiador <
reply@reply.github.com>
wrote:

Ops, I cannot reproduce it

I set a different object 'SomeObject' with its own table but without the
foreign key and I get the suitable error:

[code]

---

Reply to this email directly or view it on GitHub:
https://github.com/ging/social_stream/issues/265#iss

[2012-05-31 14:15] rafaelgg opened #266 "What about... configurable notifications per object?"
Hi,

It could be interesting to change https://github.com/ging/social_stream/blob/master/base/app/models/activity.rb#L270 in order to support special notification behavior for certain kinds of (activity)objects.

For instance, I can choose that my social network does not notify all participants of comments, but rather just the original activity creator; or maybe some specific object class does not

[2012-05-31 14:25] Roendal commented on #266
Another point that may be interesting is giving the user the oportunity to choose not to receive some of the notifications (not just the emails associated, but the notifications itself). You can add new settings and enable/disable all the notifications, group the by the verb o even use a notification_code for each type ([Notify method](https://github.com/ging/mailboxer/blob/master/lib/mailboxer/mo

[2012-05-31 15:57] atd commented on #266
I agree with notifications per object type configuration. I had the case where I removed activities asociated with tie creation, as they flooded the wall stream and buried the other, more interesting activities. BTW, grouping similar type of activities (like several photo uploading) would also be nice.

About Relation::Private, I think it would be useful for creating personal drafts, but I would m

[2012-06-01 10:31] remware opened #267 "Logout route fails to render new session"
Hi,
I have social stream base gem 0.21.0 and when users sign out I get error ActiveRecord::RecordNotFound with dump : {"id"=>"logout"}

The devise gem is 1.5.3

The routes.rb contains devise_for :users, :path_names => {  ... :sign_out = 'logout' ...}

I wonder what needs to be fixed in social stream gem or what should define in route to match social new session after logout ?

Please help!

[2012-06-04 15:15] atd commented on #267
Hi @remware, could you paste the output of `rake routes`?

[2012-06-05 06:39] remware commented on #267
By the way in stackoverflow they point to serving application.js incorrectly but not sure if that is my case. At least the sing_up  is working fine.

[2012-06-05 06:44] atd commented on #267
Sorry, but that is not the `rake routes` but `config/routes.rb`

[2012-06-05 06:55] remware commented on #267
Faraday: you may want to install system_timer for reliable timeouts
WARNING: using the built-in Timeout class which is known to have issues when used for opening connections. Install the SystemTimer gem if you want to make sure the Redis client will not hang.

Sphinx cannot be found on your system. You may need to configure the following
settings in your config/sphinx.yml file:
- bin_path
- search

[2012-06-05 07:10] atd commented on #267
It seems to me that there is a collision in routes. At the begining of the output, you have the user routes:

  GET /users/:id(.:format) users#show

Later, in the devise routes, you have:

  destroy_user_session GET /users/logout(.:format) devise/sessions#destroy

Notice that they use the same path, so when requesting a GET to `/users/logout`, the Rails routing applies the first one instead of the

[2012-06-05 07:10] #267 closed, assigned to nobody

[2012-06-05 07:27] remware commented on #267
Thanks for troubleshooting. Where should I do the changes ?

[2012-06-05 07:45] atd commented on #267
You can ask for help in devise's google group. I am sure they will be happy to help you.

http://groups.google.com/group/plataformatec-devise

[2012-06-09 17:49] vmcilwain opened #268 "uninitialized constant ObjectChannelsToActions::Channel"
I installed the gem and I am trying to run the migrations but I am running into this error

uninitialized constant ObjectChannelsToActions::Channel

How can I address this? I am not sure here to begin.

[2012-06-11 06:38] atd commented on #268
Ooops! Broken migration

[2012-06-11 07:58] atd commented on #268
@vmcilwain could you try adding the following line in your `db/migrate/XXXXXXX_objects_channels_to_actions.rb` ?

[code]

[2012-06-11 14:33] rafaelgg opened #269 "Relation::Single scope fails to find public relation"
If you call:

[code]

...you'll get an empty list, despite the fact that a Public relation exists.

However if you load all relations (e.g. type `Relation.all` in the console, though other interaction makes it work too), and run the aforementioned code afterwards.... it works flawlessly and returns the public relation!!!

This makes https://github.com/ging/social_stream/blob/master/base/app/models

[2012-06-11 14:59] atd commented on #269
Hi @rafaelgg this is happening because until `Relation::Public` is loaded, it is not registered as a subclass of `Relation::Single` and therefore, not included in the sql query:

[code]

I am solving it

[2012-06-11 15:04] vmcilwain commented on #268
Thanks @atd. that got me through all of my migrations. Im excited to see how this works.

[2012-06-11 15:13] #269 closed, assigned to nobody

[2012-06-11 15:19] atd commented on #268
Great! I am releasing a new version. Thanks for reporting.

[2012-06-11 15:21] #268 closed, assigned to nobody

[2012-06-11 21:42] rafaelgg commented on #269
That was fast. Thank you!

[2012-06-18 15:09] losingle opened #270 "Could not find table 'events'"
I follow Installation document.

Installation
Add the following to the Gemfile of the your Rails application:

gem 'social_stream', '>= 0.19.0'
and run:

bundle
Then:

rails generate social_stream:install
Do not forget to migrate your database

rake db:migrate

I have the problem:

Showing /Library/Ruby/Gems/1.8/gems/social_stream-events-0.13.2/app/views/events/_calendar_month.erb where line #1 ra

[2012-06-18 15:18] atd commented on #270
Hi @losingle

what is the output of `rake db:migrate` ?

[2012-06-18 15:22] losingle commented on #270
@atd I did it.
but I have the error message
"Couldn't find ObjectChannelsToActions::Channel without an ID"

[2012-06-18 15:25] atd commented on #270
I have not any doubt you did it. But it is really hard to figure out the cause without any data

[2012-06-18 15:28] losingle commented on #270
more data

==  ObjectChannelsToActions: migrating ========================================
-- add_column(:activity_actions, :author, :boolean, {:default=>false})
   -> 0.0042s
-- add_column(:activity_actions, :user_author, :boolean, {:default=>false})
   -> 0.0004s
-- add_column(:activity_actions, :owner, :boolean, {:default=>false})
   -> 0.0004s
rake aborted!
An error has occurred, this and all

[2012-06-18 15:32] atd commented on #270
Much better!

Are you upgrading or installing from scratch? It seems there is inconsistent data in your database

[2012-06-18 15:42] losingle commented on #270
I don't know whether there is inconsistent data in my database.
but  my database don't have  the 'events' table.

[2012-06-18 16:10] losingle commented on #270
my full trace.

rake db:migrate --trace
Faraday: you may want to install system_timer for reliable timeouts
WARNING: using the built-in Timeout class which is known to have issues when used for opening connections. Install the SystemTimer gem if you want to make sure the Redis client will not hang.
*\* Invoke db:migrate (first_time)
*\* Invoke environment (first_time)
*\* Execute environment
*\* I

[2012-06-18 17:44] atd commented on #270
You can try `rake db:reset`

[2012-06-18 17:59] losingle commented on #270
I got the new msg:
-- add_foreign_key("ties", "contacts", {:name=>"ties_on_contact_id"})
   -> 0.0001s
-- add_foreign_key("ties", "relations", {:name=>"ties_on_relation_id"})
   -> 0.0001s
-- add_foreign_key("users", "actors", {:name=>"users_on_actor_id"})
   -> 0.0001s
==  CreateSocialStream: migrated (0.0756s) ====================================

==  SingletonSingleRelations: migrating ========

[2012-06-19 07:17] atd commented on #270
See #260

[2012-06-19 07:17] #270 closed, assigned to nobody

[2012-06-20 08:47] imustardsoft commented on #102
I think you should validate with the  form id instead. like i do below
" $("#contactAdminForm").validate();" it worked

[2012-06-20 08:50] imustardsoft opened #272 "when delete an user account, the related friend's page get crushed."
A and B are friends , so B's activities are showing on A's wall .But when B canceled his account , activities which belongs to B and activity_verb_id in (2,3) are still in the database. so when show on A'wall got "can not find subject for nil object" error .

[2012-06-20 12:51] atd commented on #102
AFAIK, it is working using CSS classes in other places, such as group creation and messages

[2012-06-20 13:18] #272 closed, assigned to nobody

[2012-06-26 11:22] losingle opened #273 "why the notifications and messages don't use XMPP ?"

[2012-06-26 11:31] atd commented on #273
Why should they use it?

[2012-06-26 11:38] losingle commented on #273
I do not know why .
perhaps because it can facilitate the realtime receive the message
or we have been using the XMPP chat.

[2012-06-26 12:25] #273 closed, assigned to nobody

[2012-06-27 11:51] atd opened #274 "Follower count is not initialized properly"

[2012-06-27 11:59] #274 closed, assigned to nobody

[2012-07-02 02:01] #251 closed, assigned to nobody

[2012-07-05 08:35] atd opened #275 "Wall audio view has not information"
It should include the title of the audio, the description and a link to "show details..", in the same way other media (pictures or video)

[2012-07-23 08:33] remware opened #276 "Survey / Poll forms as Activity"
I wonder would you considered the inclusion of Survey / Questions / Polls to get feedback or wide answers from your friends community. I belive it could be subclass from Activity object but not clear how to handle the input from user. Any hints or roadmap for the feature

[2012-07-23 11:00] atd commented on #276
Hi @remware

According to a recent study we have made in popular social network platforms, polls follow events in content popularity, having a 20% of presence in top popular social networks.

However, I am not sure where to stop, because I do not want Social Stream to became a big monster, supporting every content out there. I believe that Social Stream's value resides in that, developers can use

[2012-07-23 12:52] remware commented on #276
Hi,
this is fine as you suggested. We wanted to ask any way before we do our changes since we want to have as much as possible ready made components. We are using the social stream gem as dependency.

Do you have any recommended way to develop the plugin so it remains compatible with main development ?

I would like to ask as well have you execute any security test in your platform or can we reque

[2012-07-23 13:46] atd commented on #276
The best example I can think about is the events or linkser gem. They add two different types of activity objects to social stream.

Regarding security, all we have are authorization specs. Sorry, I do not understand what do you mean with request from us.

[2012-07-31 21:04] willfults opened #277 "initialize_with_magic issue for windows machines"
I've grabbed the latest code base but I'm noticing an issue with file uploads on windows machines. The issue seems to be with the code in the  lib/rails/social_stream.rb:8:ininitialize_with_magic method.  (In the base gem)

the error is as follows

[code]

Is there a way to make this work on windows, either by using a gem, something i can install on windows, or rewriting the file?

[2012-08-01 10:42] atd commented on #277
Hi @willfults

a7b22b95db should address your issue. However, it is a quick hack and not a real solution. It should use some window's utility to correct the file type sent by the client. Unfortunately, I have not enough windows knowledge to set it the way it should be. Feel free to sent us a patch if you do.

[2012-08-01 17:35] willfults commented on #277
thanks, this quick fix works. Thank you for the rather quick turn around time as well!  I'm not sure how to patch this for windows, still learning rails. I can live with this fix.  Thank you again.

[2012-08-08 16:28] arthurccube opened #278 "Mixin doesn't work in Activity, ability and controllers?"
Hi,

Overriding SS with mixin is great, e.g.

ActiveSupport.on_load(:actor) do
  include ActorMixin
end

Then I can have my functions there.

However, I need to override Activity (adding my own children like activity like 'def my_comments'), or setting up the permission cancan function in ability; or setting up the respond_to :json in controller.

I tried to mixin the activity.rb or the posts_cont

[2012-08-10 03:28] ghost commented on #248
Does this mean that the ability to upload an avatar and the ability to use social_stream-documents are not compatible?

[2012-08-10 03:53] agitajapan opened #279 "cannot install: no file in my folder"
hi

I installed social_stream and could show it.
but there are no files in my app folder. so I cannot customize it.

following is my way to install it. is there any problems?

1)type command (generate new app)
  rails new ss --skip-bundle

2)setting as the instruction say
https://github.com/ging/social_stream

[2012-08-10 05:14] atd commented on #248
No. They are compatible

[2012-08-10 05:19] atd commented on #279
Hi @agitajapan,

Take a look at https://github.com/ging/social_stream/wiki/How-to-change-controllers%2C-models%2C-views%2C-assets-and-locales

[2012-08-10 05:19] #279 closed, assigned to nobody

[2012-08-10 17:33] agitajapan commented on #279
Hi @atd ,

thanks for your response.
i copied app folder from source and replaced.

when type command 'rails s', following message appeared
please teach me how to install it
m(_ _)m

---

Exiting
/Users/agitajapan/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/social_stream-base-0.22.0/lib/social_stream/base/engine.rb:78:in `block in <class:Engine>': uninitialized constant SocialStream::Base:

[2012-08-11 07:01] danil-z opened #280 "rake workers:start crashes"
Does anybody know why next command rake workers:start crashes?
however rake workers:start COUNT=1    works fine..
do i need manually start workers at production environment?

rake workers:start --trace

*\* Invoke workers:start (first_time)
*\* Invoke environment (first_time)
*\* Execute environment
*\* Execute workers:start
--- Cleaning up after previous group (PID: 6603)
 STALE worker with PID 6

[2012-08-13 06:03] danil-z commented on #248
I have same problem. I can't change or update an avatar.

danil@chat:~/chat$ bundle
Using rake (0.9.2.2)
Using i18n (0.6.0)
Using multi_json (1.3.6)
Using activesupport (3.2.8)
Using builder (3.0.0)
Using activemodel (3.2.8)
Using erubis (2.7.0)
Using journey (1.0.4)
Using rack (1.4.1)
Using rack-cache (1.2)
Using rack-test (0.6.1)
Using hike (1.2.1)
Using tilt (1.3.3)
Using sprockets (2.1.3)
Usin

[2012-08-13 07:52] danil-z commented on #248
the workaround for me was use gem from github (gem 'social_stream', :git => 'git://github.com/ging/social_stream.git')
and according my fresh install of debian i had make dpkg-reconfigure locales before...

[2012-09-18 08:08] atd opened #281 "Should validate event poster"
Assert that event poster is an image

[2012-10-10 09:59] #277 closed, assigned to nobody

[2012-10-16 19:06] geronimo opened #282 "rmagick error"
Hello there,

After install all the gems and dependencies and run the server in my dev computer I'm getting this error:

[code]

I'm running Ubuntu 12.04 and libmagickcore4, I guess the problem is related to rmagick gem version, any idea?

[2012-10-17 06:35] williscool commented on #260
So I'm leaning towards using social_stream for an application I'm building but I'm worried about the security implications of this issue.

Is a fix as simple as me going through the code base and adding `attr_accessible` lines with a script some how or is it a lot more complicated than that.

I guess my question is 2 fold.

1) how big a security issue is it? Could people potentially post as other

[2012-10-17 07:37] atd commented on #282
Hi Jesus, did you tried to search the error in google?

https://www.google.com/search?q=libMagickCore.so.3%3A+cannot+open+shared+object+file%3A+No+such+file+or+director&ie=utf-8&oe=utf-8

[2012-10-17 08:05] atd commented on #260
Hi @williscool, thank you for your offering

I guess the way to go in Rails 4 is protecting then in the controller, using the functionality of this plugin: https://github.com/rails/strong_parameters

I would be awesome to have this fix in Social Stream. I think it is potencially very harmful, up to the point you mention or beyond. The work is just tedious, watching for the parameters that are send

[2012-10-17 15:05] atd commented on #282
I don't think that is the problem, because I neither have
libMagickCore.so.3 and it is working fine

I would try to remove and reinstall rmagick

El 17/10/12 16:52, Jesus De Abreu escribió:

[2012-10-17 15:11] geronimo commented on #282
Yes, I did, but there's nothing helpful.

For some reason rmagick is trying to load libMagickCore.so.3 and I have libMagickCore.so.4 installed. I added a symbolic link and that's it, problem solved

[code]

Thanks anyway :)

[2012-10-17 15:11] #282 closed, assigned to nobody

[2012-10-20 21:13] williscool opened #283 "SocialStream::Document 's initializer doens't have a setup method"
If you try to start the app with an intializer that was generated by this (even in just rake)

`documents/lib/generators/social_stream/documents/templates/initializer.rb`

You'll get this error like this:

[code]

I just commented the whole file out but not before trying to change the name of the function to configure. I don't know what the right function name should be

and im at the head of mast

[2012-10-20 23:29] williscool opened #284 "Documentation doesn't mention anything needing to install redis"
Being that resque is a dependency it should state you'll need redis setup

Don't mind it myself because I've been looking for a good excuse to play with it :)

but I think the docs should say

[2012-10-21 18:46] williscool commented on #260
So I just got my social_steam app working. I got stuck for while because I ran into this.

https://github.com/rails/rails/pull/5872

Rails issue but I got it resolved with the monkey patch there.

I'm gonna focus on updating the gem dependenices to work with my app and then I'll circle back around for this

Also leaving this for reference. I like aspects of ryan's solution

http://railscasts.com/e

[2012-10-21 23:58] williscool opened #285 "Rails Generate Files without migrations"
it would be nice to have a way to have the generators copy over models views and controllers so could overide them.

like a --skip-migrations-flag

Like refinerycms.

Sorry if this is here and I just couldn't find it

[2012-10-22 07:43] atd commented on #283
Maybe `social_stream-documents` is not included in your `Gemfile`?

[2012-10-22 07:45] atd commented on #284
We will happy to merge a pull request that fixes this

[2012-10-22 07:55] atd commented on #285
I am not sure that is a good idea. That option will cause your version of Social Stream to freeze, not benefiting from bug updates and new features

[2012-10-22 15:13] williscool commented on #285
So how do you go about updating the styles and such?

[2012-10-22 15:30] atd commented on #285
Take a look at https://github.com/ging/social_stream/wiki/How-to-change-controllers%2C-models%2C-views%2C-assets-and-locales

williscool notifications@github.com escribió:

[2012-10-22 16:43] williscool commented on #285
Ah I was just getting there.

How about having it generate a decorator depending on the path you give

something like

`rake social_stream:override app/decorators/models/social_stream/base/user`

and it would create the appropriate decorator's in that directory.

even better (I'm toying with the idea of writing a gem myself that does this with any gem/engine)

1) copies the file, with everything c

[2012-10-23 02:34] williscool commented on #283
I just have

`gem "social_stream", :path => "~/github/social_stream/"`

Isn't everything included by default?

[2012-10-23 02:52] williscool commented on #284
Leaving these for reference:

osx install
https://github.com/defunkt/resque#section_Installing_Redis

ubuntu install

[code]

https://github.com/defunkt/resque#section_Installing_Resque

[2012-10-23 07:37] #283 closed, assigned to nobody

[2012-10-23 07:39] atd commented on #283
You were right, the method was missing.

Heads up to @raquelgb and @rafaelgg: this initializer is intented to change the attachments' thumbnail size, so this is probably broken in vish.

[2012-10-23 07:41] atd commented on #284
Anyway, we will replace redis with rails 4.0 queue system

[2012-10-23 07:41] #284 closed, assigned to nobody

[2012-10-27 23:16] williscool commented on #219
Hey @atd has anyone work on this at all?

[2012-10-29 08:54] atd commented on #219
Not yet..

[2012-11-09 20:25] spheregenomics opened #287 "Missing template error when uncommenting config.activity_forms"
I'm following the guide in the wiki to add a new activity type. I've added it into the config.objects entry, and it seems to be OK.

When I added it to config.activity_forms, it gave me an error. I realised it throws this error even when using the standard of [:post, :comment].

ActionView::MissingTemplate in Home#index

Showing /Users/sean/.rvm/gems/ruby-1.9.3-p194/gems/social_stream-base-0.22.4/

[2012-11-12 08:33] atd commented on #287
Hi @sfcarroll

That partial is used to describe the new activity's form. "Comment" has not such a partial, because it is always a response to a new activity, so you must exclude it from the activity_forms set.

[2012-11-12 08:33] #287 closed, assigned to nobody

[2012-11-15 14:34] artem-mindrov opened #288 "Representing different <subjects>"
What is the proper way to post activities on behalf of different subjects that a particular actor represents?
Say, I am logged in as 'some-user' which is a member of a group. Can I post on behalf of this group? Currently, I see that it's possible right after I create the group (and in the same session), since create/destroy methods in `GroupsController` would change `current_subject`. The problem

[2012-11-15 21:22] artem-mindrov commented on #288
OK I should've taken a closer look at the view code, looks like the answer to my first question is in `_header_dropdown_menu_sessions.html.erb`.

[2012-11-16 07:20] atd commented on #288
Regarding the second question, are you inviting members using the "member" relation instead of (or in addtion) the "participant" one?

Besides, invited users have to follow back the group (or accept it) before the group appears in their representation menu.

[2012-11-18 14:15] modsaid opened #290 "Can't mass-assign protected attributes: permissions"
I'm trying out social_stream, using a plain new rails 3.2.9 project on ruby 1.9.3

I followed the steps in the readme and got hit at the rake db:migrate part  with the error shown below

this is related to the default whitelisting attributes option of mass assignment introduced in rails 3.2.3
http://weblog.rubyonrails.org/2012/3/30/ann-rails-3-2-3-has-been-released/

So the migration works fine if

[2012-11-18 14:17] modsaid commented on #290
Just reached the notes about this part in the README  files...  I still believe the attributes just need to be specified though

[2012-11-19 07:31] atd commented on #290
Please, take a look at issue #260

On the other hand, be aware that Social Stream does not support ruby 1.8, see https://groups.google.com/forum/?fromgroups=#!topic/social-stream/Pnna1QyImrY

[2012-11-19 07:31] #290 closed, assigned to nobody

[2012-11-19 08:18] modsaid commented on #290
oops, i mistyped that... i'm using 1.9.3 ....

Got it about the mass assignment issue... so let's wait

Thanks @atd

[2012-11-20 10:51] atd commented on #260
@williscool any advance on this?

[2012-11-20 19:44] williscool commented on #260
Not yet. Been swamped recently and hadn't had time to come back to this yet.

[2012-11-21 07:36] atd commented on #260
Ok, no problem. @rafaelgg and @raquelgb are taking on it, since it is a serious issue that needs to be solved

[2012-11-21 17:04] williscool commented on #260
Ok good news. Let me know about progress. I'm most interested in this and the twitter bootstrap update

[2012-11-21 17:29] MarkBorcherding opened #291 "Undefined method `user_author=' when creating a new group after fresh install"
I'm new to Social Stream so this is probably a newbie config issue. I created a fresh install of `social_stream-base`, generated the install, migrated db, and the rest of the bits. Everything appears to be working so far, except when trying to create a new group I get the following exception when clicking 'Create Group'.

Did I miss a step of the setup?

[code]

[2012-11-22 07:29] atd commented on #291
Hi @MarkBorcherding this is a bug that has appeared in the last Rails version 3.2.9. It has been caused by this commit: https://github.com/rails/rails/commit/ee439895759b38431ad025f3c234831f30dadcdb

I currently have not time available to investigate it further, we will have to use Rails version 3.2.8 for now

[2012-11-25 08:44] wei3hua2 opened #292 "Sphinx not setup for heroku demo app"
internal error occurs when trying to query at the top menu. Below is the detail :

Request URL:http://demo-social-stream.herokuapp.com/search?search_query=ja&mode=header_search
Request Method:GET
Status Code:500 Internal Server Error

**_Request Headers**_
GET /search?search_query=ja&mode=header_search HTTP/1.1
Host: demo-social-stream.herokuapp.com
Connection: keep-alive
X-CSRF-Token: LWfclVNkXNL

[2012-11-25 18:12] ilyacherevkov opened #293 "How do I install gem 'social stream base'?"
I want to explicitly install social stream base, when I install gem 0.24.0, it says that classes are not defined. For example, undefined method `profile'

[2012-11-26 08:08] atd commented on #293
Hi @ilyacherevkov

Current `social_stream` version is 0.30.0 and current `social_stream-base` is 0.24.0

Please follow the instructions at https://github.com/ging/social_stream#installation

[2012-11-26 08:08] #293 closed, assigned to nobody

[2012-11-26 08:11] atd commented on #292
Hi @wei3hua2

We are not willing to pay the $12 per month that Sphinx support costs in Heroku for a demo application

[2012-11-26 08:11] #292 closed, assigned to nobody

[2012-11-26 16:48] MarkBorcherding commented on #291
Great. I saw there were some tests not passing as well, but didn't dig into it to find out it was a 3.2.9 problem. We'll step back a version and give it a try.

[2012-11-28 20:14] artem-mindrov opened #296 "Windows support for resque workers"
I was trying to make this work on Win7 today. I had to make a small change to `workers.rake` that's supposed to be transparent, but I don't have enough time to test it on other platforms right now (I only have a Win box), and I'm not sure how clean it is. Are you interested in reviewing/pulling these changes?

[2012-11-29 07:26] atd commented on #296
Sure! Please send them

[2012-11-30 16:43] crispinh2o opened #297 "Thumbnails in time-line"
When we're viewing thumbnails of videos, pdfs, images, audios, text files...

All are displayed with the same size.

We need to differentiate  of thumbnails

[2012-11-30 16:54] crispinh2o opened #298 "upload video in timeline"
When we're loading a video in timeline....  rails is broken..

[2012-12-04 10:50] atd commented on #297
Fixed in  aead12c5b4

[2012-12-04 10:51] atd commented on #298
Fixed in  aead12c5b4

[2012-12-04 10:51] #298 closed, assigned to atd

[2012-12-04 10:52] atd commented on #297
We have to define the size of thumbnails

[2012-12-04 12:25] atd commented on #246
Will be fixed in bootstrap branch

[2012-12-04 12:25] #246 closed, assigned to diegocarrera

[2012-12-04 12:28] atd commented on #288
Please, reopen if needed

[2012-12-04 12:28] #288 closed, assigned to nobody

[2012-12-04 12:29] atd commented on #296
Please, reopen when sending them

[2012-12-04 12:29] #296 closed, assigned to nobody

[2012-12-04 12:30] atd commented on #276
Please, reopen if needed

[2012-12-04 12:30] #276 closed, assigned to nobody

[2012-12-04 12:32] atd commented on #193
Obseleted by brach bootstrap

[2012-12-04 12:32] #193 closed, assigned to nobody

[2012-12-08 18:47] #297 closed, assigned to atd

[2012-12-08 18:53] atd commented on #278
Decorators support overriding any part in Social Stream now

https://github.com/ging/social_stream/wiki/How-to-change-controllers%2C-models%2C-views%2C-assets-and-locales

[2012-12-08 18:53] #278 closed, assigned to nobody

[2012-12-13 01:43] fredguth opened #300 "rmagick gem doesn't install"
I tried to follow social_stream documentation steps. But it seems there is an error when it tries to install the gem with native extensions:
#

Wed 12Dec12 23:41:07
This installation of RMagick 2.13.1 is configured for
# Ruby 1.9.3 (x86_64-darwin11.3.0) and ImageMagick 6.7.5 Q16

make
compiling rmagick.c
compiling rmdraw.c
compiling rmenum.c
compiling rmfill.c
compiling rmilist.c
rmilist.c: In fun

[2012-12-13 10:02] atd commented on #300
Hi @fredguth this is an RMagick issue, not Social Stream's. Please search in Google or open the issue at https://github.com/rmagick/rmagick

[2012-12-13 10:02] #300 closed, assigned to nobody

[2012-12-19 14:04] danil-z opened #303 "Relations i18n"
Hi folks.

How to specify translation for a relation's name?

for example  Default relations are:

friend, acquaintance, colleague

It will be great have them translated against every locale
for example in German

Freund, Bekannten, Kollegen

[2012-12-19 14:26] atd commented on #303
Hi @blackbumer, default relations are meant to be a hint for users to customize their own relations. You can change them in config/relations.yml

[2012-12-19 15:00] crispinh2o opened #304 "residual text on calendar modal."
When describing an event on the calendar, we need a real "placeholder" or input and textarea empty

We can see the case prior information now

[2012-12-19 15:05] crispinh2o opened #305 "See message Inbox"
This screen appears when I open a message in inbox

![Captura de pantalla de 2012-12-19 16:01:21](https://f.cloud.github.com/assets/1405896/22158/4178045e-49ed-11e2-905a-729707c5287e.png)

[2012-12-19 17:01] danil-z commented on #303
Yeah, i saw it . But names are written in English. If site has several locales how to make a relation name multilingual ?

[code]

for example when you add a post and choose Privacy level (Public, friend and etc) you want see this relation translated into User locale. May be user knows only russian language and he doesn't know word "friend"… Does it make sense ?

[2012-12-19 17:15] atd opened #306 "Implement social_stream.flash.js"

[2012-12-19 17:20] danil-z commented on #303
i've found some part of code. Seems it works for public relations

[code]

i think such way should be defined for all relations to fully support multilingual content

[code]

[2012-12-19 17:22] danil-z commented on #303
i'm not very familiar with this gem so i can't find a right place to make changes by myself...

[2012-12-19 18:04] danil-z opened #307 "Ability usage example required"
How to restrict read access to Profile (phones, birthday, website etc) for friends only for example?

[code]

and addingg to config/relations.yml

[code]

[2012-12-20 11:40] atd commented on #307
Hi @blackbumer, this issue was just addressed by @carlosgarciaq in #301 Please, try Social Stream's last version that was just released

[2012-12-27 10:36] Wangj opened #308 "NoMethodError (undefined method relations' for nil:NilClass):"
When I add a new activity object like "Article".

I add code in config/initializer/social_stream.yml:
  config.objects = [ :post, :comment, :article ]

it throws out :
NoMethodError (undefined method `relations' for nil:NilClass):
  social_stream-base (0.24.2) app/models/activity_object.rb:237:in`allowed_relations'
  activesupport (3.2.8) lib/active_support/callbacks.rb:594:in `_run__9305967739268

[2012-12-27 12:45] atd commented on #308
Hi @Wangj you have to set the `owner` of the `Article`

[2012-12-27 12:57] atd commented on #303
@blackbumer the issue is that Custom relations must be customizable by users, so they must be able to change their name.

On the one hand, I would be possible to initialize default relations based on the user's browser locale

That happens here: https://github.com/ging/social_stream/blob/master/base/app/models/relation/custom.rb#L30

On the other hand, you may define your own system-level relation

[2012-12-28 03:04] Wangj commented on #308
Hi @atd I did as this tutorial (https://github.com/ging/social_stream/wiki/How-to-add-new-activity-types) said.I don't how to set the [owner] of the [Article].Could you give me more message?

[2012-12-28 03:13] Wangj commented on #308
@atd Sorry,it's my mistake.I include "SocialStream::Controller::Subjects" in articles_controller.rb. It works fine now. Still thank you very much for answering my question.

[2012-12-28 03:13] #308 closed, assigned to nobody

[2013-01-06 03:53] williscool opened #310 "Is there a way to remove file uploads?"
I don't want people to be able to upload any other files than their avatars

[2013-01-06 05:03] williscool opened #311 "Need a way to blacklist and or user names."
Don't want users to be able to have names like admin or login

or to have usernames shorter than 3 characters

I eventually want to have the user profiles be off of the root url instead of /users/#(user_name)

[2013-01-07 01:05] williscool commented on #237
I don't think it would be very fun to get this to run on Windows.

The easiest thing would be to run virtualbox and install an ubuntu virtual machine on it.

Then you would have a unix system it would be much easier to get all of the dependencies going on

[2013-01-08 01:18] Diolor opened #313 "Bundler could not find compatible versions for gem "omniauth-facebook":"
Hi when simple `bundle` I get the following lines:

`Bundler could not find compatible versions for gem "omniauth-facebook":
  In Gemfile:
    social_stream (>= 0.19.0) ruby depends on
      omniauth-facebook (~> 1.2.0) ruby
    omniauth-facebook (1.4.1)`

I have already omniauth working on my app.
Anyone has an idea about what's going on?

[2013-01-08 11:38] rpmilevskiy opened #314 "Chat functionality does not working"
Hi everyone!

Here http://places.dit.upm.es/home I found that chat functionality does not working. Also I can not make it workable on my local machine.

Does chat functionality have some blocked status or there is something that I can not understand how to make chat workable?

[2013-01-08 14:23] atd commented on #260
Social Stream now uses  https://github.com/rails/strong_parameters

[2013-01-08 14:23] #260 closed, assigned to rafaelgg

[2013-01-08 14:37] atd commented on #310
You can configure it in `config/initializers/social_stream.rb`

[2013-01-08 14:37] #310 closed, assigned to nobody

[2013-01-08 14:40] atd commented on #311
There issues are not directly related to Social Stream

You can create a validator for the first one

The second one is related to Devise

You can add our own route for the third.

[2013-01-08 14:40] #311 closed, assigned to nobody

[2013-01-08 14:41] atd commented on #307
Please reopen if needed

[2013-01-08 14:41] #307 closed, assigned to nobody

[2013-01-08 14:44] atd commented on #313
Hi @Diolor

omniauth dependencies are defined at https://github.com/ging/social_stream/blob/master/base/social_stream-base.gemspec

Feel free to fork the project, update them in your fork and send us a pull request if everything works

[2013-01-08 14:49] atd commented on #314
Hi @rpmilevskiy

The chat functionality is currently working at http://demo-social-stream.dit.upm.es

@agordillo wrote a nice guide at https://github.com/ging/social_stream/wiki/Getting-Started-With-Social-Stream-Presence on how to setup the chat

Do not hesitate to reopen this issue if you have specific questions on it

[2013-01-08 14:49] #314 closed, assigned to nobody

[2013-01-08 16:00] atd commented on #304
done at  1d2a04c

[2013-01-08 16:00] #304 closed, assigned to atd

[2013-01-09 02:16] williscool commented on #260
Nice!

[2013-01-09 10:00] #291 closed, assigned to nobody

[2013-01-09 14:12] #305 closed, assigned to atd

[2013-01-12 01:29] ricardoliveira700 commented on #270
Good night!
I'm having trouble creating social_stream, persistent rake db: reset

==  RelationPublicPermissions: migrating ======================================
rake aborted!
An error has occurred, all later migrations canceled:

Can't mass-assign protected attributes: permissions
/home/roliveira/.rvm/gems/ruby-1.9.2-p318@social_stream/gems/activemodel-3.2.9/lib/active_model/mass_assignment_secur