[2013-01-12 10:29] atd commented on #270
@ricardoliveira700 please take a look at the last part of https://github.com/ging/social_stream#installation

[2013-01-12 22:05] williscool commented on #285
So after researching it a bit I've concluded that your decorator approach is best for models and controllers

https://github.com/ging/social_stream/wiki/How-to-change-controllers%2C-models%2C-views%2C-assets-and-locales

And for views the best thing to do is use deface.

https://github.com/spree/deface

and put the corresponding template in the right app/overrides directory

ie for the application

[2013-01-12 22:05] #285 closed, assigned to nobody

[2013-01-13 14:43] sharp opened #315 "Can I copy all the engine forder to the vendor folder of my application ?"
I want to clone the social stream to my vendor folder , I think it's easy to keep synchronous to the edge version. do you think is it possible ?

[2013-01-14 08:41] atd commented on #315
I think it is better to use bundler. You can find examples at https://github.com/ging/vish/blob/master/Gemfile and https://github.com/ging/global3/blob/master/Gemfile

[2013-01-14 10:01] sharp commented on #315
Thanks @atd

[2013-01-14 10:01] #315 closed, assigned to nobody

[2013-01-21 12:49] crispinh2o opened #316 "header out"
I need to remove the header registration screen to compose with the welcome message but I dont know where it is called...

You can help me?

[2013-01-21 12:53] atd commented on #316
Do you mean the big logo with the letters?

[2013-01-21 14:19] crispinh2o commented on #316
yes is it!

[2013-01-22 15:47] KrzysiekJ opened #317 "Tag autocompletion doesn't work"
Instead of it, ordinary select widget is displayed. Tested on master. I don't know if it may be related, but I had to put

[code]

in my Gemfile (otherwise the server wouldn't start).

[2013-01-22 16:30] atd commented on #317
Hi @KrzysiekJ, the problem seems to be the new version of jquery-rails 2.2.0

[2013-01-22 17:31] KrzysiekJ commented on #317
Indeed, downgrading to 2.1.4 solved the problem, thanks. Not closing the issue since I guess something has to be done on the Social Stream side anyway.

[2013-01-25 05:06] arthurccube opened #318 "Missing partial posts/new_activity"
Hi,

I got the error after bundle update
Missing partial posts/new_activity with {:locale=>[:en, :zh], :formats=>[:html], :handlers=>[:erb, :builder, :coffee, :arb, :haml]}. Searched in:

and "_new_activity" is indeed not in the source code.

How should the update fix?

Thanks,
Arthur

[2013-01-25 09:25] atd commented on #318
What version of social stream are you using?

[2013-01-25 19:54] edbond opened #319 "Email reconfirmation"
When user changes email in profile, reconfirmation email should be sent.
Devise does have reconfirmation feature.

[2013-01-25 22:45] nadims opened #320 "jquery-rails 2.2.0 breaks several JS in the latest stable gem 1.1.0"
If you get the latest social stream gem at 1.1.0, and have an updated jquery-rails gem at 2.2.0, a lot of js code breaks. You can not post, upload, change avatars, etc. This is currently the case even in the demo site http://demo-social-stream.dit.upm.es/

This root reason is because jquery-rails 2.2.0 moves jQuery from 1.8.3 to 1.9.0. This has caused the following deprecations (look after the bre

[2013-01-28 01:50] arthurccube commented on #318
My problems gone after I use "1-0-stable" branch.

The file is missing when browsing the github:
https://github.com/ging/social_stream/tree/master/base/app/views/posts

[2013-01-28 08:24] atd commented on #318
Social Stream 2 will not use that partial. The new post box mainly uses javascript

[2013-01-28 08:24] #318 closed, assigned to nobody

[2013-01-28 08:38] #320 closed, assigned to nobody

[2013-01-28 08:47] atd commented on #320
Fixed with jquery-migrate to allow developers a smooth migration. Thanks for reporting!

[2013-01-28 08:49] atd commented on #319
A patch is welcomed!

[2013-01-28 10:56] artem-mindrov opened #321 "Sharing restrictions broken?"
I've noticed that whatever sharing preferences are set for a new activity object (e.g. any new post or document), it always ends up with a default set of relations. Does anyone else have this problem?

On taking a closer look, this seems related to the Strong Parameters integration. `relation_ids` are not whitelisted, so they get silently filtered out when passed down from the controller. Afterwar

[2013-01-28 11:14] atd commented on #321
Hi @artem-mindrov

Exactly, this is a bug as you have precisely described. I am just deploying the fix

[2013-01-28 11:20] #321 closed, assigned to nobody

[2013-01-28 11:22] atd commented on #321
Thank you for reporting!

[2013-01-28 13:47] edbond commented on #319
Here is a quick summary of my monkey-patching:

add email column to User and copy email from Actor (note that unconfirmed_email is already in users):

[code]

wire profle and user, add to Profile model:

[code]

change field_for in profile/edit to use user:

[code]

HTH

[2013-01-29 10:51] arthurccube opened #322 "devise after_sign_in_path_for failed"
Hi,

My project is using 1-0-stable branch.

I found my project does not run the after_sign_in_path_for.

This problem seems not common in the devise community.

I am not sure if any one using SS sucessfully set the after_sign_in_path_for ?

Here is my code:

class ApplicationController < ActionController::Base
def after_sign_in_path_for(resource_or_scope)
    Rails.logger.debug("Sign in after....

[2013-01-29 11:31] atd commented on #322
Hi Arthur, Social Stream is currently setting that path in config/routes.rb in this line:

https://github.com/ging/social_stream/blob/1-0-stable/base/config/routes.rb#L5

[2013-01-30 08:10] williscool opened #323 "Sidebar Disappears In Production mode"
This on a branch off of the current master

I'm trying to update

`base/app/views/layouts/application.html.erb`

with a deface template at

`app/overrides/layouts/application/sidebar.html.erb.deface`

the contents of which is just some code for devise invitable

[code]

I know its got something to do with the sidebar helper not reloading properly or

`base/app/helpers/sidebar_helper.rb`

[code]

n

[2013-01-30 08:52] williscool commented on #323
I forgot to mention the production server is running ruby-1.9.3-p362

dev is running ruby-1.9.3-p286

both using rvm and both are ubuntu machines

[2013-01-30 08:55] atd commented on #319
Hi @edbond, I cannot see how unconfirmed emails are confirmed again.

Anyway, I believe the right place to make this contribution is Devise itself, don't you think so?

[2013-01-30 09:05] williscool commented on #323
Also I just recognized it probably have nothing to do with deface.

When I added a group and then was logged in as the group the sidebar showed up with suggestions for me to follow my original user.

I think its just only evaluating the base version and never the events version (which is what  shows up on most pages)

[code]

But I just dont know what to do
is on

[2013-01-30 09:07] edbond commented on #319
Devise already have such feature, see http://rubydoc.info/github/plataformatec/devise/master/Devise/Models/Confirmable
- +reconfirmable+: requires any email changes to be confirmed (exactly the same way as
  initial account confirmation) to be applied. Requires additional unconfirmed_email
  db field to be setup (t.reconfirmable in migrations). Until confirmed new email is
  stored in unconfirmed

[2013-01-30 09:26] atd commented on #319
Sorry @edbond, I did not notice.

Why replicating the column from actors.email to the users table?

[2013-01-30 09:36] edbond commented on #319
This was needed for email_changed and devise callbacks work. Maybe it can be achieved without replication.

[2013-01-30 09:51] atd commented on #319
It works for me...

[code]

[2013-01-30 10:11] BDQ commented on #323
I tested your override with the layout here: http://deface.heroku.com/ and it works fine.

My two guesses would be:

1) Deface is disabled in config/environments/production.rb

or

2) if content_for?(:sidebar)  is returning false in production

[2013-01-30 10:25] edbond commented on #319
afaik this call was forwarded to Actor which is not devise model. Try to change email and save, you will not get reconfirmation email.

[2013-01-30 12:06] atd commented on #319
Please, provide an application or spec that reproduces it

[2013-01-30 12:55] edbond commented on #319
Here is a spec which pass after changes:

[code]

[2013-01-30 13:42] atd commented on #319
The spec does not work in current Social Stream's code:

[code]

[2013-01-30 13:47] edbond commented on #319
Nevermind, if someone needs to fix confirmation it will find the code here.

[2013-02-02 14:09] KrzysiekJ opened #324 "Uninitalized constant in search"
When accessing <code>/search?utf8=✓&q=something</code>, I get the following error:

<code>uninitialized constant SearchController::MIN_QUERY</code>
located in
<code>/base/app/helpers/search_helper.rb:5:in `too_short_query?'</code>

If I change that constant to an integer, the error doesn't occur.

[2013-02-03 12:15] KrzysiekJ commented on #324
It was error on my side, I had another SearchController defined elsewhere in the code, about which I had forgotten… Sorry for the noise.

[2013-02-03 12:15] #324 closed, assigned to nobody

[2013-02-03 12:18] KrzysiekJ commented on #317
Closing this issue because it should have been fixed by commit 11d3df5 referenced in issue #320.

[2013-02-03 12:18] #317 closed, assigned to nobody

[2013-02-05 08:28] arthurccube opened #325 "cannot override SS:Object ability"
Hi,

I am trying to limit the :read access of my SS:Object by updating the ability.rb. However, even my can :read return false, the current_subject still being able to access the object.

I read the logs, it seems that both my can :read function together with the SS:Object ability are triggered.

How to override the SS:Object ability?

Here are my codes:

class Ability
 include SocialStream::Abili

[2013-02-05 09:31] atd commented on #325
Maybe you should call to `super` afterwards?

@carlosgarciaq worked on #301, maybe he can help :wink:

[2013-02-07 20:21] edbond opened #327 "Migrations doesn't works. Follow readme"
[code]

[2013-02-07 20:22] #327 closed, assigned to nobody

[2013-02-07 20:22] edbond commented on #327
Ah, whitelist should be false

[2013-02-08 12:07] #313 closed, assigned to nobody

[2013-02-11 14:47] atd commented on #319
It seems that the User model is not changed and thus is not updated, so Devise's callback is not triggered.

[2013-02-11 15:42] edbond commented on #319
Yes, maybe you can forward email_changed from Actor to User?

[2013-02-13 15:11] crispinh2o opened #329 "I can´t find one render"
Where you call _groups.html.erb?? (I mentioned this part to see the good part)

https://github.com/ging/social_stream/blob/61ba2816d1c01ee85bd22735e29e7ef2fd555d7e/base/app/views/users/_groups.html.erb

In home I´m deleting it well, but not in profile :(

you can help me??

[2013-02-13 15:19] atd commented on #329
It is here: https://github.com/ging/social_stream/blob/master/base/app/views/users/_show.html.erb#L26

[2013-02-13 15:20] atd commented on #329
Anyway, we still need to talk about the re-design of home and profile views

[2013-02-13 23:52] gibmax opened #330 "Search: There seems to be a problem with search engine"
Hello,
I have installed Social Stream on Windows Localhost. I am able to sign in, create accounts, add contact, avatar, comments.

When i try the Search it is not working, i get this below message
"There seems to be a problem with the search engine"

Can you please advise?
Thank you,
Abzal

[2013-02-14 09:47] #329 closed, assigned to atd

[2013-02-14 09:47] atd commented on #330
Did you set up the search engine?

https://github.com/ging/social_stream/wiki/How-to-setup-the-search-engine

[2013-02-14 11:36] crispinh2o commented on #329
thanks!!!

[2013-02-14 11:42] gibmax commented on #330
Hi atd,
I had an issue Sphinx cannot be found on the system. This got resolved by adding this

development:
  version: '2.0.14'

to appname\config\sphinx.yml

when i run rake ts:start
i am getting this error message:  Windows cannot find 'searchd. Make sure you typed the name correctly, and then try again.

There is also development.sphinx.conf file in appname\config

[2013-02-14 12:09] gibmax commented on #330
Hi atd,
Adding to the above, I am getting this error too
Failed to start searchd daemon. Check appname/log/searchd.log

I don't have that log file. Do i need to create a log file?

[2013-02-14 13:06] atd commented on #330
I don't think so. Just configure thinking sphinx in windows

https://www.google.es/search?q=thinking+sphinx+windows

[2013-02-14 21:41] gibmax commented on #330
I got it working by following this below link

http://itsonrail.wordpress.com/2010/05/23/installing-sphinx-on%C2%A0windows/

Thank you atd!

[2013-02-15 09:46] atd commented on #330
Great!

What about fixing the wiki page with your experience? It will help future users

[2013-02-15 22:25] gibmax commented on #330
Sure, i will add a how to fix this issue to the wiki.

[2013-02-18 09:09] atd commented on #330
Just click the edit button!

[2013-02-20 10:04] artem-mindrov opened #331 "Using cloud storage for documents / profile pictures"
Is it possible to use S3 to store uploads with config settings? I had to hack a bit into Picture/Video models, this seems to work fine in production, but what is the best way to do this with avatars? I'm on Heroku, so I can't store them locally.

[2013-02-20 11:21] atd commented on #331
I @artem-mindrov we have never used them but it should be possible. You can ask in the google groups, maybe other people faced with it

[2013-02-21 16:33] kbdev opened #332 "trying to install social_stream gem"
so i make a new application using for example, "rails new social", in the gemfile i add gem "social_stream", ">= 1.0.0", go to the command prompt and run "bundle", it gets stuck in this phase. i have rails 3 and ruby 1.9.3. im not sure whats going on. can anyone help?

[2013-02-21 17:10] atd commented on #332
Hi @kbdev I cannot reproduce it. Are there other gems in the Gemfile?

You can use this to find out the loop:
https://gist.github.com/atd/1682261

[2013-02-21 17:11] kbdev commented on #332
oh, so do i need to take out all other gems?

[2013-02-21 17:15] atd commented on #332
There may be a conflict with other gem, but I is working well for me with Rails' default Gemfile

[2013-02-21 17:32] kbdev commented on #332
i got it to begin bundling, but now the bundler is getting stuck on "installing rmagick", feel like im having rookie problems with this.

[2013-02-21 17:46] atd commented on #332
Take a look at https://github.com/ging/social_stream/wiki

"Build gems on linux" if you are using linux of course...

[2013-02-21 17:49] kbdev commented on #332
im just in  development environment right now on my local machine which is a pc running windows 7

[2013-02-21 20:59] kbdev commented on #332
for those that are curious just in case, here is the paths you need to set up to get this problem fixed, unless i was the only one. lol

set CPATH=C:\Program Files\ImageMagick-6.7.7-Q16\include
set LIBRARY_PATH=C:\Program Files\ImageMagick-6.7.7-Q16\lib

[2013-02-22 02:10] kbdev opened #333 "social_stream-base run on local machine"
I was wondering how to run this part of social_stream on my pc, basically how to get social stream in development mode.

[2013-02-22 09:13] #332 closed, assigned to nobody

[2013-02-22 09:28] atd commented on #333
Sorry @kbdev I am not sure what are you talking about. Please, ask this question in the google groups or stackoverflow

[2013-02-22 09:28] #333 closed, assigned to nobody

[2013-02-22 09:29] #331 closed, assigned to nobody

[2013-02-22 09:29] #330 closed, assigned to nobody

[2013-02-22 09:30] #322 closed, assigned to nobody

[2013-02-22 09:31] atd commented on #306
https://github.com/atd/flashy

[2013-02-22 09:31] #306 closed, assigned to nobody

[2013-02-23 20:19] spheregenomics opened #334 "Undefined mixin 'makeColumn'"
Installed the latest version of Social Stream form Github (2.0.0); installation steps are documented here:
https://github.com/ging/social_stream/wiki/Install-Edge-Social-Stream-(2.0.0)

When opening the browser the following error was received:

Sass::SyntaxError in Frontpage#index

Showing /Users/sean/.rvm/gems/ruby-1.9.3-p327/bundler/gems/social_stream-5b7def64c757/base/app/views/layouts/frontpa

[2013-02-23 20:25] spheregenomics commented on #334
The **makeColumn** mixin is used extensively but does not appear to be defined anywhere. See results of search below:

Searching 624 files for "makeColumn" (whole word)

/Users/sean/.rvm/gems/ruby-1.9.3-p327/bundler/gems/social_stream-5b7def64c757/base/app/assets/stylesheets/social_stream/base/_contacts.css.sass:
   16
   17    .data
   18:     @include makeColumn(2, 0)
   19      display: inline-

[2013-02-23 20:30] spheregenomics commented on #334
Thought it might be boostrap-related. I tried adding the **bootstrap-sass** gem, bit it did not help.

gem 'bootstrap-sass'

[2013-02-24 04:55] stanchiang opened #335 "not compatible with latest 'Devise' v2.2.3"
hi thanks for helping a rails newbie. All i've done is add gem 'social_stream', '>= 1.0.0' to my gemfile and now i'm trying to install everything. I've already got devise-2.2.3 as part of a different demo i did. Will I have to downgrade my devise gem?

$ bundle
Fetching gem metadata from https://rubygems.org/.........
Fetching gem metadata from https://rubygems.org/..
Resolving dependencies...
Bun

[2013-02-24 22:31] kbdev commented on #335
You should just have to do

gem update devise

[2013-02-24 22:47] KrzysiekJ commented on #334
I have a similar problem with border-radius mixin when running `bundle exec rake assets:precompile`. It looks like there is some issue with importing bootstrap mixins.

[2013-02-25 01:42] stanchiang commented on #335
really? i thought the problem was that social stream is dependent on an old version of devise. how would trying to update devise, which is already up to date, going to fix my issue?

[2013-02-25 01:44] kbdev commented on #335
I'm just letting you know what I did. That's all.

Ken Bartlett

On Feb 24, 2013, at 6:42 PM, stanchiang notifications@github.com wrote:

[2013-02-25 08:51] atd commented on #334
social_stream-base already depends on bootstrap-sass. The problem is that the `application.css` must be `application.css.sass` so it is compiled by the Sass preprocessor and mixins are available in social_stream-documents

Take a look at https://github.com/ging/social_stream/blob/master/spec/dummy/app/assets/stylesheets/application.css.sass

[2013-02-25 09:13] atd commented on #335
Social stream depends on Devise 2.1.2 indeed. You will need to downgrade you Devise version. You are also welcomed to send us a pull request with the new version and the required fixes.

[2013-02-25 10:23] spheregenomics commented on #334
Thank you for your answer Antonio. I tried a reinstall and am getting a Devise error now. I'll investigate.

[2013-02-26 13:49] folivi opened #336 "Works on Mongodb?"
Hi
this is more a question than an issue.
Has anyone use the gem on an app using Mongodb?

[2013-02-27 07:36] atd commented on #336
Hi @folivi we are not aware of any implementation of Social Stream using MongoDB

For questions you can use [Social Stream’s Google group](http://groups.google.com/group/social-stream) and [social-stream tag in StackOverflow](http://stackoverflow.com/questions/tagged/social-stream)

[2013-02-27 07:36] #336 closed, assigned to nobody

[2013-02-27 07:38] atd commented on #334
Please reopen I you find further issues

[2013-02-27 07:38] #334 closed, assigned to nobody

[2013-02-27 10:33] sbelahbib opened #337 "How can we use paperclip with .... thank you"
gem 'paperclip','2.7.0'   <=== not working
ould not find gem 'paperclip (~> 3.3.0) ruby', which is required by gem 'social_stream-documents (>= 0) ruby', in any of the sources.

said@said-virtual-machine ~/github_d/social_stream $ bundle install
Fetching gem metadata from http://rubygems.org/.......
Fetching gem metadata from http://rubygems.org/..
Bundler could not find compatible versions for ge

[2013-02-27 13:26] atd commented on #337
Hi @sbelahbib  you must update your paperclip version in your Gemfile

[code]

[2013-02-27 13:26] #337 closed, assigned to nobody

[2013-02-28 10:31] spheregenomics opened #338 "Running tests in Social Stream"
This is not a code issue, but rather a question, and once I understand I'll document the process on the Wiki.

I see there are tests in the 'social_stream' gem (ie: the root gem), under the social_stream-1.1.5/spec directory. I also see there is a dummy app there.

What is the correct process for running these tests against an application built with social stream. Obviously some tests would need t

[2013-02-28 10:37] atd commented on #338
Hi @sfcarroll you have an example at https://github.com/ging/vish/blob/master/Rakefile

[2013-02-28 10:38] spheregenomics commented on #338
Thanks for the quick response Antonio - I'll check it out.

On 28 February 2013 11:37, Antonio Tapiador notifications@github.comwrote:

[2013-03-03 12:25] carlosgarciaq opened #339 "fcbkcomplete not working?"
When trying to write an email using the demo page 'http://demo-social-stream.dit.upm.es/messages/new' I cannot specify the recipients because, I think, fcbkcomplete is not working properly  after some change was made to social_stream.

I reproduce the same error in my application after upgrading to social_stream version 1.1.4, whenever I try to use fcbkcomplete.

Any hints?

I am running Ubuntu an

[2013-03-04 12:05] atd commented on #339
Hi @carlosgarciaq This is probably related to #320

I am afraid we will need to freeze the jquery version.

[2013-03-04 13:11] atd commented on #339
Version 1.1.6 fixes this. It is working now in demo

[2013-03-04 13:11] #339 closed, assigned to nobody

[2013-03-04 13:12] #338 closed, assigned to nobody

[2013-03-05 01:45] carlosgarciaq commented on #339
Yeap, works great now :) Thanks @atd.

[2013-03-05 08:40] nadims commented on #339
The fcbkcomplete plugin seems to be done development wise.

Last commit over a year a ago. It is probably not going to be upgraded.

[2013-03-05 08:45] atd commented on #339
It seems so @nadims

We have already switched to select2 in social stream 2

[2013-03-07 17:27] nadims commented on #242
I am currently seeing this problem too. I just noticed that if I have a follow model activated, this controller does not work. Any ideas on what code I would need to move to make it work?

[2013-03-07 18:17] nadims commented on #242
Okey... I looked over at the code, I can't seem to understand if this is the desired behaviour. From what I understand if you have the follow model set, relationship should not even exist.

As I see it right now if I put follow model relationships (friend colleague acquaintance custom) still exist. So I don't know if the idea is not to have them when you set follow model, or is it a part of the co

[2013-03-08 08:18] atd commented on #242
Hi @nadims. in Social Stream we currently have two relation models:
- _custom_: actors are able to customize the relationships, change their name, change permissions, etc. This is the google+ model with circles. In this model, Social Stream creates initial custom relations for each actor for use them and customize them
- _follow_: there is only one system-defined relation: Relation::Follow. This i

[2013-03-08 15:56] nadims commented on #242
That is what I thought. Where I got confused is,  I customized social stream with an custom Ability Object, and those seem to be not visible to other people unless a relationship is made. Like I can't see my some one I follow activity object, unless I friend him. This with the follow model turned on. Am I missing some configuration for my Ability Object so it works with follow?

[2013-03-08 16:23] atd commented on #242
I guess the relevant methods for your problem are the fill_relation_ids callback:

https://github.com/ging/social_stream/blob/master/base/app/models/activity_object.rb#L216

and https://github.com/ging/social_stream/blob/master/base/app/models/actor.rb#L406

[2013-03-11 11:19] atd commented on #265
Please reopen if the issue can be reproduced

[2013-03-11 11:19] #265 closed, assigned to nobody

[2013-03-11 11:21] #102 closed, assigned to nobody

[2013-03-11 11:24] atd commented on #323
Please reopen if there is further information

[2013-03-11 11:24] #323 closed, assigned to nobody

[2013-03-11 11:25] #89 closed, assigned to Roendal

[2013-03-11 11:28] #230 closed, assigned to nobody

[2013-03-16 16:09] KrzysiekJ opened #341 "base depends on events and documents"
In `base/app/views/layouts/_header_signed_in.erb` there are calls of `events_path` and `documents_path`, which causes error if those modules are not installed.

[2013-03-17 10:14] hron84 opened #342 "ArgumentError email"
Hi!

I just installed social_stream gem with provided instruction, but I cannot register an user:

Exception: ArgumentError: method 'email': given 0, expected 1

[code]

I tried create user from console with same result.

[2013-03-17 16:11] KrzysiekJ opened #343 "Generators use .css stylesheet extension"
All install generators append `require` directives to `application.css` file. But, as it was said in issue #334, this file should now have `.css.sass` extension (I don't know if `.sass` and `.scss` would also work).

[2013-03-17 18:27] atd commented on #258
Comment on follow activities is not supported in 2.0

[2013-03-17 18:27] #258 closed, assigned to nobody

[2013-03-17 18:32] atd commented on #343
A solution for this might be a `social_stream.css.sass` file that is created in `app/assets/stylesheets` and having only one `require` directive in `application.css` pointing to that file.

Social Stream's gem's `import` directives can be added to `social_stream.css.sass` and compiled properly

[2013-03-17 18:43] atd commented on #342
Hi @hron84 Please do not use the issue tracker for asking questions. You can use the google group or stack overflow

Get the last version of Social Stream, you are using social_stream-base = 1.0.0

[2013-03-17 18:43] #342 closed, assigned to nobody

[2013-03-22 11:48] #341 closed, assigned to nobody

[2013-03-26 07:50] luoie opened #346 "Undefined mixin 'grid-core-span'."
I do the "Install Edge Social Stream (2.0.0)"
 Point  browser to 0.0.0.0:3000, show the followed error.

Sass::SyntaxError in Frontpage#index

Showing /usr/lib/ruby/gems/1.9.1/bundler/gems/social_stream-e0e5a4377d0b/base/app/views/layouts/frontpage.html.erb where line #9 raised:

Undefined mixin 'grid-core-span'.
  (in /usr/lib/ruby/gems/1.9.1/bundler/gems/social_stream-e0e5a4377d0b/documents/app/

[2013-03-26 09:15] atd commented on #346
Hi @luoie this issue seems a dup of #343 Please, take a look there for more information

[2013-03-26 09:15] #346 closed, assigned to nobody

[2013-03-26 09:24] atd commented on #316
We are not removing them in the short-term

[2013-03-26 09:24] #316 closed, assigned to atd

[2013-03-26 09:29] atd commented on #228
This was fixed in #340

[2013-03-26 09:29] #228 closed, assigned to nobody

[2013-03-26 14:59] nadims opened #347 "Rake task db:populate is broken on post generation"
Default post validates to 140 characters. The code in rake task db:populate breaks because it generates a text longer than this. I have a small fix for this.

[2013-03-26 15:06] nadims commented on #347
I think I generated another issue attaching the fix. Sorry a little new to using github

[2013-03-27 13:21] atd commented on #347
Hi @nadims. After revisiting the commit I think I was too impulsive in adopting Twitter's limit of 140 character. Measures in my production social network show users posting more that 140 in 25% of cases. I am thinking on reverting the commit

[2013-03-27 13:53] nadims commented on #347
Yep I think that 140 limit is too low. The attached code was only to make the rake db:populate command work not to change the 140 char limit.

[2013-03-27 15:55] KrzysiekJ opened #349 "CircularDependencyError in asset pipeline"
After recent update, I get `Sprockets::CircularDependencyError` telling me that `/base/app/assets/javascripts/social_stream/timeline.js` “has already been required”. Bisecting shows that the problem was introduced in commit baa5198943b7d6bfb6831ab by @atd . I have base, documents and events installed.

[2013-03-27 16:49] atd commented on #349
Hi @KrzysiekJ I had the same problem in the middle of the refactoring. It seems the dependencies are cached. I had to temporary remove the require directives in timeline.js and after refreshing the page, add them again

[2013-03-27 18:10] KrzysiekJ commented on #349
Thanks, indeed it was the problem. For the record, removing `public/assets` (and precompiling them again) also worked for me.

[2013-03-27 18:10] #349 closed, assigned to nobody

[2013-04-01 12:58] #347 closed, assigned to nobody

[2013-04-02 17:48] nadims opened #350 "Settings not working in current master branch"
All the settings options like change password, change email address, change languaje (has typo BTW) etc... do not work. You click them and nothing happens. I am not sure if it is a bug, or it is still being worked on.

![Screenshot_2013-04-02_10_47_AM-2](https://f.cloud.github.com/assets/934123/329791/790c1276-9bbd-11e2-8050-a1c2211e1607.png)

[2013-04-02 19:09] nadims opened #351 "New mailboxer gem breaks Conversations"
The new mailboxer gem has some changes that break conversations. When I hit conversations icon for a user I get the following error.

Error: ERROR:  column receipts.is_read does not exist
LINE 1: ... = 9 AND "receipts"."receiver_type" = 'Actor' AND "receipts"...
                                                             ^
: SELECT COUNT(DISTINCT "conversations"."id") FROM "conversations" INNER J

[2013-04-02 19:31] nadims commented on #351
I guess if you redeploy you get the correct migration.

[2013-04-02 19:31] #351 closed, assigned to nobody

[2013-04-02 20:20] nadims opened #352 "Typo in social_stream / base / app / views / conversations / _index.html.erb"
Typo in @converations line 8 should be

total: @conversations.total_count

[2013-04-02 21:50] nadims commented on #350
Seems to be that a javascript function called showSettings is missing. Does that come from a js plugin?

[2013-04-03 06:41] atd commented on #351
Indeed, social stream 2.0 comes with mailboxer ~> 0.10.1

You can re-use mailboxer's migrations running `rake mailboxer_engine:install:migrations`

[2013-04-03 06:45] #352 closed, assigned to nobody

[2013-04-03 13:13] #350 closed, assigned to nobody

[2013-04-03 16:15] nadims opened #353 "Error in oauth code does not permit password or email change."
I get the following when trying to change email or password

ArgumentError in Devise::RegistrationsController#update

wrong number of arguments (1 for 0)

This happens in the latest commit as of today.

[2013-04-03 16:52] nadims commented on #353
The problem code seems to be related to

/oauth2_server/lib/social_stream/oauth2_server/controllers/helpers.rb:8:in `authenticate_user!'

It seems that devise uses that same method name authenticate_user! as in that helper and the the code in the helper is overriding it.

If I comment the offending code out of the helper. It works, but probably breaks something in the oauth server code

[2013-04-03 18:29] #353 closed, assigned to nobody

[2013-04-03 18:32] atd commented on #353
Thank you for the report @nadims

[2013-04-03 18:48] nadims opened #354 "Contact controller shows up a blank page"
When I press the contacts icon (second from top right) it brings up the contacts page and tabs for Users and Groups. Both of them are blank. It is calling the contacts controller.

[2013-04-03 18:52] nadims commented on #354
![Screenshot_2013-04-03_11_51_AM](https://f.cloud.github.com/assets/934123/335517/a73f6238-9c8f-11e2-8d94-835c5528737c.png)

[2013-04-04 08:15] atd commented on #354
I cannot reproduce it. I have added a message when there are no contacts. See 84ff56c507 Maybe is that the reason?

[2013-04-04 09:04] nadims commented on #354
It does have users. This is basically from a new install using db:populate, and adding more users and contacts manually.

[2013-04-04 09:06] nadims commented on #354
![Screenshot_2013-04-04_2_02_AM-6](https://f.cloud.github.com/assets/934123/338228/ff05756c-9d06-11e2-822e-014660c5c16e.png)

[2013-04-04 09:08] nadims commented on #354
I can try to delete the database and start from new, to see if it happens the same.

[2013-04-04 09:09] atd commented on #354
Can you inspect the html elements? It may be related to responsive CSS and contacts are hidden

[2013-04-04 09:09] nadims commented on #354
It is important to note that I am using the Follow model instead of the Custom model

[2013-04-04 09:15] nadims commented on #354
![Screenshot_2013-04-04_2_15_AM](https://f.cloud.github.com/assets/934123/338259/35649862-9d08-11e2-80a5-2592990000d3.png)

Seems to be blank

[2013-04-04 09:18] nadims commented on #354
![Screenshot_2013-04-04_2_17_AM](https://f.cloud.github.com/assets/934123/338264/85ccc770-9d08-11e2-85ab-f0fe6fa9cc68.png)

Yep, blank. The only thing I can think of is the different follow mode.

[2013-04-04 09:30] nadims commented on #354
The follow mode was not the problem. I dropped the database and set the model to custom. Did db:populate again. Created a demo user. Added contacts and groups. As you can see they appear in the toolbar section, but in the main page I still get blank. Any other ideas that could be the problem?

![Screenshot_2013-04-04_2_25_AM](https://f.cloud.github.com/assets/934123/338282/464d8498-9d0a-11e2-8222-

[2013-04-04 09:37] nadims commented on #354
This is the rails log if it helps
![Screenshot_2013-04-04_2_37_AM](https://f.cloud.github.com/assets/934123/338307/4c2ac5b4-9d0b-11e2-9bb3-7b6720ce3c13.png)

[2013-04-04 09:58] atd commented on #354
It might be a problem related to the subject_type query. Please try with commit 2465222ab9

[2013-04-04 10:11] nadims commented on #354
That commit fixed it. Thank you so much @atd

[2013-04-04 10:11] #354 closed, assigned to nobody

[2013-04-04 10:44] atd commented on #354
Thank you for reporting. The log was key to find the problem

[2013-04-04 12:49] #343 closed, assigned to nobody

[2013-04-04 13:11] atd commented on #335
This is fixed in master and will be released with Social Stream 2.0

[2013-04-04 13:11] #335 closed, assigned to nobody

[2013-04-04 13:57] nadims opened #355 "Contacts on the toolbar links to the wrong place"
The Contacts button on the toolbar links to User Profile instead of the Contacts page.

![Screenshot_2013-04-04_6_55_AM-2](https://f.cloud.github.com/assets/934123/339182/959f5574-9d2f-11e2-860f-56bc7ce1a6e4.png)

[2013-04-04 14:01] nadims opened #356 "The responsive design for contacts page is off when the width is over 1200px"
When you grow the Contacts page over 1200px in width the responsive design reverts to what seems to be the view for 980px or less.

[2013-04-04 14:07] atd commented on #355
I think we can remove that link, since there is a full section just below

[2013-04-04 14:09] #355 closed, assigned to nobody

[2013-04-04 14:10] nadims commented on #355
Yep I think having it twice is confusing.

[2013-04-04 14:12] nadims commented on #356
There are many more quirks that are related to the responsive design. Do you you want me to report them all? or is it still begin worked at.

[2013-04-04 14:23] atd commented on #356
We are still working on it. Thank you @nadims We can tell you when we think it is ready

[2013-04-04 14:54] nadims commented on #356
Well please tell me when you have it ready, and I can give you a report on anything I find.

[2013-04-04 18:48] nadims opened #357 "Rake task social_stream:avatars:fix has a small typo"
I think the code to migrate avatars from 1.0 to 2.0 has a small typo

[2013-04-04 18:52] nadims commented on #357
fix attached on 358

[2013-04-04 18:52] #357 closed, assigned to nobody

[2013-04-08 12:53] crispinh2o opened #359 "class contact"
the width does not apply well responsive max-width: 767px.

![Captura de pantalla 2013-04-08 a la s 14 50 54](https://f.cloud.github.com/assets/1405896/351475/0a180e28-a04b-11e2-9a15-013d66a89cc8.png)

[2013-04-08 14:55] nadims opened #360 "First Avatar image change always fails.... second works"
From creating the a new user, first avatar change fails. I get a JSON screen on the page. Second time around it works. It is repeatable, I make another new user and the same thing happens.

This is what I get:

![Screenshot_2013-04-08_7_54_AM](https://f.cloud.github.com/assets/934123/352080/3c5e23b6-a05c-11e2-8ef2-c844a4edcae3.png)

This is the log:

![Screenshot_2013-04-08_7_55_AM](https://f.clou

[2013-04-08 14:59] nadims commented on #360
Second time it works

Log for second time:

![Screenshot_2013-04-08_7_58_AM](https://f.cloud.github.com/assets/934123/352121/d9767482-a05c-11e2-99c2-f769e7b274d8.png)

[2013-04-08 15:01] nadims commented on #360
Hmmmm.... it seems to be processing the image twice in every time.

[2013-04-08 15:15] nadims commented on #360
I see one is for the initial image.... the second is the crop. Still it does not work every time it fails the same way

[2013-04-08 15:36] atd commented on #360
Hi @nadims, I do not understand something. In the first log, if you get the JSON, how can the crop parameters be sent in the next request?

[2013-04-08 15:41] nadims commented on #360
Sorry, I meant I get the Json after the crop image.

[2013-04-08 15:43] nadims commented on #360
So it happens like this. I press change avatar, select an image, get the crop screen, select any crop, then get the json screen. Do it a second time and it works. Get another new users, first time I get json after the crop, second time it works.

[2013-04-08 15:52] atd commented on #360
I see. @nadims may I have the dimensions of the original image, please?

[2013-04-08 15:57] nadims commented on #360
2255 × 1697..... It seems to be related to the bigger size. If I try a small size it seems not to do it at the first try. Not sure if it is because of the dimensions or the kb uploaded.

[2013-04-08 16:02] atd commented on #360
It is probably related to the way the crop is done; the crop error raises when the avatar image has an aspect ratio different than 1. crop_\* parameters are in percentage, so in some cases the aspect ratio of the original image after applying the crop may not be 1. I have to think in another algorithm for this.

[2013-04-08 16:04] nadims commented on #360
Trying it some 15 times more. I has more to do with how the crop is selected than the image input.

[2013-04-08 16:05] nadims commented on #360
That was the same conclusion I came too....

[2013-04-09 09:32] crispinh2o opened #361 "resize logo"
when exploring social-stream without user session, the class .headerFront .logo must have two extra attributes: width and margin-bottom

![Captura de pantalla 2013-04-09 a la s 10 54 30](https://f.cloud.github.com/assets/1405896/355944/cb0d346e-a0f5-11e2-8e91-ff0d238b6b7e.png)

[2013-04-09 14:04] atd commented on #360
The last commit should fix it. Can you try it, please?

El 08/04/13 18:05, Nadim Slim escribió:

[2013-04-09 17:03] nadims commented on #360
This fixed the problem. Thanks @atd

[2013-04-09 18:36] nadims commented on #360
Spoke too soon, I was able to manage a case where it breaks.

[2013-04-09 19:18] nadims commented on #360
The occurrence is now much MUCH less but I was still manage to get some scenarios were breaking. This is the JSON I got in one.

![json](https://f.cloud.github.com/assets/934123/358731/1526a824-a14a-11e2-8fad-a18b40d94792.jpg)

Also something curious the same image that would break in chrome, would not break in firefox or safari.

[2013-04-10 10:02] atd opened #362 "flv icon shows xls instead"
![Captura de pantalla de 2013-04-10 12:02:03](https://f.cloud.github.com/assets/26228/361513/ca5f6d90-a1c5-11e2-8412-ebc1448624c2.png)

[2013-04-10 10:06] atd opened #363 "Toolbar is hidden in repository in 1280"

[2013-04-10 17:47] nadims opened #364 "Sent email contain only the headers with blank body messages"
When testing the mail component of social stream 2.0. I get blank email bodes. For example:

---

Date: Wed, 10 Apr 2013 10:40:25 -0700
From: no-reply@mailboxer.com
To: demo 3 nadim6@test.com
Message-ID: 5165a40944c82_175ef3fcfc1860670710b7@test.local.mail
Subject: Demo User added you as contact.
Mime-Version: 1.0
Content-Type: text/plain;
 charset=UTF-8
Content-Transfer-Encoding: 7bit

---

That

[2013-04-10 17:49] nadims commented on #360
Not sure if we should reopen this issue, since it now happens less.

[2013-04-10 20:30] #361 closed, assigned to crispinh2o

[2013-04-10 21:15] #359 closed, assigned to nobody

[2013-04-10 21:17] crispinh2o commented on #356
Thanks!!

resolved

[2013-04-10 21:17] #356 closed, assigned to nobody

[2013-04-11 09:03] atd commented on #360
Of course, if it still failing we must reopen it.

Is there a way a can reproduce it? Could I have the image that still fails?

[2013-04-11 09:07] nadims commented on #360
Let me find it, since it is a combination of using a particular browser and using a particular image, at a particular crop size. I will get back to you, as soon as I find a repeatable combination.

[2013-04-11 09:13] atd opened #365 "Events in modal"
![image](https://f.cloud.github.com/assets/26228/366536/ff8e5720-a287-11e2-955a-ec4e390cb8c9.png)

[2013-04-11 09:37] #364 closed, assigned to nobody

[2013-04-11 09:54] atd commented on #363
It is still hidden for me:

![image](https://f.cloud.github.com/assets/26228/366682/bd268a6e-a28d-11e2-8619-0c435289068d.png)

[2013-04-11 10:01] nadims commented on #364
This fixed it. Thanks

[2013-04-11 10:03] nadims opened #366 "Comments on a wall post generate an email, Comments on an image do not."
I do not know if this the way you intended it. When I comment on a normal post an email gets generated to the user. When I comment on an image, that email does not get generated.

[2013-04-11 10:39] crispinh2o commented on #363
I dont know.. I can see toolbar visible
![Captura de pantalla 2013-04-11 a la s 12 26 55](https://f.cloud.github.com/assets/1405896/366852/cba340c8-a292-11e2-96c2-8495119d485a.png)

I'll check

[2013-04-11 10:46] atd commented on #363
I can see it now. Maybe it was cached and it needed a refresh

[2013-04-11 10:46] #363 closed, assigned to crispinh2o

[2013-04-11 10:53] atd commented on #366
It should generate it as well. Please check that the owner of the picture is not the same as the actor that makes the comment.

[2013-04-11 12:51] #365 closed, assigned to crispinh2o

[2013-04-11 12:53] crispinh2o commented on #363
Ok, my friend had scared me. : )

[2013-04-11 13:12] atd commented on #363
:grimacing:

[2013-04-11 14:07] crispinh2o commented on #362
Resolved, the file icons.css had flv-1 and flv-2. I changed it to flv and swf.
 Thanks!!

[2013-04-11 18:24] nadims commented on #366
You are right, I was commenting on an image owned by the same user. My mistake.

[2013-04-11 18:24] #366 closed, assigned to nobody

[2013-04-11 19:26] nadims opened #367 "Notifications Sidebar collapses into centre"
On notifications the sidebar containing the calendar and suggestions collapses into the centre.

![Screenshot_2013-04-11_12_26_PM-2](https://f.cloud.github.com/assets/934123/369710/bd677fba-a2dd-11e2-9baa-19d1b3db162c.png)

[2013-04-11 20:07] nadims opened #368 "Link generated in the email when you receive a comment gives an error"
When you comment, and email gets generated and it sends a link to people in the thread to go and read the whole text. something like:

---

Hi Demo User,

Re: dsfsdf -- by Test in your wall

"TESTING"
-->Read the whole text at http://localhost:3003/comments/23?notification_id=502

Take a look at Test's wall: http://localhost:3003/users/test

---

Visit http://localhost:3003/notifications and check

[2013-04-12 07:35] atd commented on #362
Great! But I think they are switched. Current .flv icon seems to be the .swf icon:

![image](https://f.cloud.github.com/assets/26228/371715/7d0d585c-a343-11e2-86c8-70e7470e3785.png)

[2013-04-12 07:37] atd opened #369 "Send message icon appears repeated"
![image](https://f.cloud.github.com/assets/26228/371723/cbf69406-a343-11e2-8425-f74923f3304e.png)

[2013-04-12 07:42] #368 closed, assigned to nobody

[2013-04-12 07:54] atd opened #370 "Week button in calendar is blank"
![image](https://f.cloud.github.com/assets/26228/371786/3791e556-a346-11e2-817d-91826ece00ce.png)

[2013-04-12 07:57] atd opened #371 "Event form is messed up"
![image](https://f.cloud.github.com/assets/26228/371800/ab96be72-a346-11e2-8bbd-bb5f4901f418.png)

[2013-04-12 08:22] crispinh2o commented on #362
you re rights!!

[2013-04-12 08:36] crispinh2o commented on #369
Please.. you can check the html of toolbar/_profile to help me??   I dont know what´s happend..

<i class='icon_navbar-message'> re duplicate

![Captura de pantalla 2013-04-12 a la s 10 33 17](https://f.cloud.github.com/assets/1405896/371936/00a6cc68-a34c-11e2-941c-a2298640f5b6.png)

[2013-04-12 08:47] #369 closed, assigned to crispinh2o

[2013-04-12 08:48] atd commented on #369
There were a couple of issues here:
- The translation was missing
- The `<i>` was not closed

[2013-04-12 08:50] #362 closed, assigned to crispinh2o

[2013-04-12 09:34] atd opened #372 "Privacy tooltip appears rotated!"
![image](https://f.cloud.github.com/assets/26228/372120/2a33821c-a354-11e2-9165-576a54a599ff.png)

[2013-04-12 10:16] #371 closed, assigned to crispinh2o

[2013-04-12 10:36] #372 closed, assigned to crispinh2o

[2013-04-12 11:07] #370 closed, assigned to crispinh2o

[2013-04-12 13:37] #367 closed, assigned to crispinh2o

[2013-04-12 14:14] nadims commented on #368
This fixed it. Thank you @atd

[2013-04-12 14:24] nadims opened #373 "The email generated when you add a contact sends you to an invalid link"
When you add a new contact, an email gets generated that tells you if you want to confirm the user as a contact:

Hi demo 3,

Demo User added you as contact.

Take a look at Demo User's wall: http://localhost:3003/users/demo-user
Confirm Demo User as contact? http://localhost:3003/contacts/346/edit?s=demo-3-1

Because of changes with the contacts controller, the edit method no longer exist so this

[2013-04-12 14:39] nadims commented on #367
Hello @crispinh2o, I tested commit https://github.com/ging/social_stream/commit/b975d7c83448eaf806b22001f19855de113f3230 and I still see this error.

![Screenshot_2013-04-12_7_41_AM](https://f.cloud.github.com/assets/934123/373353/0a910242-a37f-11e2-9ede-f68221b77dd5.png)

Also as a second comment, in the new design, where do you have the link to show and go to review your notifications. I though

[2013-04-12 19:29] crispinh2o commented on #367
Hello Nadims, just to make a few changes, I hope that all will go well. I have attached an image.
regards
![Captura-de-pantalla-2013-04-12-a-la s -21 21 01](https://f.cloud.github.com/assets/1405896/374755/4016e45e-a3a7-11e2-8c95-d7b8d74befc1.png)

[2013-04-12 19:50] crispinh2o opened #374 "notifications read_all link"
When I click on the link.. is duplicated the header
![Captura de pantalla 2013-04-12 a la s 21 32 11](https://f.cloud.github.com/assets/1405896/374820/1d1ebc62-a3aa-11e2-9e84-6b421df0c586.png)

[2013-04-12 19:51] crispinh2o commented on #374
you can see it in sidebar

[2013-04-13 00:43] nadims commented on #367
Hello @crispinh2o, Thank you for includeding  am now in the last committed version and I still get the error. I changed the language to spanish and added more notifications just in case. And I still get the collapsing. I have tried using latest chrome, safari, firefox, both in mac and pc. I still get this:

![Screenshot_2013-04-12_4_51_PM](https://f.cloud.github.com/assets/934123/375723/e67ead08-a

[2013-04-13 00:45] nadims commented on #367
Por cierto, hablo español por si prefieres te comunicarte en ese idioma. Saludos y que tengan un buen fin de semana.

[2013-04-13 00:55] nadims commented on #360
You know what @atd I can't successfully repeat it. So lets close it for now until I have a scenario where I can give you a sample that repeats it. Closing this for now.

[2013-04-13 00:55] #360 closed, assigned to nobody

[2013-04-13 09:31] crispinh2o commented on #367
Hello @nadims, I was checking the error but i can see good. I do not think it is getting the styles of notifications.
Check your SASS routes ---> ../base/app/assets/stylesheets/social_stream/base/social_stream-base.css.sass

I hope that this is why the error, i hope your response, greetings and good weekend.

![Captura de pantalla 2013-04-13 a la s 10 53 58](https://f.cloud.github.com/assets/14058

[2013-04-13 13:48] nadims commented on #367
Thank you @crispinh2o I will try to see if can find the problem in the sass. On the Spanish or English please do not take it the wrong way, I understand your English perfectly. I just happen to notice that you are from Spain, and I am also a native Spanish speaker. That is all.

I really appreciate your help in making Social Stream an excellent social gem.

[2013-04-14 17:50] crispinh2o commented on #367
: )

[2013-04-15 10:03] atd commented on #373
Hi @nadims

On the one hand, I would leave only the first link to Demo's profile.

On the other hand, I am not quite comfortable with two relation models. I would like to mix them into the same one. Most users are only interested in adding contacts but not classifying them. Only the users that are interested in classifying contacts should have the option to do so after defining their roles through

[2013-04-15 10:10] nadims commented on #373
I think it is a good idea. The reason I am using the follow model and not the custom, is that the custom model reminds me to much of Google + system. The main complain I hear about people not using the circles is that is it very complicated, never sure who or whom (which circles) are reading the post, and having to manage people in more than one circle.

I think this is overly complicated for norm

[2013-04-15 12:21] #374 closed, assigned to atd

[2013-04-15 12:24] atd commented on #373
Great. I will just remove the last sentence.

The merge of the two models will have to wait until we release the 2.0, which is our priority now. In the meantime, feel free to report any issues related with the follow model and send pull requests.

[2013-04-15 12:32] #373 closed, assigned to nobody

[2013-04-15 16:06] nadims commented on #367
Finally figured out my problem. I had hardcoded the imports to the sass files. I did this because of an older error that existed with how the style sheets were imported. I removed my hardcoded @imports and now it works. Thanks for helping me debug this.

[2013-04-16 10:41] atd opened #375 "Seek bar in audio player is too small"

[2013-04-16 10:42] atd opened #376 "Tapping on magnifying glass in mobile should display search box"

[2013-04-16 10:43] atd opened #377 "Postprocessed audio in timeline has not a link to "See details""

[2013-04-16 10:44] atd opened #378 "Play over youtube links and videos"

[2013-04-16 10:45] atd opened #379 "Show toolbar in calendar and mobile views"

[2013-04-16 11:32] atd opened #380 "btn/btn_read.png is not found"
It appears at https://github.com/ging/social_stream/blob/master/base/app/views/conversations/_conversation.html.erb#L30

[2013-04-16 13:14] atd opened #381 "Repository grid messed up"
It also happens in `/contacts`

![image](https://f.cloud.github.com/assets/26228/385945/7eb320b8-a697-11e2-94e8-7405bf3d3677.png)

[2013-04-16 20:27] mmealling opened #382 "Can't mass-assign protected attributes: subject_type"
Getting this:
ActiveModel::MassAssignmentSecurity::Error (Can't mass-assign protected attributes: subject_type):

The stack trace says its here:

social_stream/base/lib/social_stream/models/subtype.rb:84:in `respond_to?'

after following the vanilla setup. I'm in the current master branch which I assume is still 2.0.0-beta1 since that dropped earlier today.

-MM

[2013-04-17 08:45] atd commented on #382
Please take a look at #250

[2013-04-17 08:45] #382 closed, assigned to nobody

[2013-04-17 10:07] #380 closed, assigned to crispinh2o

[2013-04-17 10:08] #379 closed, assigned to crispinh2o

[2013-04-17 11:16] crispinh2o opened #383 "icons"
<i class="icon_file_40-audio" --> It is not valid.

It is necessary the format of the audio  -->  <i class="icon_file_40-mp3"

If it is not possible.. You can use icon_file_40-default

I think... that´s happens with video?

![Captura de pantalla 2013-04-17 a la s 13 09 05](https://f.cloud.github.com/assets/1405896/390860/4a980966-a74f-11e2-94cf-236ce1f315a5.png)

[2013-04-17 12:56] atd commented on #376
@crispinh2o I cannot fix this bug, the magnifiying glass is not visible anymore

![image](https://f.cloud.github.com/assets/26228/391226/2898508c-a75e-11e2-9bd0-861e556319ec.png)

[2013-04-17 18:50] #375 closed, assigned to crispinh2o

[2013-04-17 19:20] crispinh2o commented on #377
This render is correct?? I need a link: <a class="jp-details" href=""audio details"">see details..</a>

https://github.com/ging/social_stream/commit/606fe3aea6ac0f9ff063745da232c6253415320d

[2013-04-18 11:16] atd commented on #381
It is still happening to me :grin:

![image](https://f.cloud.github.com/assets/26228/396134/6ae1efe6-a819-11e2-8406-bfc81182e0fb.png)

[2013-04-18 13:28] atd opened #384 "Broken gif icon"
![image](https://f.cloud.github.com/assets/26228/396678/d089f714-a82b-11e2-9e58-a5cb1c16c0c4.png)

[2013-04-18 13:47] 8bithero opened #385 "Bootstrap-sass v2.3.1.0 - incompatible"
There is an incompatibility with the latest version of the gem "bootstrap-sass" (v2.3.1.0).

I suspect this can be solved by simply changing the version in the bootstrap-sass runtime dependency list.

[code]

[2013-04-18 14:56] #385 closed, assigned to nobody

[2013-04-18 14:58] atd commented on #385
@crispinh2o I have not seen anything broken, hence I have upgraded. Please tell me if you see anything wrong

[2013-04-18 16:07] atd commented on #381
You can check it at http://demo-social-stream.dit.upm.es/users/antonio-tapiador/repository

[2013-04-18 16:19] crispinh2o commented on #385
ok, thanks!!

[2013-04-18 16:39] #381 closed, assigned to crispinh2o

[2013-04-18 16:42] crispinh2o commented on #381
Thanks, line-height was affected by the responsive 1200-min

[2013-04-18 16:59] atd opened #386 "Header icons are not tappable in mobile"
In mobile, header icons do not respond. It may be caused by search input

[2013-04-18 17:01] atd opened #387 "Cannot add document from timeline in some mobiles"

[2013-04-18 17:04] atd opened #388 "Modals are not fully accesible in mobile"
Cannot access the bottom part of large modals such as add document or event

[2013-04-18 18:53] #386 closed, assigned to nobody

[2013-04-18 18:57] crispinh2o commented on #386
Thanks,
The problem was in the focus, I've changed by hover

[2013-04-18 19:19] #383 closed, assigned to atd

[2013-04-18 21:37] #384 closed, assigned to crispinh2o

[2013-04-19 03:23] crispinh2o commented on #378
You can create a special class for .thumb img youtube links and videos?

In this image you can see the example
![Captura de pantalla 2013-04-19 a la s 05 17 12](https://f.cloud.github.com/assets/1405896/400373/0a100342-a8a0-11e2-999f-d54cae413647.png)

[2013-04-19 12:20] atd opened #389 "Privacy screen is not responsive"
![image](https://f.cloud.github.com/assets/26228/401834/76a51f06-a8eb-11e2-8e46-42dcbe74280a.png)

[2013-04-21 16:55] #389 closed, assigned to crispinh2o

[2013-04-21 20:03] #378 closed, assigned to crispinh2o

[2013-04-21 21:43] #376 closed, assigned to atd

[2013-04-21 21:50] #377 closed, assigned to crispinh2o

[2013-04-22 15:12] atd opened #391 "Contacts view is messed up"
It happens again :grin:

![image](https://f.cloud.github.com/assets/26228/409831/046a9ecc-ab5f-11e2-873b-69de53ecbffc.png)

[2013-04-23 12:54] atd opened #392 "Group default logo is a person"
https://github.com/ging/social_stream/blob/master/base/app/assets/images/logos/small/group.png

[2013-04-23 15:12] atd opened #393 "Confirm role edit icon is misplaced"
![image](https://f.cloud.github.com/assets/26228/415003/1dbceb36-ac28-11e2-843d-3a40bbe09bc6.png)

[2013-04-23 15:34] #392 closed, assigned to crispinh2o

[2013-04-23 16:04] #393 closed, assigned to crispinh2o

[2013-04-23 16:58] crispinh2o commented on #391
id toolbar margin-left is the clear problem in @media (min-width: 1200px)

[2013-04-23 16:58] #391 closed, assigned to crispinh2o

[2013-04-26 13:19] atd opened #394 "Restore profile to previous behaviour"

[2013-04-26 13:19] atd commented on #387
It is working in some mobiles

[2013-04-26 13:23] #101 closed, assigned to nobody

[2013-04-28 16:03] teddis opened #395 "Crash after adding new activity_object to social_stream.rb"
Hi, I am new to social_stream and actively developing with it. I created a product model that is an activity_object an added to social_stream.rb initializer. When I load home page, it crashes (see log output below). Hope this is something to fix on my end and not a systemic issue with social_stream.

app/model/product.rb:
class Product < ActiveRecord::Base
    include SocialStream::Models::Object

[2013-04-29 09:15] atd commented on #395
Hi @teddis It seems you have the social_stream-events gem installed, but you are removing the event model from the list of objects in the initializer. Is that the case?

[2013-04-29 13:26] teddis commented on #395
Hi @atd thanks so much for your reply. The default social_streams.rb file specifies a commented out list of activity objects:

[code]

When I uncomment this line, the app crashes. Where are all of the hidden activity objects added in the engine to config.objects? I tried adding the other known types (including events) to that line so that I now have:

[code]

And the app still crashes with the log

[2013-04-29 13:36] teddis commented on #395
My apologies. I realized :link was not added to the list. After adding, works w/o error. Still curious as I can't find how they inject themselves into the config.objects list from their gem files. Thanks!

[2013-04-29 13:38] atd commented on #395
You are missing the link object, and picture video, etc should not be there.

It is simpler if you just add your new object:

[code]

[2013-04-29 13:42] atd commented on #395
That is done inside each gem, when the library loads. For example:

https://github.com/ging/social_stream/blob/master/documents/lib/social_stream-documents.rb#L90

[2013-04-29 13:42] #395 closed, assigned to nobody

[2013-05-02 21:50] atd commented on #388
Cannot create a group in samsung galaxy note 10.1

[2013-05-02 21:52] atd opened #396 "User privacy screen show group permissions"

[2013-05-03 00:13] ccfiel opened #397 "Edit tag problem"
When you edit an post like a picture and delete some tag. It will not work. After you save the update still the old tag is there

[2013-05-03 11:32] KrzysiekJ opened #398 "Cropping form for avatar is not displayed"
`initCrop` function from avatars_for_rails tries to put cropping form into `section.avatar .update`, but this selector seems to return an empty array, so no cropping form is rendered, though it is returned from the server.

[2013-05-03 11:59] atd commented on #398
This is related to #394

[2013-05-03 12:26] #397 closed, assigned to nobody

[2013-05-04 23:36] reydelleon opened #399 "Problems showing video"
Hi,
I'm using SS version 1.1.7, and every time I upload a video, it puts a message saying the video is being processed, that I need to wait. The issue is that it never finish the job, I mean, every time it shows the video, in the activity stream, or the video page (/videos/:id) it puts the same message, and never puts the thumbnail, or gives the possibility to play it. Apart from that, the page re

[2013-05-05 09:43] crispinh2o commented on #399
Hi @BlessedBoy, I have this problem also.

A question,
 Do you use an Apple computer?

[2013-05-05 10:37] atd commented on #399
Hi guys, you have to set up Redis. Take a look at https://github.com/ging/social_stream/wiki/How-to-setup-Resque-Redis-for-background-processing

[2013-05-05 10:37] #399 closed, assigned to nobody

[2013-05-05 11:44] ccfiel opened #400 "Facebook Social Share does not work"
I tried to facebook share of a public activity. Sample is http://demo-social-stream.dit.upm.es/pictures/452 . Then I used the http://sapegin.github.io/social-likes/ to test if the link would be shared to facebook but error occured "The website encountered an error while retrieving https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdemo-social-stream.dit.upm.es%2Fpictures%2F452. It may be do

[2013-05-05 22:06] KrzysiekJ commented on #398
Fixed by commit dc347954f3e546d95894ec689f8023ba5e21959d.

[2013-05-05 22:06] #398 closed, assigned to nobody

[2013-05-05 23:00] #394 closed, assigned to crispinh2o

[2013-05-06 02:30] ccfiel commented on #400
I also tried the site using Facebook Dev tool https://developers.facebook.com/tools/debug and put the link http://demo-social-stream.dit.upm.es/pictures/452 and press debug. And the result is "Can't Download: Could not retrieve data from URL.". Any ideas :)

[2013-05-06 15:07] #396 closed, assigned to atd

[2013-05-07 05:06] RamakrishnanK opened #401 "How to Generate View Pages"
We couldn't see the view pages.  so please tell me How to Generate  View Pages

I have this error also

Encoding::InvalidByteSequenceError in Frontpage#index

Showing /home/sysadmin/.rvm/gems/ruby-1.9.3-p385@rails3tutorial2ndEd/gems/social_stream-base-1.1.4/app/views/layouts/frontpage.html.erb where line #10 raised:

[2013-05-07 09:12] atd commented on #401
@RamakrishnanK the issue tracker is not intended for questions. Please read https://github.com/ging/social_stream/blob/master/CONTRIBUTING.md

[2013-05-07 09:12] #401 closed, assigned to nobody

[2013-05-07 09:13] atd commented on #400
Hi @ccfiel thank you for the report. We will fix it with the new version of the web

[2013-05-07 09:44] ccfiel commented on #400
Hello @atd I found the solution. For some reason the facebook crawler is triggering the json response. Socail Stream is using respond_with, need to make sure the respond_to at the top of the controller matches the order we want... In this case,

class ProjectsController < ApplicationController
  respond_to :html
  respond_to :json
  respond_to :js,
  ...
and this isn't

class ProjectsController <

[2013-05-10 08:51] Franklinjagan opened #402 "How to add new attribute field in Model"
How to add new attribute field in Model

I have search but ididn't get the correct details

[2013-05-10 08:54] atd commented on #402
Hi @Franklinjagan please do not post questions to the issue tracker. Post them to the google group or stack overflow. https://github.com/ging/social_stream/blob/master/CONTRIBUTING.md

[2013-05-10 08:54] #402 closed, assigned to nobody

[2013-05-10 09:07] Franklinjagan opened #403 "Attribute Accessible in Model"
How to add Attribute accessible add in model page I have add some more field also how to add Could you please tell

[2013-05-10 09:10] Franklinjagan commented on #396
[code]

[2013-05-10 09:16] atd commented on #403
Dup #402

[2013-05-10 09:16] #403 closed, assigned to nobody

[2013-05-16 10:39] atd commented on #400
Hi @ccfiel thank you for your research and further information. We are deploying now to confirm it is fixed

[2013-05-16 10:58] atd commented on #229
Like activities are not likeable any more

[2013-05-16 10:58] #229 closed, assigned to nobody

[2013-05-16 10:59] atd commented on #221
Not in the roadmap

[2013-05-16 10:59] #221 closed, assigned to nobody

[2013-05-16 11:00] atd commented on #169
This is already supported

[2013-05-16 11:00] #169 closed, assigned to nobody

[2013-05-16 11:01] atd commented on #168
Not in the roadmap. Just send him a private message

[2013-05-16 11:01] #168 closed, assigned to nobody

[2013-05-16 16:09] atd commented on #400
Still not working :rage:

[2013-05-16 16:16] ccfiel commented on #400
Hello @atd . I tried it in the demo its working
I open this site http://developers.facebook.com/tools/debug and put this link
http://demo-social-stream.dit.upm.es/pictures/475 and click debug. Facebook is now responding. What part is not working?

[2013-05-16 16:17] ccfiel commented on #400
@atd and I also tried to share it in my wall its now getting the link. http://demo-social-stream.dit.upm.es/pictures/475

[2013-05-16 16:51] atd commented on #400
Facebook still shows errors for http://demo-social-stream.dit.upm.es/pictures/452

http://developers.facebook.com/tools/debug/og/object?q=http%3A%2F%2Fdemo-social-stream.dit.upm.es%2Fpictures%2F452

:confused:

[2013-05-16 23:25] ccfiel commented on #400
@atd Ok this is weird :( last time a check its working in the demo now its not

[2013-05-17 07:16] atd commented on #400
Ok, working now! It was fixed upstream but I was not deploying the last version to demo

Thank you!

[2013-05-17 07:16] #400 closed, assigned to nobody

[2013-05-17 09:49] RamakrishnanK opened #405 "Heroku not work Switch session not work"
Heroku not work Switch session not work and public folder images

[2013-05-18 04:26] #405 closed, assigned to nobody

[2013-05-19 05:33] tohash opened #407 "Deploying of social_stream-documents Heroku fails."
Unable to deploy social_stream-documents to Heroku: libsndfile dependency of ruby-audio, waveform.

[code]

-----> Installing dependencies using Bundler version 1.3.2
       Running: bundle install --without development:test --path vendor/bundle --binstubs vendor/bundle/bin --deployment
       Fetching gem metadata from https://rubygems.org/........
       Fetching gem metadata from https://rubyge

[2013-05-19 17:47] KrzysiekJ opened #408 "CSS compilation doesn’t work beacause of SASS syntax error"
When trying to access home page, `Sass::SyntaxError` appears with the following description:

[code]

This seems to be introduced in commit bcafa99c4b3b82e060 by @crispinh2o.

[2013-05-19 18:33] crispinh2o commented on #408
Hi @KrzysiekJ

we worked on it.

Sorry for the inconvenience, thanks!!

[2013-05-20 07:47] railsbits opened #409 "NoMethodError (undefined method relations' for nil:NilClass):"
I created a new activity type did exactly what's required and I've activity_object_id and owner_id in my table and included in config/initializers/sociali_stream.rb but I get this err when I try to create a new one
NoMethodError: undefined method relations' for nil:NilClass base/app/models/activity_object.rb:256:inallowed_relations'

[2013-05-20 08:54] atd commented on #409
Hi @railsbits you have to tell Social Stream which will be the owner of your new object

[2013-05-20 09:11] railsbits commented on #409
Thanks got it

[2013-05-20 09:11] #409 closed, assigned to nobody

[2013-05-20 09:26] atd commented on #407
Hi @tohash are you interested in waveform functionality?

[2013-05-20 09:34] #408 closed, assigned to nobody

[2013-05-20 12:27] tohash commented on #407
@atd, I don't need waveform; but getting the other functionality of social_stream-documents would be nice.

[2013-05-20 14:47] atd commented on #407
I still have to talk with @crispinh2o but we'll probably make wave form generation optional and release a new version without the ruby-audio dependency soon

[2013-05-20 14:57] tohash commented on #407
That sounds great. Thank you.

[2013-05-20 15:17] mmealling commented on #407
I did find this earlier: https://github.com/khurramzaman/ruby-audio-heroku

[2013-05-20 15:32] tohash commented on #407
I saw that; but seems to be a wrapper. Won't the dependencies still look for libsndfile?

[2013-05-20 15:42] atd commented on #407
It seems they are packaging the binaries as well, so they won't work in every OS

[2013-05-21 00:39] reydelleon opened #410 "Problems updating to SocialStream 2.0.0"
Hi,
I'm trying to update from Social Stream 1.7 to 2.0 in an app I'm developing. The issue is that when I run <pre>bundle install</pre> it gives the following error:

<pre>
Installing social_stream-base (2.0.0)
Errno::EINVAL: Invalid argument - E:/RubyStack/ruby/lib/ruby/gems/1.9.1/gems/social_stream-base-2.0.0/app/assets/stylesheets/social_stream/fonts/social-stream:fonts:colorfont.css.sass
An er

[2013-05-21 03:46] mmealling commented on #407
I think the best solution is a custom Heroku buildpack with libsndfile built using the Vulcan gem. Here's one way of doing it:

https://bugsplat.info/2012-11-05-introduction-to-heroku-buildpacks.html

Michael Mealling
Co-Founder
Pipefish.com
+1-678-640-6884 @mmealling
Schedule a meeting:  http://meetme.so/michaelmealling

On May 20, 2013, at 11:42 AM, Antonio Tapiador notifications@github.com wrot

[2013-05-21 04:09] tohash commented on #407
@mmealling, thanks for the links. I read about Vulcan and Heroku build packs; but being a non-technical co-founder, it's way over my head. I will stick with social_stream-base to get a MVP out for beta testing and add the other modules at a later time.

@atd, should I close this?

[2013-05-21 08:06] #410 closed, assigned to nobody

[2013-05-21 09:18] #407 closed, assigned to nobody

[2013-05-21 13:25] atd opened #411 "New group modal is messed up"
![image](https://f.cloud.github.com/assets/26228/541953/f10aa936-c219-11e2-8664-d53e10d91ac9.png)

[2013-05-21 13:29] atd opened #412 "btn/delete.png is missing"
1. Change session to a group
2. Go to "Settings"
3. Create new room
4. Missing button appears:

![image](https://f.cloud.github.com/assets/26228/541977/7eb08e36-c21a-11e2-8ceb-88d4cf6860cc.png)

[2013-05-23 17:51] srtech opened #413 "Cannot delete messages in trash"

[2013-05-24 01:51] reydelleon opened #415 "Problems with hovering links in the wall"
When I move my mouse over the links in the Wall, the link background becomes black

[2013-05-24 19:54] ericrav opened #417 "documents/new style is missing"
When you open up the modal to add a file to the repository, but submit the form without selecting a file or entering a title, the pages comes back without the modal and scattered on the page.

[2013-05-24 19:55] reydelleon opened #418 "Uninitialized constant SocialStream::Views::Toolbar (NameError)"
I have customized the toolbar to add som features to it according to my needs. In the previous version(1.7.7) it worked perfectly. Now I have installed v 2.0.1 and I'm getting the error in the title. The relevant code is this:

<pre>
SocialStream::Views::Toolbar.module_eval do # the problem is here!
    # The customized code goes here
end
</pre>

There is a new way to do this now? As I said before

[2013-05-25 20:39] reydelleon opened #419 "Silently fails deleting image if not present"
As I installed 2.0 version, images uploaded in the previous are not available. That's not a problem for me. The issue is that if I want to delete the images from the wall using the X button next to the activity in the wall, it silently fails. Of course, the image is not present, but it should inform the user of this problem and offer the opportunity to delete the record anyway.
I'm not very experi

[2013-05-25 23:10] ericrav opened #420 "Canceling attachment post in Activities"
If you click the paperclip to attach a file and then click cancel, you can't a post regular post without refreshing.

[2013-05-26 02:31] railsbits opened #422 "permissions"
I've created a new activity and I understand that the users are actors and there are ties between them and stuff I know also that there is activity_object_audience and I needed to know is there something automatically fired from social stream to set the audience?  because I can't see that happen automatically should I set that myself and if so is there a helper methods for that?

[2013-05-26 08:00] railsbits commented on #422
found it thanks

[2013-05-26 08:00] #422 closed, assigned to nobody

[2013-05-27 08:04] atd commented on #413
This depends on a Mailboxer issue: https://github.com/ging/mailboxer/issues/129

[2013-05-27 08:07] atd commented on #415
Hi @BlessedBoy can you please attach an screenshot?

[2013-05-27 08:28] atd commented on #418
We are using https://github.com/spree/deface now. Please take a look at:

https://github.com/ging/social_stream/wiki/Upgrading-to-social-stream-2.0

[2013-05-27 08:28] #418 closed, assigned to nobody

[2013-05-27 13:04] spheregenomics opened #423 "Cannot see errors for allowed_params / ActiveModel::ForbiddenAttributes"
Not sure if this issue should be raised here or in google groups.
I am getting a ActiveModel::ForbiddenAttributes error, but cannot identify where the error is.

I am using a modal ajax form on an update action, with update_attributes. I have added the attributes being updated to a private allowed_params method, but am getting a
ActiveModel::ForbiddenAttributes (ActiveModel::ForbiddenAttributes):

[2013-05-27 13:44] spheregenomics commented on #423
The update seems to work when I use:
update!
instead of
@sentence.update_attributes params[:sentence]

But the original issue of not being able to see the error message from strong_parameters still stands. Is this because it is wrapped in the base/lib/social_stream/controllers/objects.rb ?

[2013-05-27 13:51] atd commented on #419
@BlessedBoy you need to migrate the images also. Please take a look at https://github.com/ging/social_stream/wiki/Upgrading-to-social-stream-2.0

I cannot reproduce the picture deletion problem. Could you attach more information, such as sever logs?

[2013-05-27 14:03] atd commented on #417
documents/new style is missing

cc @crispinh2o

[2013-05-27 14:07] atd commented on #423
The right place to discuss this is social stream's google group, because it is an usage question.

Please, take a look at the example at https://github.com/ging/social_stream/blob/master/documents/app/controllers/documents_controller.rb#L79

[2013-05-27 14:08] reydelleon commented on #415
Sorry, my mistake. Now I have customized the view and the problem is
not showing. I have taken my own styles off to check again, and
nothing, the view is rendering correctly. Maybe I had a problem with
my browser.
Thanks anyway.

On 5/27/13, Antonio Tapiador notifications@github.com wrote:

##

Ing. Informático Reydel León Machado

[2013-05-27 14:15] atd commented on #415
Great! Please, close the issue.

El 27/05/13 16:08, Reydel Leon escribió:

[2013-05-27 14:19] spheregenomics commented on #423
Thanks Antonio. I did manage to get it solved using the code below. What I could nto understand is how to access the full functionality of the strong_parameters gem.

Happy to close the ticket.

def update
   update! do |success, failure|
     failure.html { render 'edit_modal', layout: false }
     success.html {
        load_sentences
        render partial: 'table', locals: { sentences: @senten

[2013-05-27 14:19] #423 closed, assigned to nobody

[2013-05-27 14:56] #415 closed, assigned to nobody

[2013-05-27 15:20] reydelleon commented on #419
This is the server log. I didn't put all the queries, 'cause there is a huge amount of them :

<pre>
SQL (0.0ms)  DELETE FROM `comments` WHERE `comments`.`id` = 1
  ActsAsTaggableOn::Tagging Load (0.0ms)  SELECT `taggings`.* FROM `taggings` WHERE `taggings`.`taggable_id` = 4 AND `taggings`.`taggable_type` = 'ActivityObject'
  ActsAsTaggableOn::Tagging Load (0.0ms)  SELECT `taggings`.* FROM `taggin

[2013-05-27 18:30] #417 closed, assigned to crispinh2o

[2013-05-27 20:59] crispinh2o commented on #412
please check the link in about issue#412 --> https://github.com/ging/social_stream/blob/bbe9b59e72509ca90e0586723015c3fb1b9c51df/events/app/views/rooms/_index.html.erb

[2013-05-28 06:44] atd opened #424 "/assets/social_stream/fonts/josefinslab/JosefinSlabRegular.ttf not found"

[2013-05-28 06:53] #412 closed, assigned to crispinh2o

[2013-05-28 09:18] atd commented on #388
Related thread: https://github.com/twitter/bootstrap/issues/407

[2013-05-28 19:47] mmealling opened #426 "Avatar images not displaying on Heroku (RoutingError (no route matches))"
With libsndfile not required in 2.0.1 we've been able to deploy to Heroku. One of the problems we've seen is that Avatar images aren't displaying. If you update it they begin to work for that user. The error and stack trace suggest that something dealing with images and assets isn't happening as expected. Has anyone else seen this behavior on Heroku?

2013-05-28T19:19:11.163558+00:00 app[web.1]: S

[2013-05-28 21:11] srtech opened #427 "Mouse pointer "parallax" bug in calendar"
After around the first half dozen rows of the calendar (around 7 am), the slot after the one clicked by the mouse pointer is selected

For instance (see image below), I clicked on the 11:00 to 11:30 slot using the mouse pointer but the 11:30 to 12:00 time slot was selected.

![screen shot 2013-05-28 at 5 09 19 pm](https://f.cloud.github.com/assets/3587125/575330/eaf885d8-c7da-11e2-90ee-74f164a7332

[2013-05-29 08:58] crispinh2o commented on #424
I dont know... I can see good

This is the screenshot of developer tools
![captura de pantalla 2013-05-29 a la s 10 56 10](https://f.cloud.github.com/assets/1405896/577733/c69f2616-c83d-11e2-9211-83a9969f3b2c.png)

[2013-05-29 09:09] crispinh2o commented on #424
please check it,
it´s not found still?

[2013-05-30 13:06] atd commented on #426
Hi @mmealling I am afraid Heroku does not provide storage support. You need to configure paperclip with Amazon S3 for example, see https://devcenter.heroku.com/articles/paperclip-s3

[2013-05-30 13:31] mmealling commented on #426
That was my final conclusion yesterday. They 'work' for a while because its coming from cache. Can we think of anything that paperclip on S3 won't cover?

-MM

Michael Mealling
Co-Founder
Pipefish.com
+1-678-640-6884 @mmealling
Schedule a meeting:  http://meetme.so/michaelmealling

On May 30, 2013, at 9:06 AM, Antonio Tapiador notifications@github.com wrote:

[2013-05-30 17:20] srtech opened #430 ""Add new site" page is messed up"
Add new site page (under the applications menu) is messed up

![new client site](https://f.cloud.github.com/assets/3587125/586401/33bc2c8e-c94d-11e2-8b15-0cba9e468c45.png)

[2013-05-31 08:42] atd commented on #426
Sorry @mmealling but I couldn't understand your question

[2013-05-31 10:34] #430 closed, assigned to crispinh2o

[2013-05-31 10:37] crispinh2o commented on #430
@srtech I hope that the change is to your liking.
Thanks

[2013-05-31 10:53] #420 closed, assigned to atd

[2013-05-31 10:58] #424 closed, assigned to crispinh2o

[2013-05-31 11:02] #411 closed, assigned to crispinh2o

[2013-06-02 16:43] mmealling commented on #426
atd,
  I'm curious about the level of effort involved with fixing the paperclip problem only to run into other issues with writing to the local filesystem on Heroku. Given paperclip's requirements I'd suggest removing the "how to install on Heroku" document since its currently not possible without significant effot.
  I forked social stream and updated the gemspec to allow for the current papercli

[2013-06-03 13:23] atd commented on #426
The ideal is that the document on how to install on Heroku is improved. I think deploying to Heroku is a common solution, so I'd like to put things easy.

What is the problem with avatars_for_rails? There should be possible to configure paperclip to work with Amazon S3

[2013-06-03 15:11] crispinh2o opened #432 "ellipsis width"
![captura de pantalla 2013-06-03 a la s 17 10 18](https://f.cloud.github.com/assets/1405896/600115/c9d69708-cc5f-11e2-9113-3544bcae875c.png)

[2013-06-05 12:31] atd commented on #427
I have been looking closer at this. It gets worse at the rows at the bottom of the calendar. It seems the fullcalendar plugins expects the rows to be one pixel higher at least. So they turn de-synchronized

/cc @crispinh2o

[2013-06-06 08:59] #432 closed, assigned to crispinh2o

[2013-06-06 09:44] atd opened #433 "Avatar cropping square is gray"
Original jcrop plugin makes the selected square lighter:

![image](https://f.cloud.github.com/assets/26228/617266/71c0c37e-ce8d-11e2-862a-c24daa839d9e.png)

However, that effect is lost in social stream:

![image](https://f.cloud.github.com/assets/26228/617262/43857388-ce8d-11e2-93d9-15bb431f6719.png)

[2013-06-06 12:28] crispinh2o commented on #433
When the Jcrop was part of social-stream this was the result https://github.com/ging/social_stream/commit/c4e566d5adb3b5e275cf866837c27cf900e68f3b  was never to be seen as in the example of Jcrop.
I am still watching, thanks

[2013-06-06 15:03] #433 closed, assigned to crispinh2o

[2013-06-12 21:58] reydelleon opened #434 "Uninitialized constant SocialStream::Base::Relation::Public"
I have upgraded to v2.0.3, and now, when I try to any group page or any custom actor page, I get the error in title. The actors where created before upgrading.
Here is the stacktrace:

<pre>
NameError - uninitialized constant SocialStream::Base::Relation::Public:
  (gem) activesupport-3.2.11/lib/active_support/dependencies.rb:520:in `load_missing_constant'
  (gem) activesupport-3.2.11/lib/active_s

[2013-06-17 10:09] atd commented on #434
Addressed in 2f236f7a2e42a27e6ff60e7f04431b38a7ced867

Will release soon

[2013-06-17 10:09] #434 closed, assigned to nobody

[2013-06-17 13:45] atd commented on #426
I just updated the wiki page with the information on show to configure Amazon S3

https://github.com/ging/social_stream/wiki/How-to-deploy-social-stream-to-heroku

Please reopen if you find further problems

[2013-06-17 13:45] #426 closed, assigned to nobody

[2013-06-17 13:47] atd commented on #388
This should be fixed with bootstrap-scroll-modal

[2013-06-17 13:47] #388 closed, assigned to crispinh2o

[2013-06-17 13:49] atd opened #435 "Repository is messed up"
![image](https://f.cloud.github.com/assets/26228/662413/aa30e868-d754-11e2-9b02-4b2844aaa219.png)

[2013-06-17 13:52] atd commented on #435
Also failing at http://demo-social-stream.dit.upm.es/repository

[2013-06-21 08:06] baseliners opened #436 "Login field should not be case sensitive"
It appears that the login field (email address) is case sensitive. This should really be case insensitive. Thanks!

[2013-06-21 08:26] atd commented on #436
Hi @baseliners this is a Devise issue. Please take a look to https://github.com/plataformatec/devise/wiki/How-To:-Use-case-insensitive-emails on how to configure this in your application

[2013-06-21 09:28] #435 closed, assigned to crispinh2o

[2013-06-22 00:46] baseliners commented on #436
It appears that Devise does have the correct behavior but SocialStream is overriding it - user.rb has some functions which seem to imply this. Also, the email address is downcased in the DB, just that SS's changes result in the user-entered email not being downcased before comparison with what's in the DB. So, in summary, this issue still appears to be within SS code. Think we have a fix for it, w

[2013-06-26 08:33] daser opened #438 "gem install problem"
each time i run bundle i am always raised with this error message:
Gem::InstallError: paperclip requires Ruby version >= 1.9.2.
An error occurred while installing paperclip (3.3.1), and Bundler cannot
continue.
Make sure that `gem install paperclip -v '3.3.1'` succeeds before bundling.

How can i rectify this problem

[2013-06-26 10:10] atd commented on #438
Hi @daser look at the message

`paperclip requires Ruby version >= 1.9.2.`

You have to upgrade Ruby to 1.9.3 or 2.0.0

[2013-06-26 10:10] #438 closed, assigned to nobody

[2013-06-26 10:21] daser commented on #438
$ ruby -v
ruby 1.9.3p194 (2012-04-20 revision 35410) [i686-linux]

so it means i am running ruby version 1.9.3

[2013-06-26 10:24] atd commented on #438
What about `gem install paperclip -v '3.3.1'`?

In any case, it looks more like a paperclip issue that social_stream's

[2013-06-26 10:28] daser commented on #438
Actually not running social_stream as a gem but as a clone from github. It complains lots about that

[2013-06-26 13:59] frgooall opened #439 "Rails 4 Support"
Is social stream compatible with Rails 4? I tried to use social stream gem's (base, event, documents) but when I bundled I got dependency errors..see attached

![screen shot 2013-06-26 at 9 57 36 am](https://f.cloud.github.com/assets/329702/709426/7440af2a-de68-11e2-94c8-8fc561e52861.png)

Thank you!

[2013-06-26 14:09] atd commented on #439
Hi @frgooall What version of Social Stream are you using? Social Stream currently depends on rails >= 3.1.0

[2013-06-26 14:12] frgooall commented on #439
Thanks for the quick reply... see below...don't think I specified a version
<code>
gem 'social_stream-base'
gem 'social_stream-documents'
gem 'social_stream-events'
</code>

[2013-06-26 14:23] frgooall commented on #439
Hey @atd!

So I used <code>gem 'social_stream', :git => 'git@github.com:ging/social_stream.git', :branch => 'master'</code> and now they only error I get is with twitter bootstrap sass....

![screen shot 2013-06-26 at 10 23 09 am](https://f.cloud.github.com/assets/329702/709632/f258002c-de6b-11e2-96e6-978af2ad66a7.png)

Thanks for your help!

[2013-06-30 22:13] baseliners commented on #436
To close the loop on this, we ended up extending the authentication controller and downcasing the login before doing the comparison. But this should be fixed in SS, IMHO.

[2013-07-01 13:26] atd commented on #439
This last commit should make it compatible. I am closing this. Please reopen if you find more issues

[2013-07-01 13:26] #439 closed, assigned to nobody

[2013-07-01 13:27] atd commented on #436
Please, send us a pull request. We will be happy to merge it. Thank you!

[2013-07-11 10:33] atd commented on #325
The right order would be calling `super` in the first place, and then overwriting the action with your behaviour

https://github.com/ryanb/cancan/wiki/Ability-Precedence

Please reopen if you have more specific questions, or upload a sample application for debugging

[2013-07-11 10:33] #325 closed, assigned to nobody

[2013-07-11 10:36] atd commented on #303
Please, reopen if you find defects on social stream related to this issue, or send a message to the google group if you have questions.

[2013-07-11 10:36] #303 closed, assigned to nobody

[2013-07-13 15:09] Dragsbaek opened #440 "Rooms are not deleted when deleting an actor"

[2013-07-15 15:26] dirkk0 opened #441 "Installation issue: undefined method `ref' for ActiveSupport::Dependencies:Module"
Hi,

I tried to install social_stream with many variants of Ruby and Rails versions, but I keep running into version problems. What are the recommend versions?

On ruby 1.9.3 and Rails 4 the rails generate social_stream:install command fails with

   /home/ubuntu/.rvm/gems/ruby-1.9.3-p448/gems/devise-1.1.9/lib/devise.rb:193:in
    `mailer=': undefined method`ref' for ActiveSupport::Dependencies:Mo

[2013-07-19 01:03] jonathanhudak commented on #441
I'm receiving the same error:

.../gems/ruby-1.9.3-p429/gems/devise-1.1.9/lib/devise.rb:193:in `mailer=': undefined method`ref' for ActiveSupport::Dependencies:Module (NoMethodError)

Would love to try this out, looks awesome.

Thanks so much!

Jonathan

[2013-07-19 16:25] angularwitrubyonrails opened #442 "Sphinx cannot be found on your system. You may need to configure"
hello everyone....................

i am using
OS- Windows 8
Ruby- 192
Rails- 3
Installing Sphinx- C:\Sphinx

config/sphinx.yml
development:
  bin_path: "C:/Sphinx/bin"
  searchd_binary_name: searchd
  indexer_binary_name: sphinx-indexer

  enable_star: 1
  min_infix_len: 1
test:
  enable_star: 1
  min_infix_len: 1
production:
  enable_star: 1
  min_infix_len: 1

run       rake ts:index

please he

[2013-07-22 12:58] bf4 opened #443 "License missing from gemspec"
Some companies will only use gems with a certain license.
The canonical and easy way to check is [via the gemspec](http://docs.rubygems.org/read/chapter/20#license),

via e.g.

[code]

Even for projects that already specify a license, including a license in your gemspec is a good practice, since it is easily
discoverable there without having to check the readme or for a license file.

For example,

[2013-07-22 13:36] atd commented on #441
This is probably a Rails 4 related issue. Please try with Rails 3.2.13

[2013-07-22 13:43] atd commented on #442
Hi @angularwitrubyonrails you should solve the sphinx installation issue asking in the sphinx mailing lists or other kind of forum.

There is an additional error related to mass assignation of attributes, please check social stream's installation instructions: http://social-stream.dit.upm.es/started/#whitelist_attributes

[2013-07-22 13:43] #442 closed, assigned to nobody

[2013-07-22 13:45] atd commented on #443
Hi @bf4 we will be happy to merge a pull request solving this issue

[2013-07-22 13:47] atd commented on #441
Besides, we will be delighted to accept pull requests that makes Social Stream compatible with Rails 4

[2013-07-22 13:48] #440 closed, assigned to nobody

[2013-07-22 14:06] bf4 commented on #443
PR sent

[2013-07-22 14:13] atd commented on #443
Thank you @bf4, merged!

Please, be aware that there are 8 more gems in our code, so you might want to fix them as well.

[2013-07-22 14:15] bf4 commented on #443
So, those might need to sit a bit.  That's a little much for me right now.

[2013-07-23 10:16] #266 closed, assigned to nobody

[2013-07-31 08:55] atd opened #446 "Check profile translation"
Referenced in 65326b918a67e68045c76ce6b036369d8b126187

[2013-07-31 11:03] hosamaly opened #447 "oauth2_tokens migration is not included in social_stream:install"
With the `social_stream` gem in the Gemfile, using `rails g social_stream:install` misses the migration for `oauth2_tokens`, even though the gem depends on it. This results in an error that is manifested when trying to destroy a user instance.

[code]

[2013-07-31 12:01] simonbreak opened #448 "Update Paperclip version in social_stream-documents"
There is a bug with S3 in paperclip v3.3.x which was fixed in v3.4.2, described here:
https://forums.aws.amazon.com/thread.jspa?threadID=124605

Currently social_stream-documents is set to use paperclip ~> 3.3.0. Would it be possible to change this to ~> 3.4.2?

Even better would be changing it to ~> 3.4 as I don't really see what's gained by locking the minor version and removing the lock gives d

[2013-07-31 12:44] #447 closed, assigned to nobody

[2013-07-31 12:46] atd commented on #447
Thank you for reporting @hosamaly

You can fix it running `rails g social_stream:oauth2_server:install`

[2013-07-31 12:58] atd commented on #448
In general, we expect the gems follow http://semver.org/ which says it is save to upgrade patch versions.

I tried with ~> 3.4, but I ran into this bug https://github.com/jrgifford/delayed_paperclip/issues/45

[2013-07-31 13:14] hosamaly commented on #447
Thanks @atd for responding so quickly. :)

[2013-07-31 13:21] #446 closed, assigned to atd

[2013-07-31 13:32] simonbreak commented on #448
OK I can see why you want to lock the minor version. But that bug is in 3.5, so can you still upgrade to ~> 3.4.2?

[2013-07-31 14:17] atd commented on #448
Specs are not working with that version. It is quite strange, because everything seems to go fine in development mode

https://travis-ci.org/ging/social_stream/builds/9694489

[2013-07-31 14:46] simonbreak commented on #448
Oh man! OK, thanks for trying. Guess I will just have to fork SS and change the version myself for now.

[2013-07-31 18:32] simonbreak commented on #448
Just to let you know, I forked SS and upgraded paperclip to = 3.4.2 and that did fix the S3 bug. So paperclip 3.3 is definitely the problem.

[2013-08-01 08:17] #448 closed, assigned to nobody

[2013-08-01 08:19] atd commented on #448
Paperclip 3.5.1 seems to work fine

[2013-08-01 08:53] simonbreak commented on #448
That's working for me too. Thanks Antonio!

[2013-08-05 10:22] atd commented on #242
SocialStream.relation_model is not used any more. Custom relations can now be prevented from being created by configuration

See http://social-stream.dit.upm.es/2013/08/social-stream-2-2-the-relation-model-driven-further/

[2013-08-05 10:22] #242 closed, assigned to nobody

[2013-08-05 10:25] #275 closed, assigned to nobody

[2013-08-06 08:51] shaileshkalamkar commented on #441
@atd I also faced the same issue when I used Rails 3.2.13. I think this issue is related to 'Devise'. The version used in the gem may have this issue.

Check this discussion http://stackoverflow.com/questions/16414337/error-when-trying-to-generate-deviseinstall-in-ruby-on-rails

[2013-08-07 16:26] Dragsbaek opened #449 "Delete an event"
There is no way to completely delete an event

[2013-08-12 12:07] ebarra opened #450 "ThinkingSphinx returning only 20 results"
base/lib/social_stream/search.rb line 48:
ThinkingSphinx.search *args_for_search(query, subject, options)

That returns only 20 results as it does not have in the options the :per_page param. And then Kaminari paginates it (in the search_controller.rb) with 16 items per page so returning 2 pages, the first one with 16 and the second one with 4.

First approach would be to ask for more results (for

[2013-08-12 15:52] #450 closed, assigned to nobody

[2013-08-13 15:28] hadhwaryu commented on #346
I am not able to apply that

[2013-09-03 10:10] saravananNV commented on #442
while following the steps on the website http://social-stream.dit.upm.es/started/#whitelist_attributes ...after running this command
rails generate social_stream:install.
i got the following error

Sphinx cannot be found on your system.

how to solve this

[2013-09-03 14:10] atd commented on #442
Hi @saravananNV you should solve the sphinx installation issue asking in the sphinx mailing lists or other kind of forum such as StackOverflow

[2013-09-09 07:03] barankhan opened #451 "New to Rails and Socail Stream"
Hi,

I am trying to install the social stream. I got it installed form the Dummies Page in the wiki. But when i try to run the server from rails s. there is no CSS and JS included.  Might be there is issue with sprockets. Please advice or give me tutorial where i can get it up and running 100% as it is in the demo application.

Waiting for your kind response anxiously.

I will be really thankful t

[2013-09-09 09:12] taro-k opened #452 "Security conscious email notification"
Hi, I want a function to switch contents of notification email to without privacy content because email itself is not well secured. It will be like:

You got an update.
Take a look in detail at Social Stream:
http://localhost:3000/conversations/7

Isn't it that it won't be welcomed? Best.

[2013-09-16 09:40] educagea opened #453 "Comment clean after submit"
When you submit a comment it is done by ajax and it appears below. But the text that the user wrote is still in the textarea.

[2013-09-16 09:42] educagea opened #454 "Quick search remains open forever"
When the user writes something in the search field the quick search dropdown appears. but when the user clicks outside it does not dissapear. Should it do that?

[2013-09-16 09:44] educagea opened #455 "Get the translations missing"
A script to get the translations that are missing in the different languages would be very useful.

[2013-09-16 09:46] #453 closed, assigned to nobody

[2013-09-16 09:46] ebarra opened #456 "Comment clean after submit"
When you submit a comment it is done by ajax and it appears below. But the text that the user wrote is still in the textarea.

[2013-09-16 09:47] ebarra opened #457 "Get the translations missing"
A script to get the translations that are missing in the different languages would be very useful.

[2013-09-16 09:47] #455 closed, assigned to nobody

[2013-09-16 09:47] #454 closed, assigned to nobody

[2013-09-16 09:47] ebarra opened #458 "Quick search remains open forever"
When the user writes something in the search field the quick search dropdown appears. but when the user clicks outside it does not dissapear. Should it do that?

[2013-09-16 10:38] atd commented on #451
Sorry, this should be posted to the google group and/or stackoverflow

[2013-09-16 10:38] #451 closed, assigned to nobody

[2013-09-16 10:40] atd commented on #452
Just overwrite the view of the notification.

If you have further questions, please post them to the google group or stackoverflow.

[2013-09-16 10:40] #452 closed, assigned to nobody

[2013-09-16 11:09] #443 closed, assigned to nobody

[2013-09-16 11:09] #456 closed, assigned to nobody

[2013-09-16 14:11] ebarra opened #459 "redirect to home after delete"
After deleting a picture or embed or any other kind of resource social_stream redirects to /pictures or /embeds for example. It should redirect to /home

[2013-09-16 14:35] #458 closed, assigned to nobody

[2013-09-17 08:23] agordillo opened #460 "Return absolute paths when searching or uploading resources"
It would be great if Social Strem could returns the absolute path in the JSON response when searching resources (adding Site.current.config[:documents_hostname] as a prefix of the relative path).
Also, it would be great to do the same when a new resource is uploaded.

[2013-09-17 11:53] #460 closed, assigned to atd

[2013-09-17 15:04] #459 closed, assigned to nobody

[2013-09-19 16:32] #457 closed, assigned to nobody

[2013-09-20 12:39] ebarra opened #461 "Get /home.json from ViSH"
It is in home_controller.rb

[2013-09-20 18:10] bf4 commented on #443
Awesome! Thanks so much! :rainbow:

[2013-09-21 07:41] ghost commented on #439
Got the following error while trying to install social_stream on rails 4 and ruby 2

gem 'socialstream'

apart from me using less-rails-bootstrap don't see any gem affecting it though

/usr/local/rvm/gems/ruby-2.0.0-rc2@gemset/gems/devise-1.1.9/lib/devise.rb:193:in `mailer=': undefined method`ref' for ActiveSupport::Dependencies:Module (NoMethodError)
    from /usr/local/rvm/gems/ruby-2.0.0-rc2@ge

[2013-09-24 15:18] #461 closed, assigned to nobody

[2013-10-07 13:54] ebarra opened #462 "Documents path broken"
When asking for a .pdf the show method return not found.
The resource.file.path is not correct.

[2013-10-09 09:43] #462 closed, assigned to nobody

[2013-10-09 09:45] atd commented on #462
@ebarra that url is fixed now. However, note that that url is not the "official one" supported in the API:

https://github.com/ging/social_stream/wiki/Documents%27-paths

[2013-10-15 11:08] ebarra opened #463 "Add repository paginator and order by more recent first"
(Edited by @atd)

In demo-social-stream add file functionality in the repository does not work.
I am trying with an image jpeg

[2013-10-15 11:10] ebarra opened #464 "bmp images get a bad file extension"
When I upload a bmp image the file is well uploaded (in ViSH) but the resulting URL when showing the picture is http://localhost:3000/pictures/36.x-ms-bmp that does not work. The one that works is http://localhost:3000/pictures/36.bmp

[2013-10-15 12:11] atd commented on #464
@ebarra can you please provide me with the content type?

[code]

[2013-10-16 07:51] atd commented on #464
Could you send me the image?

[2013-10-16 07:52] atd commented on #463
The image is uploaded but it is not properly displayed in the repository

[2013-10-16 07:59] ebarra commented on #464
Github does not support uploading bmp. It tells me "Unfortunately we don't support that file type yet. Please use PNG, GIF, or JPG.". I send it to you by email

[2013-10-29 15:02] sebastianwoinar opened #465 "Using Social Stream(base) with Rails 4"
I'm trying to install social stream - in particular social_stream-base in my rails 4 environment.

Contrary to the statement, that it should be compatible with "rails >= 3.1.0" upon "bundle update" I get

[code]

Besides that I tried once to install all components as well, but that leads to another dependency-conflict:

[code]

[2013-10-30 08:08] atd commented on #465
Hi Sebastian,

Unfortunatelly, Social Stream is not compatible with Rails 4 yet. I will change the gemspec to reflect this issue.

Any contribution to make Social Stream compatible with Rails 4 is very welcomed

[2013-10-31 10:59] holacarol opened #466 "Bug when editing event poster"
When you want to edit the poster of an event, poster form changes from editing a Document to editing a Picture and add_holder_event_id is not correctly filled. So when commiting, this launches and error and the new picture is not updated.

[2013-11-04 11:00] #466 closed, assigned to nobody

[2013-11-21 16:16] rahuldracula commented on #441
I am still facing this same error. I have tried both rails 4 as well as rails 3.2.5. Ruby version 1.9.3.

[2013-11-26 11:29] erbenizer opened #467 "ActiveModel::MassAssignmentSecurity::Error in Devise::SessionsController#new"
Hey after installing social stream I get this error when I am going to sign up a new user or something.

thanks,
Sachira.

[2013-11-26 18:34] atd commented on #467
Hi @erbenizer, Social Stream is not compatible with default mass attributes protection shipped with Rails 3.2.3, but uses the strong_parameters gem that is the default in Rails 4.

Please take a look at the installation guide:

http://social-stream.dit.upm.es/started/#whitelist_attributes

[2013-11-26 18:34] #467 closed, assigned to nobody

[2013-11-26 18:43] atd commented on #441
Thank you @shaileshparamisoft !

What version of Social Stream are you using guys? Current Social Stream version requires devise ~> 2.2.3, but you are running devise 1.1.9

[2013-11-27 06:23] erbenizer commented on #467
Well, what am I supposed to do then? Please can you give me step by step instructions?

[2013-11-27 06:26] erbenizer opened #468 "ActiveModel::MassAssignmentSecurity::Error in Devise::RegistrationsController#new"
Hey I am getting this error now, can someone please give me step by step instructions in order to get this up and running thanks.

Sachira.

[2013-11-27 11:11] erbenizer opened #469 "http://social-stream.dit.upm.es is DOWN?"
Hey the demo website is down?

[2013-11-27 13:58] dorthwein commented on #469
Down on my end as well!!

[2013-11-29 11:04] atd commented on #468
@erbenizer did you try with the link at https://github.com/ging/social_stream/issues/467#issuecomment-29318591 ?

There are step by step instructions there

[2013-11-29 11:28] atd commented on #469
Hi guys, thank you for the heads up

We are experiencing problems with the virtual machine infrastructure and things run really sloooow :worried:

[2013-12-01 23:57] dorthwein commented on #469
seems that y'all are still having issues - maybe switch to heroku? ;)

[2013-12-02 00:11] crispinh2o commented on #469
Date: Sun, 1 Dec 2013 15:57:35 -0800
From: notifications@github.com
To: social_stream@noreply.github.com
Subject: Re: [social_stream] http://social-stream.dit.upm.es is DOWN? (#469)

seems that y'all are still having issues - maybe switch to heroku? ;)

—
Reply to this email directly or view it on GitHub.

[2013-12-04 09:30] erbenizer opened #470 "Deployed Social Stream on Heroku, Users cant register. ERROR COMES"
I get an error when I try to SIGNUP after deploying it on HEROKU.

http://whispering-basin-7616.herokuapp.com/users

Check.

thanks,
Sachira.

[2013-12-04 12:17] erbenizer opened #471 "Cant SIGN UP a USER after DEPLOYING on HEROKU"
Hey lovely people out there,

Please help me out setting up my website.

http://whispering-basin-7616.herokuapp.com/

I have done everything and the social stream screen seems to be working.

but when I try to sign up a user it says "Something must have gone wrong"

please help me with this.

thanks,
Sachira.

[2013-12-11 08:23] atd commented on #470
Please, do not post questions in the issues tracker. If you have any questions about Social Stream, search the Wiki or use the Mailing List or Stack Overflow.

https://github.com/ging/social_stream/blob/master/CONTRIBUTING.md

[2013-12-11 08:23] #470 closed, assigned to nobody

[2013-12-11 08:23] atd commented on #471
Please, do not post questions in the issues tracker. If you have any questions about Social Stream, search the Wiki or use the Mailing List or Stack Overflow.

https://github.com/ging/social_stream/blob/master/CONTRIBUTING.md

[2013-12-11 08:23] #471 closed, assigned to nobody

[2013-12-11 08:24] #468 closed, assigned to nobody

[2013-12-20 22:19] gohoya commented on #469
Any idea when social stream will be back up? It's been like a month.

[2013-12-21 01:47] rcrisp commented on #469
I second this.  Any ETA on the website being available again?

I would really like to evaluate this for a current project I'm on, but much of the documenation/help/demos refers the to unavailable website.

[2014-01-16 05:09] rb512 opened #472 "Status updates only updates the current user's activity stream."
A change in activity (status updates, events, etc) should be reflected on the current user's contacts' activity stream as well.  It requires a manual refresh for the contacts to see those changes on their activity stream.

[2014-01-28 18:13] eduardojmendoza opened #473 "Public events are not shown in timeline"
Hi, when I create a new event and set it as public, that event is not shown in timeline, the only way it can be shown in timeline is when the event has any other role (colleague, friend or  acquaintance).

[2014-02-13 09:35] crispinh2o opened #474 "Bootstrap 3, is possible?"
I think in a future of Social Stream and need a change!!

I´m work in this adaptation in https://github.com/ging/social_stream-b3

Requests and suggestions?

[2014-03-18 15:30] Sigularusrex commented on #465
Sorry to bring up this again, I've noticed a new version was released since this question was asked.

Is Social_Stream compatible with Rails 4 yet?

Thanks

[2014-04-08 16:31] akhildave opened #475 "unable to start mod_sspresence - ejabberd"
Hi,
i am unable to start ejabber server because of mod_sspresence included in ejabberd.cfg file... can you please guide me.. what am i missing.. i am running social stream on local host.... My log file contents are below

ejabberd.log..........
=INFO REPORT==== 2014-04-08 21:47:03 ===
I(<0.37.0>:cyrsasl_digest:44) : FQDN used to check DIGEST-MD5 SASL authentication: "ajdave-desktop"

=INFO REPORT=

[2014-04-12 20:27] megetron opened #476 "help with setup: Don't know how to build task 'db:migrate'"
hi there,
after clon project and bundle it successfully I am trying to create the database and run  rake db:migrate, unfortunately i get this:
rake aborted!
Don't know how to build task 'db:migrate'
/usr/local/rvm/gems/ruby-2.0.0-p195@global/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/gems/ruby-2.0.0-p195@global/bin/ruby_executable_hooks:15:in`<main>'
(See full trace by running task with

[2014-04-13 10:56] bertocode commented on #476
I think the problem is, you are trying to directly use this proyect as a Rails App.

Try to create a new proyect without cloning and include this gem in the Gemfile.
The bundle and the database will work and you're app will be supported by social-stream.
Greetings.

[2014-04-13 21:54] megetron commented on #476
great.  now we had some progress.
installed dev environment and goes to the main page. it throws exception

Showing /usr/local/rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/social_stream-base-2.2.2/app/views/layouts/application.html.erb where line #12 raised:

You may not @extend an outer selector from within @media.
You may only @extend selectors within the same directive.
From "@extend .hi

[2014-04-14 23:56] megetron commented on #476
ok, figured it out.

[2014-04-14 23:56] #476 closed, assigned to nobody

[2014-04-15 00:01] megetron opened #477 "few newbie questions"
hi, just trying to use this project, looks interesting. few questions i hope someone can help with that.
1. how to add a new language to a project use all modules(documents, events etc...)
   I think it would be best create one file that will need the modification instead of multiple files, but just my opinion.
   so, how can I do this on a project that use social_stream as a gem?
2. how can i cha

[2014-04-15 08:43] atd commented on #477
@megetron please ask these questions in the google group or stackoverflow

https://github.com/ging/social_stream/blob/master/CONTRIBUTING.md

[2014-04-15 08:43] #477 closed, assigned to nobody

[2014-04-21 01:47] megetron opened #478 "paperclip issue"
hi there
after configured the paperclip in procudtion.rb file and upload it with heroku, i succeeded upload the files to amazon, but....
the website still shows the image URL of the root directory so all images/attachments are not viewable/downloadable

what do u think?

BTW,
documention to configure the paperclip is incorrect.
I have followed this link:
https://github.com/ging/social_stream/wiki/

[2014-06-13 14:55] Brainstorm00 opened #479 "ActiveRecord::InverseOfAssociationNotFoundError in Home#index"
Hi guys,
Many tnx for accepting me in this community :)

I tried to add a new activity and I have the following problem :

ActiveRecord::InverseOfAssociationNotFoundError in Home#index

Showing /Users/project/social_stream-started/app/views/activities/_new.html.erb where line #1 raised:

Could not find the inverse association for activity_object (:post in ActivityObject)
Extracted source (around l

[2014-06-13 14:57] devilankur18 commented on #465
+1

[2014-06-13 15:00] #479 closed, assigned to nobody

[2014-06-13 15:02] Brainstorm00 commented on #479
I resolved the problem was the same of another post :)

[2014-06-13 15:25] Brainstorm00 opened #480 "ActiveModel::MassAssignmentSecurity::Error in HomeworksController#create"
Hi everybody,

I have this error when I try to create something with my new activity

Can't mass-assign protected attributes: author_id, user_author_id, owner_id
Rails.root: /Users/project/social_stream-started

Application Trace | Framework Trace | Full Trace
Request

Parameters:

{"utf8"=>"✓",
 "authenticity_token"=>"wb37v0nNpMb3dVu3EEPKt3IDdnxXoYhUM9HwzSDdvyk=",
 "homework"=>{"type"=>"1",
 "act

[2014-06-17 13:58] yasirhashmi15 commented on #409
@railsbits  and @atd  Can you please tell me what you did? i am facing the same error

[2014-06-17 14:10] yasirhashmi15 opened #481 "NoMethodError (undefined method `relations' for nil:NilClass):"
I am trying to create new activity object as i followed below tutorial:

https://github.com/ging/social_stream/wiki/How-to-add-new-activity-objects

I created MVC using scaffold name subjects
I am receiving this error:

Started POST "/subjects" for 127.0.0.1 at 2014-06-17 15:00:06 +0100
Processing by SubjectsController#create as HTML
  Parameters: {"utf8"=>"✓", "authenticity_token"=>"dASWl4E7igoFk

[2014-06-17 14:14] yasirhashmi15 commented on #308
@wangj and @atd Can you please tell me what you did? i am facing the same error

[2014-06-18 08:32] yasirhashmi15 commented on #409
i solved my own problem.

The original create function in subject_controller:

def create
@subject = Subject.new(subject_params)

[code]

I changed the query here by providing the values of owner_id, author_id and user_auther_id by this:

@subject = Subject.new
    @subject.name = "Yasir"
    @subject.description = "Hashmi"
    @subject.owner_id = current_subject.try(:actor_id)
    @subject.author

[2014-07-14 08:06] leopoldchen opened #482 "sctor suggestions method is very very slow with candidates.delete_at rand(candidates.size)"
When there were thousands of users for suggestion, this method seems like cost 2-3 second. Then I google how to get random records by sql in rails, here is the result I got:

[code]

In this way, the solution could be

[code]

This will more faster then the original code.

But different database get different rand function. See detail in this url:
http://www.petefreitag.com/item/466.cfm
I don't kn

[2014-09-05 08:23] muhammadn commented on #465
Changing the gemspec would on solve part of the problem. I think i will look at the master branch with my code and see how compatible it is with Rails 4. I am using Rails 4.1 which as more bigger features than Rails 4.

[2014-09-07 14:46] aliirz commented on #439
@ajjublr did you manage to get this resolved?

[2014-09-08 04:29] aliirz commented on #476
@megetron how did you fix this sass error?

[2014-09-13 01:49] neil-s commented on #469
+1

[2014-09-16 19:23] jokwaro opened #483 "Website (http://social-stream.dit.upm.es) is down!"
http://social-stream.dit.upm.es/ - Website has been down for a couple of days now.

[2014-10-21 00:59] sungwoncho commented on #483
It is still down. Any news?

[2014-10-21 12:50] bertocode commented on #483
Thank you for notifying, we made changes in servers this past month, so some of the servers have gone down. We expect to put the site up for next week.
Sorry for the inconveniences caused.

[2014-10-26 20:16] mandym-webdev opened #484 "Website STILL down over a month later!"
In september you said it would be up in a week.  Any status?

[2014-10-30 08:19] sungwoncho commented on #484
any news?

[2014-10-30 12:17] bertocode commented on #484
This issue has been notified to the center this week as I said in the other issue. I close this due to duplicate. I hope they put the server up ASAP.

[2014-10-30 12:17] #484 closed, assigned to nobody

[2014-10-30 12:29] bertocode commented on #483
It's up. Sorry for this time down. If any troubles just let us know.

[2014-10-30 12:29] #483 closed, assigned to nobody

[2014-12-23 18:21] Ilya-Kuchaev commented on #465
Rails 4.2 is Live. Is there any progress with the compatibility?

[2014-12-27 17:20] tiberius411 opened #485 "Invitation (button)"
Hello,

Version 1.X.X of social stream provides a button in contacts to invitate friends with e-mail.

In version 2.x.x this button is not present anymore...

Could you help me to add it? (how, where, ....)

TIA

[2015-01-03 03:42] RailsCod3rFuture opened #486 "Upgrade Gemspec to support latest Devise?"
I'm getting this error when I try to install the social_stream-base

In Gemfile:
    social_stream-base (>= 0) x86-mingw32 depends on
      devise (~> 1.2.rc) x86-mingw32

[code]

[2015-01-03 03:55] BornALegend commented on #486
If I force install, will this break my app. That's what I'm really wondering.

[2015-02-16 18:47] supairish opened #487 "Doc links broken"
http://social-stream.dit.upm.es/started#components

Just shows error, "Error establishing a database connection"

[2015-03-29 07:09] abelard2008 commented on #480
I am not sure some one will meet the same question as mine. After I run "rails g scaffold Xoxo ...",  some other steps as described in [How to add new activity objects](https://github.com/ging/social_stream/wiki/How-to-add-new-activity-objects) and access "http://127.0.0.1/xoxos/new", I got the above error. The resolution is simple: Delete models/xoxo.rb's one line with "attire_accessible" like:

[2015-05-02 05:21] orelfligelman commented on #439
+1. Does anyone know how to fix this? The social stream docs say "please make sure devise is set up", so does that mean you need to run the devise generator? Im ambivalent about that because it would muck up the user model?

[2015-05-02 15:25] bertocode commented on #487
Works right over here.

[2015-05-02 15:25] #487 closed, assigned to nobody

[2015-05-22 07:53] hinagiku commented on #279
+1
you need create application_controller.rb in the app/controllers/

[2015-06-15 18:20] umarmughal824 opened #488 "unable to install it with latest versioni of rails."
Actually I'm using rails 4.2.1 version. I want to install social_stream. How can I make it possible? Please help me I shall be very thankful to you.

[2015-06-16 06:43] johndpope commented on #488
http://stackoverflow.com/questions/19533404/how-to-use-social-stream-in-rails-4-0

[2015-07-07 20:38] COConsulting commented on #488
Is there any update on when Social_Stream is expected to work with Rails 4?

[2015-07-07 20:45] bertocode commented on #488
Currently, we are not going to do any update on Social Stream to make Rails 4 work.
Nevertheless we encourage you to fork it and update it.

Apparently, they are already trying it in this repo: https://github.com/beder/social_stream

[2015-09-30 10:34] #474 closed, assigned to nobody

[2015-10-21 11:18] mpugach opened #489 "birthday.present? && !birthday.blank?"
in [Profile.rb](https://github.com/ging/social_stream/blob/master/base/app/models/profile.rb#L94)  the following construction is present

[code]

but Rails defines `present?` as

[code]

so why to call it twice?

[2016-02-25 17:48] damianfabian opened #490 "No route matches ... missing required keys: [:provider]"
I'm trying to run Social Stream with Rails 4.0.9 using this repository https://github.com/beder/social_stream, but I'm getting this error when I try to see the index page, any guide on how to resolve will be appreciate it!

No route matches {:action=>"passthru", :controller=>"omniauth_callbacks", :format=>nil, :provider=>:facebook} missing required keys: [:provider]

[2017-03-08 00:54] heath3n commented on #469
I don't think it's coming back up

[2017-03-08 12:48] bertocode commented on #469
I see it up. Doesn't let you in?

[2017-03-09 04:08] heath3n commented on #469
Huh. Wasn't working for me yesterday but it is now.

[2017-03-14 03:48] krtschmr opened #491 "is this gem dead?"
basically all the dependency gems are way ahead of the time, so you pretty much can't install it in new applications. also rails5 seems not to be supported.

[2021-06-06 02:38] SerhiiVynohradov commented on #491
@krtschmr thanks for testing.
I wish it was alive.

But probably dead, since your comment is way back from 2017 and no one responded.

I would guess that the project was too complex and too niche for self-sustainable ongoing development.
Probably, smaller more narrow-focused gems took over.

[2021-06-06 14:58] krtschmr commented on #491
RIIIPPP :rip:

[2021-06-08 12:09] atd commented on #491
@zoopyserg great analysis, I guess that is what happened. I left the project and it was too complex and too niche. I wish we had split the functionalities into smaller gems, which would have probably been more useful and easier to use

[2021-11-27 10:09] vinita000 commented on #441
Hi,
I am facing this error while running rails g scaffold.
/Users/vinita.kumari.vc/.rbenv/versions/3.0.2/lib/ruby/gems/3.0.0/gems/spring-2.1.1/lib/spring/application.rb:103:in `block in preload': undefined method `mechanism=' for ActiveSupport::Dependencies:Module (NoMethodError)
ruby version -3.0.2
rails version - 7.0.0

Thanks in advance
Vinita.

[2022-01-29 20:08] naveedHashmi commented on #441
Hi facing the same issue as @vinita000.

[2022-03-12 19:45] abdulhanan00 commented on #441
devise updated gem please use
`bundle update `

[2022-03-12 19:45] abdulhanan00 commented on #441
use `bundle update`